<!DOCTYPE html>
<html>
	<% include ../partials/head %>

	<body class="text-black base-font-size">
		<div class="wrapper mx-auto h-100">
			<% include ../partials/nav %>
			<div class="en">
				<div class="container py-5">
					<div class="row">
						<div class="col pull-right">
							<h1>Chinese American Service League- CASL</h1>
				<p>The Chinese American Service League (CASL) is located on the intersection of South Tan and Princeton Avenues in Chinatown. It is a non-profit organization serving the community of Chinatown. It has a very interesting history; CASL was established in 1978 by only 10 graduate students to engage the Chinese community in Chicago. Mr. Jared Pruitt is Chief Operating Officer at CASL and during an interview with Illinois Tech Students, he mentioned that this organization has made tremendous progress over the last 40 years. An interesting thing about this organization is that it has involved all age groups from the community. It has an early start program for children from 6 months to 5 years, and an after-school program called K Through Five for age 5 years and up. These after-school programs provide workshops on stress management and how to deal with social anxiety along with other fun activities. CASL also works with high school students to prepare them for college. Mr. Pruitt mentioned that in the year 2017, CASL had a 100% graduation rate among the high school students they were working with. Apart from working with the youths, CASL also provides resources for senior citizens and helps new immigrants to settle in the community. They offer workshops to help them develop relevant skills to succeed in American society including English speaking classes.  CASL is highly recommended among new immigrants as they provide so many resources; some immigrants contact CASL before arriving to the United States to request help settling in the new environment. CASL provides classes on obtaining citizenship, legal clinic hours, and employment programs - a big step in helping new immigrants get a head start.  Not only socially, but CASL has also played a huge role in the economy of Chinatown. Throughout the year, the organization employs nearly 1200 people. It's evident that CASL has made immense progress over the last 40 years, and it will continue to do so.</p>
			</div>
			</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
		</div>
	</body>

</html>
