<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>Chinese American Service League- CASL</h1>

                            <audio src="/audio/en/casl.mp3" controls>
                            Recording of CASL article
							 </audio>
                                        
								<p> <br>
									The Chinese American Service League (CASL) is located on the intersection of South Tan and Princeton Avenues in Chinatown. It is a non-profit organization serving the community of Chinatown. CASL was established in 1978 by only 10 graduate students to engage the Chinese community in Chicago. CASL has also played a huge role in the economy of Chinatown. Throughout the year, the organization employs nearly 1200 people. <br> <br />
									Jared Pruitt is Chief Operating Officer at CASL. He says it has made tremendous progress over the last 40 years. An interesting thing about this organization is that it has involved all age groups from the community. It has an early start program for children from 6 months to 5 years, and an after-school program called K Through Five for age 5 years and up. These after-school programs provide workshops on stress management and how to deal with social anxiety along with other fun activities. <br> <br />
									CASL also works with high school students to prepare them for college. Mr. Pruitt mentioned that in 2017, CASL had a 100% graduation rate among the high school students they were working with. <br> <br />
									Apart from working with youth, CASL also provides resources for senior citizens and helps new immigrants to settle in the community. They offer workshops to help them develop relevant skills to succeed in American society including English speaking classes. <br> <br />
									CASL is highly recommended among new immigrants as they provide many resources. Some immigrants contact CASL before arriving to the United States to request help settling in the new environment. CASL provides classes on obtaining citizenship, legal clinic hours, and employment programs—a big step in helping new immigrants get a head start. 
								<p>
									The Chinese American Service League (CASL) is located on the intersection of South Tan and Princeton Avenues in Chinatown. It is a non-profit organization serving the community of Chinatown. CASL was established in 1978 by only 10 graduate students, including CW Chan, to engage the Chinese community in Chicago. It originally was for volunteer work until they saw many needs being unmet and so, CASL has also played a huge role in the economy of Chinatown. Throughout the year, the organization employs nearly 1200 people. <br> <br />
									Jared Pruitt is Chief Operating Officer at CASL. He says it has made tremendous progress over the last 40 years. An interesting thing about this organization is that it has involved all age groups from the community. It has an early start program for children from 6 months to 5 years, and an after-school program called K Through Five for age 5 years and up. These after-school programs provide workshops on stress management and how to deal with social anxiety along with other fun activities. <br> <br />
									CASL also works with high school students to prepare them for college. Mr. Pruitt mentioned that in 2017, CASL had a 100% graduation rate among the high school students they were working with. <br> <br />
									Apart from working with youth, CASL also provides resources for senior citizens and helps new immigrants to settle in the community. They offer workshops to help them develop relevant skills to succeed in American society including English speaking classes. <br> <br />
									CASL is highly recommended among new immigrants as they provide many resources. Some immigrants contact CASL before arriving to the United States to request help settling in the new environment. CASL provides classes on obtaining citizenship, legal clinic hours, and employment programs—a big step in helping new immigrants get a head start. <br>
                                    Sources:CW Chan Interview.
								</p>
							</div>
						</div>
						<div class="col py-5">
							  <img src="/images/locations/casl.jpg" class="img-fluid" alt="Image of Chinese American Service League Kam L. Liu Building">
						</div>
					</div>
				</div>
				<div class="zh_HANT container pages-center-div">
					<div class="row">
						<div class="col py-4">
							<div class="show-hide-text">
									<a  id="show-more" class="show-less" href="#show-less">收起</a>
									<a  id="show-less" class="show-more" href="#show-more">展开</a>
									 <audio src="/audio/zh_HANS/casl.mp3" controls>
                            Recording of CASL article
                        </audio>
							<h1>华人咨询服务所</h1>
							<p>华人咨询服务所（后称CASL）坐落于中国城的South Tan和Princeton大道的交叉口。它是一个为中国城服务的非营利性组织, 并且有着非常有趣的历史。CASL在1978年仅仅由十个硕士学生建立，便加入到了芝加哥的华人社区中来。CASL在唐人街的经济中发挥了重大的作用。<br> <br />
							  Jared Pruitt是CASL的首席运营官（COO）。Jared Pruitt先生提及，这个组织在过去40年中做出了杰出的贡献并取得了巨大的进步。这个组织的其中一个有趣的点是它涵盖了整个社区所有年龄段的人。它拥有一个面向6个月大到5岁孩童的早教工程。此外还有一个被称作“K Through Five”的工程，为5岁及以上的儿童定制。这些课后班提供关于减压，处理社会焦虑以及许多其他有趣的活动。<br> <br />
							    CASL同样帮助高中学生，帮助他们为大学生活做准备。Pruitt先生提起过，在2017年，CASL帮助的高中学生的毕业率达到了100%。<br> <br />
								除了为年轻人提供服务以外，CASL还为年长的市民提供资助，帮助新移民在社区定居。CASL的 提供工房来帮助他们培养相关技能，以及英语口语课程，来在美国社会中获得成功。<br> <br />
								 由于它可以提供相当多的资源，CASl在新移民中被广泛推荐。有些移民会在来美国之前联系CASL，帮助他们在新环境中站住脚跟。CASL提供获得公民权的课程，合法的诊所，以及求职信息——对于新移民来说是非常有帮助的。</p>
							</div>
						</div>
						<div class="col py-5">
							  <img src="/images/locations/casl.png" class="img-fluid" alt="华人咨询服务所的照片">
						</div>
					</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
							<h1>華人諮詢服務所</h1>
										<p>華人諮詢服務所（後稱CASL）坐落於中國城的South Tan和Princeton大道的交叉口。它是一個為中國城服務的非營利性組織, 並且有著非常有趣的歷史。 CASL在1978年僅僅由十個碩士學生建立，便加入到了芝加哥的華人社區中來。 CASL在唐人​​街的經濟中發揮了重大的作用。<br> <br />
										Jared Pruitt是CASL的首席運營官（COO）。 Jared Pruitt先生提及，這個組織在過去40年中做出了傑出的貢獻並取得了巨大的進步。這個組織的其中一個有趣的點是它涵蓋了整個社區所有年齡段的人。它擁有一個面向6個月大到5歲孩童的早教工程。此外還有一個被稱作“K Through Five”的工程，為5歲及以上的兒童定制。這些課後班提供關於減壓，處理社會焦慮以及許多其他有趣的活動。<br> <br />
										 CASL同樣幫助高中學生，幫助他們為大學生活做準備。 Pruitt先生提起過，在2017年，CASL幫助的高中學生的畢業率達到了100%。<br> <br />
										除了為年輕人提供服務以外，CASL還為年長的市民提供資助，幫助新移民在社區定居。 CASL的 提供工房來幫助他們培養相關技能，以及英語口語課程，來在美國社會中獲得成功。<br> <br />
										由於它可以提供相當多的資源，CASl在新移民中被廣泛推薦。有些移民會在來美國之前聯繫CASL，幫助他們在新環境中站住腳跟。 CASL提供獲得公民權的課程，合法的診所，以及求職信息——對於新移民來說是非常有幫助的。
										</p>
							</div>
						</div>
						<div class="col py-5">
							  <img src="/images/locations/casl.png" class="img-fluid" alt="華人諮詢服務所的照片">
						</div>
				</div>
			</div>
            <% include ../partials/footer %>
	    <% include ../partials/scripts %>
    </body>
</html>
