<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
        <% include ../partials/nav %>
	        <div class="en container pages-center-div">
	            <div class="row">
                    <div class="col py-4">
		                <div class="show-hide-text">
			                <a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			                <a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
			                <h1>CBCAC</h1>
                                <audio src="/audio/en/cbcac.mp3" controls>
                                    Recording of CBCAC article
                                </audio>
			<p><br>In 1998, the Chinese American Service League (CASL), Chinese Consolidated Benevolent Association (CCBA), Chinatown Chamber of Commerce, Pui Tak Center, and Chinese Christian Union Church (CCUC) formed the Coalition for a Better Chinatown (CBC), now called the Coalition for a Better Chinese American Community, in order to fight against presence and marketing of casinos in the community. <br> <br />
			    In 2000 CBCAC worked on a project called “Asian American Vote 2000”. The goal of the project was to encourage the community to vote and gain political power to make needed changes in the Chinatown community. <br> <br />
			    CBCAC advocated for a single legislative district for setting an agenda for elections. Since the community didn’t have power for more than 100 years, CBCAC and Chinatown community members came up with a list of things the community needed. The most important were what became the Chinatown Branch of the Chicago Public Library,Leonard M. Louie Fisher Field House, and Ping Tom Park. In ten years, they accomplished all of their goals. <br> <br />
			    CBCAC collaborated with the Chicago Metropolitan Agency for Planning on making the Chinatown Vision Plan project. In pursuance of community needs, CBCAC took inputs from more than 1,000 community members. <br> <br />
			    Currently, they are implementing a Chinatown Vision Plan project. It includes plans for education, transportation, infrastructure, parking, safety, and social and economic aspects of Chinatown. <br> <br />
			    Youth in Chinatown play a very important role in CBCAC. Young volunteers from local high schools helped in promoting the importance of elections by talking with community members. They registered more than 16,000 voters. CBCAC’s youth group, ORIGIN, has been organizing a community meeting to discuss the Chinatown community’s problems and solutions.</p>
		    </div>
		</div>
		<div class="col">
		    <img src="/images/Chinatown_Pictures/CBCAC/cbcac.png" class="img-fluid" alt="Picture of CBCAC">
		</div>
	    </div>
        </div>
        <div class="zh_HANS container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
			<h1>华埠更好团结联盟</h1>
            <!-- <audio src="/audio/zh_HANS/cbcac.mp3" controls>
                 Recording of CBCAC article
                 </audio> -->
			<p>在1998年，五个不同的组织（CASL，华人联合慈善会，中国城华人商会，培德中心以及华人基督徒教会联盟）成立了CBC（现在称为CBCAC）来遏制赌场的出现和运营。<br> <br />
			    在2000年的时候，他们参与了“亚裔美国人投票2000”。这个活动的目的是鼓励整个社区进行投票从而让他们的政治声音变得更有力。<br> <br />
			    CBCAC呼吁成立一个单独的立法区来建立选举日程。由于这个社区在过去一百年都没有什么权利，CBCAC和中国城社区成员罗列出了他们所需求的事物。这之中最重要的几项是公共图书馆、运动场和公园。在十年间他们已经完成了所有的目标。<br> <br />
			    CBCAC同样和芝加哥铁路系统进行合作，计划设计中国城计划工程。CBCAC追求着社区的需求，收集了超过1000名社区成员的需要。<br> <br />
			    现在，他们正在实施中国城计划工程。该工程触及教育、通勤、建设、驻车、以及中国城的社会和经济层面。<br> <br />
			    中国城的年轻人在CBCAC中扮演着重要的角色。本地高中的年轻学生志愿者通过和社区成员进行沟通交流的方式来提升他们对于选举和投票的重视程度。他们征集了16000张选票。除此之外，CBCAC的年轻人建立一个能够讨论中国城的问题和解决方案的组织， ORIGIN。</p>
		    </div>
		</div>
		<div class="col">
		    <img src="/images/Chinatown_Pictures/CBCAC/cbcac.png" class="img-fluid" alt="Picture of CBCAC">
		</div>
	    </div>
	</div>
	<div class="zh_HANT container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
				<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
				<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
			<h1>華埠更好團結聯盟</h1>
                <audio src="/audio/zh_HANT/CBCAC.mp4" controls>
                                        Recording of CCVP article
                            </audio>
			<p>在1998年，五個不同的組織（CASL，華人聯合慈善會，中國城華人商會，培德中心以及華人基督徒教會聯盟）成立了CBC（現在稱為CBCAC）來遏制賭場的出現和運營。<br> <br />
			    在2000年的時候，他們參與了“亞裔美國人投票2000”。這個活動的目的是鼓勵整個社區進行投票從而讓他們的政治聲音變得更有力。<br> <br />
			    CBC（現在的CBCAC）呼籲一個單獨的立法區來建立選舉日程。由於這個社區在過去一百年都沒有什麼權利，CBC和中國城社區成員羅列出了他們所欲求的事物。這之中最重要的是公共圖書館、運動場和公園。在十年之中他們完成了所有的目標。<br> <br />
			    CBCAC同樣和芝加哥鐵路系統進行合作，計畫設計中國城計畫工程。CBCAC追求著社區的需求，收集了超過1000名社區成員的需要。<br> <br />
			    現在，他們正在實施中國城計畫工程。該工程觸及教育、通勤、建設、駐車、以及中國城的社會和經濟層面。<br> <br />
			    中國城的年輕人在CBCAC中扮演著重要的角色。本地高中的年輕學生志願者通過和社區成員進行溝通交流的方式來提升他們對於選舉和投票的重視程度。他們徵集了16000張選票。除此之外，CBCAC的年輕人建立一個能夠討論中國城的問題和解決方案的組織， ORIGIN。</p>
		    </div>
		</div>
		<div class="col">
		    <img src="/images/Chinatown_Pictures/CBCAC/cbcac.png" class="img-fluid" alt="CBCAC的照片">
		</div>
	    </div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
    </body>
</html>
