<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
	<div class="wrapper mx-auto h-100">
	    <% include ../partials/nav %>
	    <div class="en">
		<div class="container py-5">
		    <div class="row">
			<div class="col pull-right">
			    <h1>CBCAC</h1>
			    <p>In 1998, five different organizations (CASL, Chinese Consolidated Benevolent Association, Chinatown Chamber of Commerce, Pui Tak Center and Chinese Christian Union Church) formed CBC (now CBCAC) in order to fight against presence and marketing of casinos in the community.</p>

			    <p>In 2000 CBCAC, worked on a project “Asian American Vote 2000”. The goal of the project was to encourage the community to vote and gain political power to make needed changes in the Chinatown community.</p>

			    <p>CBC (now CBCAC) advocated for a single legislative district for setting an agenda for elections. Since the community didn’t have power for more than 100 years, CBC and Chinatown community members came up with a list of needed things. The most important were the public library, field house, and park. In ten years they accomplished all of their goals.</p>

			    <p>CBCAC was also collaborating with the Chicago Metropolitan Agency for Planning on making Chinatown Vision Plan project. In pursuance of community needs, CBCAC took inputs from more than 1,000 community members.</p>

			    <p>Currently, they are implementing a Chinatown Vision Plan project. It touches education, transportation, infrastructure, parking, safety,  and social and economic aspects of the Chinatown.</p>

			    <p>The Chinatown youth plays a very important role in CBCAC. The young volunteers from local high schools helped in promoting the importance of election by talking with community members. They regrouted more than 16,000 voters. To add, CBCAC youth is organizing a community meeting where they discuss Chinatown community problems and solutions.</p>

			</div>
		    </div>
		</div>
		<% include ../partials/footer %>
		<% include ../partials/scripts %>
	    </div>
    </body>
</html>
