<!DOCTYPE html>
<html>
	<% include ../partials/head %>

	<body class="text-black base-font-size">
		<div class="wrapper mx-auto h-100">
			<% include ../partials/nav %>
			<div class="en">
				<div class="container py-5">
					<h1>Chinese-American Museum of Chicago</h1>
					<p>
						Just west of the intersection of Wentworth and 23rd Street in Chinatown is a small Chinese American Museum that’s full of treasures and wonders. Opened in 2005, the museum is designed to promote the culture and history of Chinese Americans in the Midwest through exhibitions, education, and research. The historic structure was originally a wholesale and general store, Quong Yick Co., and was donated to the museum by Raymond B. Lee. The museum has two galleries featuring mesmerizing artifacts and oral history accounts reflecting the quintessential experiences of Chinese Americans in the Midwest as well as a model Chinese hand laundry, a grocery store, and a restaurant. On the second floor, there is an object theatre which shows a 16-minute video, My Chinatown: Stories from Within. This unique audio-visual experience features the stories of Chinese Americans and their journeys to the United States. The stories share significant personal experiences while highlighting the history of Chinatown and the people who call it home. The museum also hosts different special events and exhibits to focus on an array of topics, such as historic Chinese fashion. Throughout the year, there are a series of film screenings and presentations/book talks presented at the museum.
					</p>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
		</div>
	</body>
</html>
