<!DOCTYPE html>
<html>
	<% include ../partials/head %>

	<body class="text-black base-font-size">
		<div class="wrapper mx-auto h-100">
			<% include ../partials/nav %>
		    <div class="en">
			<div class="container py-5">
			    <h1>Chinese-American Museum of Chicago</h1>
			    <p>
				Just west of the intersection of Wentworth and 23rd Street in Chinatown is a small Chinese American Museum that’s full of treasures and wonders. Opened in 2005, the museum is designed to promote the culture and history of Chinese Americans in the Midwest through exhibitions, education, and research. The historic structure was originally a wholesale and general store, Quong Yick Co., and was donated to the museum by Raymond B. Lee. The museum has two galleries featuring mesmerizing artifacts and oral history accounts reflecting the quintessential experiences of Chinese Americans in the Midwest as well as a model Chinese hand laundry, a grocery store, and a restaurant. On the second floor, there is an object theatre which shows a 16-minute video, My Chinatown: Stories from Within. This unique audio-visual experience features the stories of Chinese Americans and their journeys to the United States. The stories share significant personal experiences while highlighting the history of Chinatown and the people who call it home. The museum also hosts different special events and exhibits to focus on an array of topics, such as historic Chinese fashion. Throughout the year, there are a series of film screenings and presentations/book talks presented at the museum.
					</p>
				</div>
		    </div>
                    <div class="zh_HANS container py-5">
                        <h1>芝加哥美洲华裔博物馆</h1>
                        <p>芝加哥美洲华裔博物馆在Wentworth和23街交汇口以西，是一个充满珍宝和奇观的小型博物馆。它于2005年开馆，旨在通过展览教育，和研究来促进美国华裔的文化与历史。这座充满历史感的建筑曾经是一个批发综合商店Quong Yick Co，而后被Raymond B. Lee捐赠给博物馆。博物馆有两个展览馆，展示了迷人的文物和口述的历史。他们反映了美国华裔在中西部的典型经历以及一家典型中国手洗洗衣店，一家杂货店，还有一家餐馆。在二楼，有一个对象剧场放映了一部16分钟的视频，名为我的唐人街: 来自内部的故事。这一独特的视听体验讲述了华裔美国人的故事以及他们前往美国的旅程。这些故事分享了重要的个人经历也突出了唐人街的历史和称它为家的人们。博物馆里还会举办不同的特别活动及展览来讨论一系列主题，如中国的历史时尚。一年以来，博物馆开展了一系列电影放映和专题介绍/书籍讲座的活动。</p>
                    </div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
		</div>
	</body>
</html>
