<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
                                                        <audio src="/audio/en/ccuc.mp3" controls>
                                                            Recording of Chicago Chinese Christian Church article
                                                        </audio>
								<p>
								In 1915, the Chicago Chinese Christian Church (CUCC) was established at the Chinatown Center in Chicago. It has established the CUCC-North, CUCC-South, CUCC-West, and the Peide Community Center to serve Chinese people in Chinatown. <br>
								According to Father Annette Moy, of CUCC: <br>
								<i>“The church hosts different language activities on Sunday mornings, including an English-speaking event, two Cantonese-speaking events and a Mandarin-speaking event. Also, every Friday night, the church will host a number of youth activities, ranging from second-year to college students
 The church has been in the Chinatown community for many years. During these years, many changes have taken place. The church has changed from a small house to three buildings and is still developing.”</i>
								The church vision is to be a Great Commission Church that glorifies God by reaching out to Chinatown, Greater Chicago, and the world at large. To achieve this vision, these are the core values that will guide the church: A Commitment to Worship, A Commitment to Prayer, A Commitment to Biblical Teaching, A Commitment to Missions, A Commitment to Discipleship, A Commitment to Family Ministry, A Commitment to Multiculturalism, and A Commitment to Unity. </p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/jpg" class="img-fluid" alt="Picture of CCUC">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<p>
									1915年，华人基督教联合会(CCUC)在芝加哥华埠中心成立。教会建立了城北堂、城南堂、城西堂和培德社区中心来为唐人街的华人服务。<br>
									据CCUC的神父Annette Moy说。<br>
									<i>“教堂在每周日上午都会举行不同语言的活动，包括一个英文活动，两个粤语活动和一个普通话的活动。每周五晚上，教堂还会举办一些有关青少年的活动，会有从二年级到大学生的青年群体参加。教会已经加入中国城很多年了，在这些年间，发生了很多变化。教会也已经从一间小小的房子变成了三座建筑，并且还在不断的发展中。”</i><br>
								教会的愿望是成为一个荣耀神的「大使命教会」，要将福音带进华埠，芝加哥，以及全世界。为达成这一愿望，教会有以下的核心价值观：致力于敬拜；致力于祷告；致力于圣经教导；致力于宣教；致力于门徒训练；致力于家庭事工；致力于多元文化；致力于合一。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/jpg" class="img-fluid" alt="Picture of CCUC">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<p>
									1915年，華人基督教聯合會(CCUC)在芝加哥華埠中心成立。教會建立了城北堂、城南堂、城西堂和培德社區中心來為唐人街的華人服務。<br>
									據CCUC的神父Annette Moy說，<br>
									<i>“教堂在每週日上午都會舉行不同語言的活動，包括一個英文活動，兩個粵語活動和一個普通話的活動。每週五晚上，教堂還會舉辦一些有關青少年的活動，會有從二年級到大學生的青年群體參加。教會已經加入中國城很多年了，在這些年間，發生了很多變化。教會也已經從一間小小的房子變成了三座建築，並且還在不斷的發展中。 ”</i><br>
								教會的願望是成為一個榮耀神的「大使命教會」，要將福音帶進華埠，芝加哥，以及全世界。為達成這一願望，教會有以下的核心價值觀：致力於敬拜；致力於禱告；致力於聖經教導；致力於宣教；致力於門徒訓練；致力於家庭事工；致力於多元文化；致力於合一。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/jpg" class="img-fluid" alt="Picture of CCUC">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
