<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
								<p>The Chinatown gate, at the east end of Wentworth, is a sign that holds a lot of history for residents of Chinatown. It is a representation of the community at large in Chinatown and it has stood the test of time.<br>
								The red and gold gate is decorated by a large Chinese inscription on the gate, translated roughly as saying “The world is for all.” It speaks to the idea of harmony and community that Chinatown is known for. The gate is the entranceway to a community, filled with various shops and businesses that open people to a different culture, or for some, remind people of their own culture. <br>
								Chinatown gate is an important landmark for Chinatown and Chicago. It is a symbol of the Chinese community and also a symbol for visitors to feel welcomed into such a close-knit community. As time passes, the red and gold gate will continue to be a passageway and icon for many years to come. </p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid" alt="Picture of Chinatown Gate">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>唐人街大门——岁月的标志</h1>
							<p>位于温特沃斯东端的唐人街大门是唐人街的悠久历史的标志。 它是唐人街整个社区的代表，经得起时间的考验。<br>
								红色和金色的大门由大门上的大型中国铭文装饰，大致翻译为“世界属于所有人”。它说的是唐人街闻名的和谐与社区的概念。 大门是社区的入口，遍布各种商店和企业，让人们了解不同的文化，或者向人提醒他们自己的文化。<br>
								唐人街门是唐人街和芝加哥的重要地标。 它是华人社区的象征，也是欢迎游客进入这样一个紧密社区的象征。 随着时间的推移，红色和金色的大门将继续成为未来许多年的通道和图标。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid" alt="Picture of Chinatown Gate">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<h1>唐人街大門——歲月的標誌</h1>
								<p>位於溫特沃斯東端的唐人街大門是唐人街的悠久歷史的標誌。它是唐人街整個社區的代表，經得起時間的考驗。<br>
								紅色和金色的大門由大門上的大型中國銘文裝飾，大致翻譯為“世界屬於所有人”。它說的是唐人街聞名的和諧與社區的概念。大門是社區的入口，遍布各種商店和企業，讓人們了解不同的文化，或者向人提醒他們自己的文化。<br>
								唐人街門是唐人街和芝加哥的重要地標。它是華人社區的象徵，也是歡迎遊客進入這樣一個緊密社區的象徵。隨著時間的推移，紅色和金色的大門將繼續成為未來許多年的通道和圖標。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid"  alt="Picture of Chinatown Gate">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>