<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<% include ../partials/nav %>
	<div class="en container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
			<h1>Chinatown Chamber of Commerce</h1>
                        <audio src="/audio/en/commerce.mp3" controls>
                            Recording of Chinatown Chamber of Commerce article
                        </audio>
			<p> <br>
			    In 1983, business owners created the Chinatown Chamber of Commerce to connect residents with local businesses, national corporations, and government agencies. Over the years, the chamber has grown to include over 250 business members. The chamber now has members including small businesses in Chinatown and large organizations from across the Chicago area. 
			    <br> <br />
			    The chamber promotes and participates in community and culturally events, like the Chinese New Year Parade, the Dragon Boat Race, and the Miss Friendship Ambassador Pageant. 
			    <br> <br />
			    While there are a variety of historic businesses on Wentworth Ave, you can also find new businesses throughout Chinatown. Commercial corridors are now located on streets like Wentworth, Archer, and Cermak, and in shopping plazas like Chinatown Square. New businesses are bringing diverse cuisine, language, and culture. There are a growing number of Korean and Thai businesses, as well as Szechuan restaurants located across Chinatown.
			    <br> <br />
			    Commercial developments such as the Wintrust Arena at the McCormick Place Conference Center and “The 78,” a high-end commercial development, are bringing new development to the areas to the west of Chinatown.  South Loop development has also begun to bring new businesses and to the north of Chinatown. 
			</p>
		    </div>
		</div>
		 <div class="col py-5">
		     <img src="/images/civics/commerce2.jpg" class="img-fluid" alt="Picture of chamber of commerce">
		  </div>
	    </div>
	</div>
	<div class="zh_HANS container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
			<h1>芝城华商会</h1>
                        <audio src="/audio/zh_HANS/commerce.mp3" controls>
                            Recording of Chinatown Chamber of Commerce article
                        </audio>
			<p>
			    1983年，一些当地的企业主成立了芝加哥中国城商会，旨在将居民与本地生意、美国公司和政府机构联系起来。经过了这些年的发展之后，已经有将近300家企业进入了商会。不同于以往，除了中国城的小本生意之外，现在的商会还包括了芝加哥中心地区的不少大型企业。
			    <br> <br />
			    芝加哥中国城商会的作用主要是帮助芝加哥中国城的企业进行宣传并让他们参与到社区活动之中，像农历新年游行、赛龙舟和友谊小姐选美比赛。
			    <br> <br />
			    尽管经过了将近四十年的发展，Wentworth街上除了有许多各种各样历史悠久的企业，你还可以看到不少最近兴起的新企业。像Wentworth街、Archer街、Cermak街还有中国城广场等地方已经逐渐发展成一条条商业街和购物广场。新的商业内容也带来了不同的美食、语言和文化。有越来越多的韩国商户和泰国商户选择在这里开展分店，就像那些四川餐馆一样遍布中国城。
			    <br> <br />
			    同样的，像McCormick Place 会议中心的Wintrust竞技场和高端商业开发项目“The 78”，他们都正在为中国城以西的地区带来新的发展机会和商业资源。而多亏了South Loop地区的新的项目，越来越多的商户选择在中国城北部地区进行发展。
			</p>
		    </div>
		</div>
		<div class="col py-5">
		    <img src="/images/civics/commerce2.jpg" class="img-fluid" alt="中国城商会的照片">
		</div>
	    </div>
	</div>
	<div class="zh_HANT container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
			<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
			<h1>芝城华商会</h1>
			<p>
			    1983年，壹些當地的企業主成立了芝加哥中國城商會，旨在將居民與本地生意、美國公司和政府機構聯系起來。經過了這些年的發展之後，已經有將近300家企業進入了商會。不同於以往，除了中國城的小本生意之外，現在的商會還包括了芝加哥中心地區的不少大型企業。
			    <br> <br />
			    芝加哥中國城商會的作用主要是幫助芝加哥中國城的企業進行宣傳並讓他們參與到社區活動之中，像農歷新年遊行、賽龍舟和友誼小姐選美比賽。
			    <br> <br />
			    盡管經過了將近四十年的發展，Wentworth街上除了有許多各種各樣歷史悠久的企業，妳還可以看到不少最近興起的新企業。像Wentworth街、Archer街、Cermak街還有中國城廣場等地方已經逐漸發展成壹條條商業街和購物廣場。新的商業內容也帶來了不同的美食、語言和文化。有越來越多的韓國商戶和泰國商戶選擇在這裏開展分店，就像那些四川餐館壹樣遍布中國城。
			    <br> <br />
			    同樣的，像McCormick Place 會議中心的Wintrust競技場和高端商業開發項目“The 78”，他們都正在為中國城以西的地區帶來新的發展機會和商業資源。而多虧了South Loop地區的新的項目，越來越多的商戶選擇在中國城北部地區進行發展。
			</p>
		    </div>
		</div>
		<div class="col py-5">
		    <img src="/images/civics/commerce2.jpg" class="img-fluid" alt="中國城商會的照片">
		</div>
	    </div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
    </body>
</html>
