<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<% include ../partials/nav %>
	<div class="en container">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>																	<h1>Family Associations</h1>
                        <audio src="/audio/en/familyAssoc.mp3" controls>
                            Recording of Family Associations article
                        </audio>
			<p>Family associations have historically played a large role in Chinatowns across the US cities, including Chicago. When Chinese immigrants began arriving in Chicago, the majority were male workers due to the Chinese Exclusion Act. <br>
			    In order to help recently arrived immigrants and provide a sense of stability, Family Associations were formed. Many associations focused on unifying immigrants from the same region and establish a family away from home. After the War Brides Act was passed, Chinese women began immigrating to Chicago. Family associations began helping immigrants and their newly arrived families find jobs and housing. As time progressed many family associations have focused on maintaining their culture, and traditions.  <br>
			    Today, many maintain ties to the Chinese regions where most of their members are from, and provide assistance for disaster relief and infrastructure upgrades. There are approximately 20 active family associations in Chicago today. <br>
			    As immigration patterns from China have changed in recent years, there have been fewer members joining, and several associations have merged. As senior members enter retirement, many groups are looking to young people in Chinatown to continue the organizations. As more Chinese Americans move to surrounding areas, organization meetings and events help keep the members connected to their heritage. </p>
		    </div>
		</div>
		<!-- <div class="col py-5">
		     <img src=""  class="img-fluid"  alt="Picture of Family Associations">
		     </div> -->
	    </div>
	</div>
	<div class="zh_HANS container ">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
                        <h1>家庭协会</h1>
                        <audio src="/audio/zh_HANS/familyAssoc.mp3" controls>
                            Recording of Family Associations article
                        </audio>
			<p> 从历史上看，家族协会在包括芝加哥在内的美国城市的唐人街扮演着重要角色。当中国移民开始抵达芝加哥时，由于《排华法案》的存在，男性工人占了大多数。<br>
			    为了帮助新移民并为他们提供安全感，家庭协会成立了。协会致力于统一来自同一地区的移民，建立一个远离家乡的家庭。战争新娘法案通过后，许多中国妇女开始加入移民的浪潮。家庭协也会帮助移民找到工作和住房。随着时间的推移，许多家庭协会都致力于维护他们的文化和传统。<br>
			    如今，许多中国企业与大部分来自的中国地区的成员保持联系，并为救灾和基础设施升级提供援助。如今芝加哥大约有20个活跃的家庭协会。<br>
			    近年来，随着中国移民模式的改变，入会会员减少，多个协会合并。随着老年会员进入退休年龄，许多组织都在寻找唐人街的年轻人来延续这些组织。随着越来越多的华裔美国人搬到周边地区，组织会议和活动有助于让这些成员与他们的传统保持联系。</p>
		    </div>
		</div>
		<div class="col py-5">
		    <img src=""  class="img-fluid"  alt="家庭协会的照片">
		</div>
	    </div>
	</div>
	<div class="zh_HANT container ">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
			<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
                        <h1>家庭協會</h1>
			<p> 從歷史上看，家族協會在包括芝加哥在內的美國城市的唐人街扮演著重要角色。當中國移民開始抵達芝加哥時，由於《排華法案》的存在，男性工人佔了大多數。<br>
			     為了幫助新移民並為他們提供安全感，家庭協會成立了。協會致力於統一來自同一地區的移民，建立一個遠離家鄉的家庭。戰爭新娘法案通過後，許多中國婦女開始加入移民的浪潮。家庭協也會幫助移民找到工作和住房。隨著時間的推移，許多家庭協會都致力於維護他們的文化和傳統。<br>
			     如今，許多中國企業與大部分來自的中國地區的成員保持聯繫，並為救災和基礎設施升級提供援助。如今芝加哥大約有20個活躍的家庭協會。<br>
			    近年來，隨著中國移民模式的改變，入會會員減少，多個協會合併。隨著老年會員進入退休年齡，許多組織都在尋找唐人街的年輕人來延續這些組織。隨著越來越多的華裔美國人搬到周邊地區，組織會議和活動有助於讓這些成員與他們的傳統保持聯繫。</p>
		    </div>
		</div>
		<div class="col py-5">
		    <img src=""   class="img-fluid" alt="家庭協會的照片">
		</div>
	    </div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
    </body>
</html>
