<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<p>
									Family associations have historically played a large role in Chinatowns across the US cities, including Chicago. When Chinese immigrants began arriving in Chicago, the majority were male workers because of the Chinese Exclusion Act.  In order to help recently arrived immigrants and provide a sense of stability, Family Associations were formed.  Many associations focused on unifying immigrants from the same region and establish a family away from home.  After the Chinese War Brides Act was passed, Chinese women began immigrating to Chicago.  Family associations began helping immigrants and their newly arrived families find jobs and housing.  As time progressed many family associations have focused on maintaining their culture, and traditions.  Today, many maintain ties to Chinese regions where most of their members are from, and provide assistance for disaster relief and infrastructure upgrades.  
									<br>
								There are approximately 20 active family associations in Chicago today. As immigration patterns from China have changed in recent years, there have been fewer members joining, and several associations have merged.  As senior members enter retirement, many organizations are looking to young people in Chinatown to continue the organizations.  As more Chinese Americans move to surrounding areas, organization meetings and events help keep the members connected to their heritage.  Several family associations have websites and office locations that can be found walking around Chinatown.
									<br>
									See more about the Moy Family Association:
									<br>
									Q: What is the history of your association?
									<br>
									A: The Moy’s Family Association headquarters in Chicago was founded over 100 years ago in the original Chinatown, at Clark and Van Buren. It moved to its present location in the 1920’s. Its members are from one area in Duan Fen, Taishan, Guangdong.
									<br>
									Q: What is the mission of your organization?
									<br>
									A: The mission of the Moy Family Association is to unify the Moy descendants in the U.S. and to promote mutual assistance for all the members and the local communities. It helps the descendants to learn and maintain the Chinese cultural heritage and language.
									<br>
									Q: How has your association changed over time?
									<br>
									A: At the beginning, Chinatown was a bachelor society due to the Chinese Exclusion laws, many of the new immigrants needed support and assistance from the family associations. After the Chinese War Brides Act, women were allowed to immigrate to the U.S. Families changed the existing landscape of the Chinatowns. The family associations maintained the cultural heritage traditions by celebrations of the traditional Chinese festivals.
									<br>
									Q: What does your association offer to members?
									<br>
									A: Members get invited to events/festivities such as the Chinese New Year banquets, general meetings, inaugurations of officers, conventions and other special events. They connect with each other through these social gatherings as brothers and sisters and to promote peace and harmony.
									<br>
									Q: How do new immigrants know about your association and how do they join?
									<br>
									A: New immigrants know about the association from their relatives/families who already reside here. They give a donation for the “incense & oil” to keep the ancestral altar lit to honor the Ancestors.
									<br>
									Q: How do members of your association support your organization?
									<br>
									A: The members support the association by participating in the festival celebrations, special events and sometimes make donations to build schools/roads in the [Chinese] villages.
									<br>
									Q: What are the main challenges your association is facing?
									<br>
									A: One of the challenges is engaging the younger generation to participate [in the organization]  as many of the members/elders are aging. Another is fundraising to maintain the building and programs. Some associations have income from owning properties, but many properties are not in good condition.
									<br>
									Q: Does your organization maintain a connection to China today?
									<br>
									A: Many family associations have close ties back home and continue to support their villages/regions, even if they don’t have families there anymore. Donations are often given to build schools/roads, improve farmland, general improvements and natural disasters. Many have renovated or built new homes back in the villages. The Moy Family Association organizes World Conventions to visit their ancestral village.
									<br>
									See more about the Lee Association:
									<br>
									Q: What is the history of your association?
									<br>
									A: The Lee Family Association was established in 1934.  It’s Chicago Location is at 2225 S Wentworth Ave.  The Chicago Lee Family Association is a member of the Worldwide Convention of Lee Family Associations.  Lee Family Associations have other locations across North America, including San Francisco, Washington DC, and New York. Today, there are about 150 households in the Lee Family Association, making it one of the larger Family Associations in Chicago.
									<br>
									Q: What is the mission of your organization?
									<br>
									A:  In the beginning, the organization was focused on helping new immigrants find employment and housing in Chicago’s Chinatown community.  As time progressed, the Lee Family Association became a space for socializing and celebrating Chinese culture and tradition.  Today, it’s main purpose is providing social activities for members and the community.  
									<br>
									Q: What does your association offer to members?
									<br>
									A: Members of the Lee Family Association attend the association’s parties and social gatherings. Events range in size, with events like the Lunar New Year banquet having up to 50 tables for guests.
									<br>
									Q: How do members of your association support your organization?
									<br>
									A: Like many family associations, we generate revenue from renting out space in the building our Family Association owns.  We also rely on volunteer efforts from our members.
									<br>
									Q: What are the main challenges your association is facing?
									<br>
									A:  Our main challenge is getting younger generations involved in our organizations.  Many members are retiring, and we need to get more youth involved.  Having more American-Born Chinese involved would also help our organization.  Several Family Associations, including the Lee Family Association, have parties for recent graduates and award scholarships.
									<br>
									Q: Does your organization maintain a connection to China today?
									<br>
									A: We do not maintain a strong connection to China, however, many members go back on tours and Lee Association events in Taishan, Guangdong in China.  Many members have lived in the US for most of, if not all, their lives.
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="Picture of Family Associations">
					</div>
				</div>
			</div>
			<div class="zh_HANS container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
									<p>
									从历史上看，家族协会在包括芝加哥在内的美国城市的唐人街扮演着重要角色。当中国移民开始抵达芝加哥时，由于《排华法案》(Chinese Exclusion Act)，大多数是男性工人。为了帮助新来的移民并提供稳定感，家庭协会成立了。许多协会致力于统一来自同一地区的移民，建立一个远离家乡的家庭。《中国战争新娘法》通过后，中国妇女开始移居芝加哥。家庭协会开始帮助移民和他们的新移民家庭找到工作和住房。随着时间的推移，许多家庭协会都致力于维护他们的文化和传统。如今，许多中国企业与大部分成员来自的中国地区保持联系，并为救灾和基础设施升级提供援助。
									<br>
								  今天芝加哥大约有20个活跃的家庭协会。近年来，随着中国移民模式的改变，入会会员减少，多个协会合并。随着老年会员进入退休年龄，许多组织都希望唐人街的年轻人继续这些组织。随着越来越多的华裔美国人搬到周边地区，组织会议和活动有助于让这些成员与他们的传统保持联系。一些家庭协会有网站和办公地点，可以在唐人街附近找到。
									<br>
									了解和查看更多有关莫伊（Moy）协会的信息：
									<br>
									问：你们协会的历史是怎样的?
									<br>
									答：莫伊家族协会在芝加哥的总部100多年前在最初的唐人街克拉克和范布伦建立。它在20世纪20年代搬到了现在的位置。它的成员来自广东台山段汾的一个地区。
									<br>
									问：贵组织的使命是什么?
									<br>
									答：莫伊家庭协会的宗旨是团结美国的莫伊后裔，促进所有成员和当地社区的互助。它帮助后人要学习和维护中华民族的文化遗产和语言。
									<br>
									问：随着时间的推移，你的协会发生了怎样的变化?
									<br>
									答：一开始，由于排华法，唐人街是一个单身社团，很多新移民需要家庭协会的支持和帮助。《中国战争新娘法》颁布后，允许女性移民美国，改变了唐人街的现状。家庭协会通过庆祝中国传统节日来保持文化传统。
									<br>
									问：你的协会为会员提供什么?
									<br>
									答：会员被邀请参加活动/庆祝活动，如中国新年宴会，大会、主席团成立典礼、大会和其他特别活动。他们连接通过这些社交聚会，彼此像兄弟姐妹一样促进和平与和谐。
									<br>
									问：新移民如何知道你的协会，他们如何加入?
									<br>
									答：新移民是从他们已经定居的亲戚/家庭那里知道这个协会的在这里。他们捐赠“香油”，以保持祖先祭坛的点燃，以尊重的祖先。
									<br>
									问：你们协会的成员如何支持你们的组织?
									<br>
									答：协会成员通过参加节日庆祝活动和特殊活动来支持协会，有时还捐款在[中国]农村修建学校/道路。
									<br>
									问：贵协会面临的主要挑战是什么?
									<br>
									答：组织面临的挑战之一是让年轻一代参与到组织中来，因为很多成员/老人都在上了年纪。另一个是为维护建筑和项目筹集资金。一些协会从拥有财产中获得收入，但许多财产状况不佳。
									<br>
									问：贵组织目前是否与中国保持联系?
									<br>
									答：许多家庭协会在国内都有密切的联系，并继续支持他们的活动村庄/地区，即使他们不再有家庭在那里。捐款通常是给修建学校/道路，改善农田，改善总体状况和自然灾害。许多人在乡村翻新或建造新住宅。莫伊家庭协会组织世界拜访他们祖先村庄的习俗。

									<br>
									查看有关李（Lee）协会的更多信息：
									<br>
									问：您的协会历史是什么？
									<br>
									答：李氏家族协会成立于1934年。它位于芝加哥，位于2225 S Wentworth Ave.芝加哥李家庭协会是李氏家族协会全球公约的成员。 Lee Family Association在北美有其他地方，包括旧金山，华盛顿特区和纽约。今天，李氏家族协会约有150户家庭，使其成为芝加哥较大的家庭协会之一。
									<br>
									问：贵组织的使命是什么？
									<br>
									答：最初，该组织的重点是帮助新移民在芝加哥唐人街社区找到工作和住房。随着时间的推移，李氏家族协会成为一个社交和庆祝中国文化和传统的场所。今天，它的主要目的是为会员和社区提供社交活动。
									<br>
									问：您的协会为会员提供什么？
									<br>
									答：李氏家庭协会的成员参加协会的聚会和社交聚会。活动的规模各不相同，比如春节宴会，最多可容纳50桌客人。
									<br>
									问：您的协会成员如何支持您的组织？
									<br>
									答：像许多家庭协会一样，我们通过出租我们家庭协会所拥有的大楼来创收。我们也依靠会员的志愿努力。
									<br>
									问：您的协会面临的主要挑战是什么？
									<br>
									答：我们的主要挑战是让年轻一代参与我们的组织。许多成员正在退休，我们需要让更多的青年参与进来。让更多的美国出生的中国人参与也将有助于我们的组织。包括李氏家庭协会在内的几个家庭协会为应届毕业生举办聚会，并颁发奖学金。
									<br>
									问：您的组织今天是否与中国保持联系？
									<br>
									答：我们并没有与中国建立强有力的关系，但很多会员会回到中国广东台山参加旅行团和李氏协会的活动。许多成员在美国生活过大部分（如果不是全部）生活。
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="Picture of Family Associations">
					</div>
				</div>
			</div>
			<div class="zh_HANT container py-5">
				<div class="row">
					<div class="col pull-right">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
										<p>
									Family associations have historically played a large role in Chinatowns across the US cities, including Chicago. When Chinese immigrants began arriving in Chicago, the majority were male workers because of the Chinese Exclusion Act.  In order to help recently arrived immigrants and provide a sense of stability, Family Associations were formed.  Many associations focused on unifying immigrants from the same region and establish a family away from home.  After the Chinese War Brides Act was passed, Chinese women began immigrating to Chicago.  Family associations began helping immigrants and their newly arrived families find jobs and housing.  As time progressed many family associations have focused on maintaining their culture, and traditions.  Today, many maintain ties to Chinese regions where most of their members are from, and provide assistance for disaster relief and infrastructure upgrades.  
									<br>
								There are approximately 20 active family associations in Chicago today. As immigration patterns from China have changed in recent years, there have been fewer members joining, and several associations have merged.  As senior members enter retirement, many organizations are looking to young people in Chinatown to continue the organizations.  As more Chinese Americans move to surrounding areas, organization meetings and events help keep the members connected to their heritage.  Several family associations have websites and office locations that can be found walking around Chinatown.
									<br>
									See more about the Moy Family Association:
									<br>
									Q: What is the history of your association?
									<br>
									A: The Moy’s Family Association headquarters in Chicago was founded over 100 years ago in the original Chinatown, at Clark and Van Buren. It moved to its present location in the 1920’s. Its members are from one area in Duan Fen, Taishan, Guangdong.
									<br>
									Q: What is the mission of your organization?
									<br>
									A: The mission of the Moy Family Association is to unify the Moy descendants in the U.S. and to promote mutual assistance for all the members and the local communities. It helps the descendants to learn and maintain the Chinese cultural heritage and language.
									<br>
									Q: How has your association changed over time?
									<br>
									A: At the beginning, Chinatown was a bachelor society due to the Chinese Exclusion laws, many of the new immigrants needed support and assistance from the family associations. After the Chinese War Brides Act, women were allowed to immigrate to the U.S. Families changed the existing landscape of the Chinatowns. The family associations maintained the cultural heritage traditions by celebrations of the traditional Chinese festivals.
									<br>
									Q: What does your association offer to members?
									<br>
									A: Members get invited to events/festivities such as the Chinese New Year banquets, general meetings, inaugurations of officers, conventions and other special events. They connect with each other through these social gatherings as brothers and sisters and to promote peace and harmony.
									<br>
									Q: How do new immigrants know about your association and how do they join?
									<br>
									A: New immigrants know about the association from their relatives/families who already reside here. They give a donation for the “incense & oil” to keep the ancestral altar lit to honor the Ancestors.
									<br>
									Q: How do members of your association support your organization?
									<br>
									A: The members support the association by participating in the festival celebrations, special events and sometimes make donations to build schools/roads in the [Chinese] villages.
									<br>
									Q: What are the main challenges your association is facing?
									<br>
									A: One of the challenges is engaging the younger generation to participate [in the organization]  as many of the members/elders are aging. Another is fundraising to maintain the building and programs. Some associations have income from owning properties, but many properties are not in good condition.
									<br>
									Q: Does your organization maintain a connection to China today?
									<br>
									A: Many family associations have close ties back home and continue to support their villages/regions, even if they don’t have families there anymore. Donations are often given to build schools/roads, improve farmland, general improvements and natural disasters. Many have renovated or built new homes back in the villages. The Moy Family Association organizes World Conventions to visit their ancestral village.
									<br>
									See more about the Lee Association:
									<br>
									Q: What is the history of your association?
									<br>
									A: The Lee Family Association was established in 1934.  It’s Chicago Location is at 2225 S Wentworth Ave.  The Chicago Lee Family Association is a member of the Worldwide Convention of Lee Family Associations.  Lee Family Associations have other locations across North America, including San Francisco, Washington DC, and New York. Today, there are about 150 households in the Lee Family Association, making it one of the larger Family Associations in Chicago.
									<br>
									Q: What is the mission of your organization?
									<br>
									A:  In the beginning, the organization was focused on helping new immigrants find employment and housing in Chicago’s Chinatown community.  As time progressed, the Lee Family Association became a space for socializing and celebrating Chinese culture and tradition.  Today, it’s main purpose is providing social activities for members and the community.  
									<br>
									Q: What does your association offer to members?
									<br>
									A: Members of the Lee Family Association attend the association’s parties and social gatherings. Events range in size, with events like the Lunar New Year banquet having up to 50 tables for guests.
									<br>
									Q: How do members of your association support your organization?
									<br>
									A: Like many family associations, we generate revenue from renting out space in the building our Family Association owns.  We also rely on volunteer efforts from our members.
									<br>
									Q: What are the main challenges your association is facing?
									<br>
									A:  Our main challenge is getting younger generations involved in our organizations.  Many members are retiring, and we need to get more youth involved.  Having more American-Born Chinese involved would also help our organization.  Several Family Associations, including the Lee Family Association, have parties for recent graduates and award scholarships.
									<br>
									Q: Does your organization maintain a connection to China today?
									<br>
									A: We do not maintain a strong connection to China, however, many members go back on tours and Lee Association events in Taishan, Guangdong in China.  Many members have lived in the US for most of, if not all, their lives.
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="Picture of Family Associations">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>