<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>Chinatown Library</h1>
                                <audio src="/audio/en/library.mp3" controls>
                                Recording of Chicago Public Library Chinatown branch article
                                </audio>
								<p><br>The Chicago Public Library first opened a branch in Chinatown in 1972 and the community quickly started to use it as not just a learning resource, but as a community organizing space. <br> <br />
								In 1990, the branch moved to an 11,000 square foot rental space. While in that space, the Chinatown branch became the busiest branch of the Chicago Public Library system. <br> <br />
								With support from the community, elected officials, and branch staff, CPL contracted the architecture firm Skidmore, Owings, & Merrill to construct its current building. The two-story space was designed to be sustainable, featuring a solar shading screen integrated into the building’s exterior glass, causing it to use 30% less energy than a typical library. <br> <br />
								The Chinatown branch hosts a variety of educational, civic, and cultural programming. The children’s and teen’s programs focus on STEAM - science, technology, engineering, art, and mathematics. These programs range from reading programs, storytelling events, and technology workshops with 3D printers and high-end cameras. <br> <br />
								The branch also programs things unique to this community. Twice weekly, the branch showcases classical Cantonese opera. Local artists also shows work throughout the branch, rotating out exhibits four times a year. The branch is also home to groups of senior citizens, where friendly games of Mahjong and Chinese chess are commonplace. </p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/Chinatown_Pictures/Library/Library.jpg" class="img-fluid" alt="Picture of Chinatown Library">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>中国城图书馆</h1>
                                                        <audio src="/audio/zh_HANS/library.mp3" controls>
                                                            Recording of Chinatown Library article
                                                        </audio>
							<p>芝加哥公共图书馆于1972年首次在中国城开设分馆，社区很快开始将其用作学习资源，以及社区活动空间。 1990年，该分公司搬迁至11,000平方英尺的租赁地。在那里，中国城分馆成为芝加哥公共图书馆系统中最繁忙的分馆。在社区，民选官员和分馆机构工作人员的支持下，CPL与建筑公司Skidmore，Owings和Merrill签订合同，建造其现有建筑。这座两层楼的空间设计为可持续发展的样式，其中太阳能收集板集成在建筑物的外部玻璃中，使其比典型的图书馆节省30％的能源。<br> <br />
								芝加哥公共图书馆于1972年首次在中国城开设分馆，社区很快开始将其用作学习资源，以及社区活动空间。 1990年，该分公司搬迁至11,000平方英尺的租赁地。在那里，中国城分馆成为芝加哥公共图书馆系统中最繁忙的分馆。在社区，民选官员和分馆机构工作人员的支持下，CPL与建筑公司Skidmore，Owings和Merrill签订合同，建造其现有建筑。这座两层楼的空间设计为可持续发展的样式，其中太阳能收集板集成在建筑物的外部玻璃中，使其比典型的图书馆节省30％的能源。<br> <br />
								该分馆还对该社区独有的事物进行活动。该分馆每周两次展示古典粤剧。当地艺术家还展示了整个分馆的作品，每年四次展出展品。该分馆也是老年人群体的家园，麻将和中国象棋等健康游戏很常见。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/Chinatown_Pictures/Library/Library.jpg" class="img-fluid" alt="中国城图书馆的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>中國城圖書館</h1>
                            <audio src="/audio/zh_HANT/24-ChinatownLibrary.mp4" controls>
                                        Recording of CCVP article
                            </audio>
							<p>芝加哥公共圖書館於1972年首次在中國城開設分館，社區很快開始將其用作學習資源，以及社區活動空間。 1990年，該分公司搬遷至11,000平方英尺的租賃地。在那裡，中國城分館成為芝加哥公共圖書館系統中最繁忙的分館。在社區，民選官員和分館機構工作人員的支持下，CPL與建築公司Skidmore，Owings和Merrill簽訂合同，建造其現有建築。這座兩層樓的空間設計為可持續發展的樣式，其中太陽能收集板集成在建築物的外部玻璃中，使其比典型的圖書館節省30％的能源。<br> <br />
								中國城分館舉辦各種教育，公民和文化節目。兒童和青少年的課程專注於STEAM--科學，技術，工程，藝術和數學。這些課程包括閱讀節目，講故事活動以及使用3D打印機和高端相機的技術研討會。<br> <br />
								該分館還對該社區獨有的事物進行活動。該分館每週兩次展示古典粵劇。當地藝術家還展示了整個分館的作品，每年四次展出展品。該分館也是老年人群體的家園，麻將和中國象棋等健康遊戲很常見。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/Chinatown_Pictures/Library/Library.jpg" class="img-fluid"  alt="中國城圖書館的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
