<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
	<div class="wrapper mx-auto h-100">
	    <% include ../partials/nav %>
	    <div class="container py-5">
		<div class="row">
		    <div class="col pull-right">
			<div class="en">

			    <h1>Herbalist Summary</h1>

			    <p>Traditional medicine has been a part of Chinese culture for thousands of years.   Some Chinese-Americans still use traditional medicine to a variety of degrees.  In Kent Young Health Products, customers can buy a wide range of herbs imported from China to treat their health issues.  From basic ailments like the common cold or a traditional diagnosis like a “Yin-deficiency”, customers can discuss symptoms and receive the best treatment for them.  The treatments can come in the form of pre-packaged supplements and loose herbs depending on customer preference.  Loose herbs are frequently used in more traditional treatments, like brewing teas at home.  Visitors can find a wide variety of supplements and teas throughout the store

			    <p>Some Traditional Chinese Medicine stores also provide acupuncture and other alternative-medicine services.  While treatments like acupuncture were originally part of Traditional Chinese Medicine, westerners have begun to embrace them as well.</p>
			    <img src="/images/locations/medicine.jpg" class="img-fluid rounded" alt="Image of various boxes of herbal remedies">
			    <p>For more information, please visit:</p>
			</div>
			<div class="zh_HANS">
			    <h1>中医简介</h1>
			    <p>几千年来，传统医学一直是中国文化的一部分。一些华裔美国人仍然在不同程度上使用传统医学。在Kent Young Health Products公司，客户可以购买从中国进口的各种草药来治疗他们的健康问题。从普通感冒等基本疾病或“阴虚”等传统诊断中，顾客可以讨论症状并获得最佳治疗效果。根据客户的喜好，治疗方法可以是预包装的补充剂和松散的草药。松散的草药经常用于更传统的治疗，如在家酿造茶。游客可以在整个商店找到各种各样的补品和茶</p>
			    <p>一些传统中药店也提供针灸和其他替代医学服务。虽然针灸等治疗原本是传统中医的一部分，但西方人也开始接受它们。杨博士是Kent Young Health Products Inc的老板。</p>
			    <img src="/images/locations/medicine.jpg" class="img-fluid rounded" alt="Image of various boxes of herbal remedies">
			    <p>他曾在中国广州的中山医学院学习。起初，他研究西医，然后他研究了一些针灸，最终研究了中医。在芝加哥，它需要获得执照才能进行针灸，但是没有执业草药的许可结构。加州需要草药许可证，以及纽约。然而，在芝加哥，草药被视为食物，而不是药物。因此，任何人都可以出售草药，即使他们没有学位或经验。杨医生指出，某些州合法的草药在其他州是非法的。例如，长期以来一直治疗哮喘的麻黄在芝加哥是非法的，但在印第安纳州可能是合法的。像任何药物一样，浓度错误或混合不当的草药会产生不良影响。杨医生带我们了解了一个人如何解决问题并离开草药的整个过程。当有人走向他的办公桌时，他开始观察他们。他看着他们走路的方式，皮肤的颜色和眼睛。他倾听他们谈话的方式，并注意到任何问题。然后他抓住他们的脉搏，倾听他们认为他们有的问题。</p>
			</div>

			<a href="https://urbanwellness.fieldmuseum.org/neighborhoods/chinatown/kent-young-health-center">https://urbanwellness.fieldmuseum.org/neighborhoods/chinatown/kent-young-health-center</a>
		    </div>
		</div>
	    </div>
	    <% include ../partials/footer %>
	    <% include ../partials/scripts %>
    </body>
</html>
