<!DOCTYPE html>
<html>
	<% include ../partials/head %>

	<body class="text-black base-font-size">
		<div class="wrapper mx-auto h-100">
			<% include ../partials/nav %>
			<div class="en">
				<div class="container py-5">
					<div class="row">
						<div class="col pull-right">
				<h1>Herbalist Summary</h1>

				<p>Traditional medicine has been a part of Chinese culture for thousands of years.   Some Chinese-Americans still use traditional medicine to a variety of degrees.  In Kent Young Health Products, customers can buy a wide range of herbs imported from China to treat their health issues.  From basic ailments like the common cold or a traditional diagnosis like a “Yin-deficiency”, customers can discuss symptoms and receive the best treatment for them.  The treatments can come in the form of pre-packaged supplements and loose herbs depending on customer preference.  Loose herbs are frequently used in more traditional treatments, like brewing teas at home.  Visitors can find a wide variety of supplements and teas throughout the store

				<p>Some Traditional Chinese Medicine stores also provide acupuncture and other alternative-medicine services.  While treatments like acupuncture were originally part of Traditional Chinese Medicine, westerners have begun to embrace them as well.</p>

				<p>For more information, please visit:</p>
				<a href="https://urbanwellness.fieldmuseum.org/neighborhoods/chinatown/kent-young-health-center">https://urbanwellness.fieldmuseum.org/neighborhoods/chinatown/kent-young-health-center</a>
			</div>
			</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
		</div>
	</body>
</html>
