<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<% include ../partials/nav %>
	<div class="en container">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>							
			<p>Lunar New Year, commonly referred to as Spring Festival in China, is one of the most important festival for Chinese. Just like the Christmas is in the West, Spring Festival is the festival for Chinese people to be reunited with their families. <br>
			    Chinese New Year is associated with several myths and customs, in part because tt is the oldest festival in China. The festival was traditionally a time to honor deities as well as ancestors. <br>
			    In ancient times, people were afraid of the monster called a Nian. Every year, a Nian would come to harass people. Ancient people invented firecrackers to drive the monster away. This is the origin of the behavior that Chinese people set off firecrackers to celebrate Chinese New Year.<br>
			    Within China, regional customs and traditions concerning the celebration of the New Year vary widely. In the Chinese New Year period, the festival atmosphere are strong in everywhere. The day before the Lunar New Year is frequently regarded as an occasion for Chinese families to gather for the annual reunion dinner. <br>
			    Foods for Lunar New Year are different in north and south part of China. In northern China, dumplings is the indispensable food. In Southern China, people prefer wonton rather than dumplings.<br>
			    It is also traditional for every family to thoroughly clean their house, in order to sweep away any ill-fortune and to make way for incoming good luck. Usually Chinese people clean up all the places they need to clean before the New Year's Eve. <br>
			    Windows and doors are frequently decorated red paper-cuts and couplets. Popular themes among these paper-cuts and couplets include that of good fortune or happiness, wealth, and longevity. Other activities include lighting firecrackers and giving money in red paper envelopes.</p>
		    </div>
		</div>
		<!-- <div class="col py-5">
		     <img src="" class="img-fluid"  alt="Picture of New Year Parade">
		     </div> -->
	    </div>
	</div>
	<div class="zh_HANS container ">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
                        <audio src="/audio/zh_HANS/newYearParade.mp3" controls>
                            Recording of New Year Parade article
                        </audio>
			<p>漂洋在外的人们，每逢佳节倍思亲。到了春节之际，生活在海外的人也被团圆气氛所环绕着，准备年货，年夜饭，隔着时差看春晚…… 但总是欠着那种中国人最喜欢的热闹，所以这种思念就越发严重了。正是因为这种思念越来越浓厚，唐人街的人们不知道从什么时候开始，也有了自己庆祝春节的方式，让这些漂泊的人们，有了归属感和团圆感。<br>
			    举行了很多年的中国新年游行，是每个在芝加哥的中国人在春节时必去的项目。中国新年游行虽然不比春晚的阵势，但也是唐人街居民付出心血举办的。社区的居民们准备着各种节目：舞龙，舞狮，秧歌，跳舞…… 除了成年人的节目之外，还有不少来自周边学校的孩子准备的节目。还有不少对中国文化感兴趣的当地美国人会参与到节目之中。<br>
			    中国新年游行已经从最开始的中国社区小节目，到了现在一个每逢春节必有的庆祝方式了。不仅温暖了那些思乡的人们，还在一定程度上向当地美国人介绍了中国文化和风俗。中国游行的日益壮大，意味着中国文化与美国文化的交融，也体现出中国文化在美国被重视。越来越多的美国当地人对中国文化体现出了浓厚的兴趣和求知欲。</p>
		    </div>
		</div>
		<!-- <div class="col py-5">
		     <img src="" class="img-fluid" alt="Picture of New Year Parade">
		     </div> -->
	    </div>
	</div>
	<div class="zh_HANT container ">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more" class="show-less" href="#show-less">Show less</a>
			<a  id="show-less" class="show-more" href="#show-more">Show more</a>
			<p>
			    漂洋在外的人們，每逢佳節倍思親。到了春節之際，生活在海外的人也被團圓氣氛所環繞著，準備年貨，年夜飯，隔著時差看春晚……但總是欠著那種中國人最喜歡的熱鬧，所以這種思念就越發嚴重了。正是因為這種思念越來越濃厚，唐人街的人們不知道從什麼時候開始，也有了自己慶祝春節的管道，讓這些漂泊的人們，有了歸屬感和團圓感。
			    <br>
			    舉行了很多年的中國新年遊行，是每個在芝加哥的中國人在春節時必去的項目。中國新年遊行雖然不比春晚的陣勢，但也是唐人街居民付出心血舉辦的。社區的居民們準備著各種節目：舞龍，舞獅，秧歌，跳舞……除了成年人的節目之外，還有不少來自周邊學校的孩子準備的節目。還有不少對中國文化感興趣的當地美國人會參與到節目之中。
			    <br>
			    中國新年遊行已經從最開始的中國社區小節目，到了現在一個每逢春節必有的慶祝管道了。不僅溫暖了那些思鄉的人們，還在一定程度上向當地美國人介紹了中國文化和風俗。中國遊行的日益壯大，意味著中國文化與美國文化的交融，也體現出中國文化在美國被重視。越來越多的美國當地人對中國文化體現出了濃厚的興趣和求知欲。
			</p>
		    </div>
		</div>
		<!-- <div class="col py-5">
		     <img src="" class="img-fluid"  alt="Picture of New Year Parade">
		     </div> -->
	    </div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
    </body>
</html>
