<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include ../partials/nav %>
			<div class="en container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
								<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
								<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
									<p>The Nine Dragon Wall stands along Cermak and Wentworth in Chinatown. The wall is one of the first landmarks visitors arriving from the red line station see when exiting the station. It prominently features nine large dragons, with over 500 smaller dragons throughout the work. The intricate design is very important in chinese culture. The dragons are red, blue, and gold to symbolize successfulness and good fortune. The number nine symbolizes longevity, eternity, and completeness in Chinese culture.<br>
									The wall stands across from the Dan Ryan Expressway that goes through Chinatown, and is thought to improve the fun schwei from the traffic and congestion. The wall tiles were originally made in China, and assembled in Chicago’s Chinatown. The Chinatown Chamber of Commerce dedicated the Nine Dragon Wall following its completion in 2003.</p>
								</div>
							</div>
						<div class="col py-5">
							<img src="/images/locations/nine-dragon.jpg" class="img-fluid rounded" alt="Picture of Nine Dragon Wall">
						</div>
					  </div>
					 </div>
			  <div class="zh_HANS container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<p>
							九龙壁矗立在唐人街的Cermak和Wentworth。 这堵墙是从红线站到达火车站的第一批地标之一。 它显着地有九条大龙，在整个工作中有超过500条小龙。 复杂的设计在中国文化中非常重要。 龙是红色，蓝色和金色，象征着成功和好运。 九号象征着中国文化的长寿，永恒和完整。<br>
							隔离墙穿过穿过唐人街的Dan Ryan高速公路，被认为可以改善交通和拥堵带来的乐趣。 墙砖最初是在中国制造的，并在芝加哥的唐人街组装。 唐人街商会在2003年完工后致力于九龙墙。</p>
						</div>
					</div>
					<div class="col py-5">
						<img src="/images/locations/nine-dragon.jpg" class="img-fluid rounded" alt="Picture of Nine Dragon Wall">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
									<p>九龍壁矗立在唐人街的Cermak和Wentworth。 這堵牆是從紅線站到達火車站的第一批地標之一。 它顯著地有九條大龍，在整個工作中有超過500條小龍。 複雜的設計在中國文化中非常重要。 龍是紅色，藍色和金色，象徵著成功和好運。 九號象徵著中國文化的長壽，永恆和完整。<br>
									隔離牆穿過穿過唐人街的Dan Ryan高速公路，被認為可以改善交通和擁堵帶來的樂趣。 牆磚最初是在中國製造的，並在芝加哥的唐人街組裝。 唐人街商會在2003年完工後致力於九龍牆。</p>
								</div>
						</div>
					<div class="col py-5">
						<img src="/images/locations/nine-dragon.jpg" class="img-fluid rounded" alt="Picture of Nine Dragon Wall">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>

</html>
