<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include ../partials/nav %>
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <p>The Nine Dragon Wall in Chinatown was inspired by one that can be seen in Beihai Park, to the north of the Forbidden City. It is one of the only three such replicas outside of China. For the Chinese, the dragon is the symbol of power,
            luck and longevity. And number nine is magical, since it is the highest single-digit number in base ten, thus Chinese believe it stands for completeness and eternity. Among those nine dragons, the yellow dragon in the middle represents
            the emperor of China who control the highly centralized system of government. </p>
        </div>
        <div class="col">
          <img src="/images/locations/nine-dragon.png" class="img-fluid rounded" alt="Picture of Nine Dragon Wall">
        </div>
      </div>
    </div>
    
    <div class="container py-4">
      <% include ../partials/footer %>
    </div>
    <% include ../partials/scripts %>
  </div>
</body>

</html>
