<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
						<h1>Ping Tom Park</h1>

                                    <audio src="/audionew/en/PingTomPark.mp3" controls>
                                    Recording of Ping Tom Park article
                                    </audio>
								<p><br>Ping Tom Park is a park frequently used by community members for recreation. Chinatown has such a dense population, and most people do not have a yard, so the green space provided by the park was a must have for the community. <br> <br />
								The park is named after an influential man who grew up in the community. He was a businessman and community leader in Chinatown as well as an advisor to government officials. He helped to mobilize Asian Americans to become more civically engaged. <br> <br />
								While the park was being built, the community pushed the Chicago Park District to name it after Ping Tom. Years before becoming a park, the land was used as the Santa Fe railroad yard. <br> <br />
								The park was built in three phases, the first one is south of 18th Street and includes the pavilion, playground and water taxi stop. The second phase was the riverside portion north of 18th street, which contains the boathouse, walking trails and great views of downtown. The final phase is the Leonard M. Louie Field House at 1700 S. Wentworth which includes a gym, a large swimming pool, and a fitness center. <br> <br />
								The field house is named after Leonard Louie who organized the community advocacy to replace a park lost in the 1960s. Under the 18th Street bridge, there is a mural that uses the style of Chinese porcelain. <br> <br />
=======
								<p>Ping Tom Park is a park frequently used by community members for recreation.   Sammie Chiu, age 11, states “My friends also live close to Chinatown, and I can just walk over to their house after school if we want to play and do homework together. She lives by Ping Tom Park, so when we are done with our homework, we can just go play in the park.”
                                Chinatown has such a dense population, and most people do not have a yard, so the green space provided by the park was a must have for the community. <br>
								The park is named after an influential man who grew up in the community. He was a businessman and community leader in Chinatown as well as an advisor to government officials. He helped to mobilize Asian Americans to become more civically engaged. <br>
								While the park was being built, the community pushed the Chicago Park District to name it after Ping Tom. Years before becoming a park, the land was used as the Santa Fe railroad yard. <br>
								The park was built in three phases, the first one is south of 18th Street and includes the pavilion, playground and water taxi stop. The second phase was the riverside portion north of 18th street, which contains the boathouse, walking trails and great views of downtown. The final phase is the Leonard M. Louie Field House at 1700 S. Wentworth which includes a gym, a large swimming pool, and a fitness center. <br>
								The field house is named after Leonard Louie who organized the community advocacy to replace a park lost in the 1960s. Under the 18th Street bridge, there is a mural that uses the style of Chinese porcelain. <br>
>>>>>>> 0561388da1969f103429c34e384e7d90de0bc261
								Plants and flowers from the native Midwest and China are depicted together as a symbol that the different cultures can coexist peacefully.</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/civics/pingtompark.JPG" class="img-fluid" alt="Picture of Ping Tom Park">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>平汤姆(音译)公园</h1>
							<p>平汤姆公园是社区成员经常用于娱乐的公园。唐人街拥有如此密集的人口，大多数人没有院子，因此公园提供的绿地是社区必备的。 <br> <br />
								该公园以一位在社区长大的有影响力的人命名。他是唐人街的商人和社区领袖，也是政府官员的顾问。他帮助动员亚裔美国人变得更加公民参与。<br> <br />
								在公园建成的同时，社区推动芝加哥公园区以Ping Tom命名。在成为公园之前的几年，这块土地被用作圣达菲铁路的一个院子。 <br> <br />
								该公园分三期建设，第一期是18街以南，包括展馆，游乐场和水上出租车站。第二阶段是第18街以北的河边部分，其中包含船库，步行道和市中心的美景。最后阶段是位于1700 S. Wentworth的Leonard M. Louie Field House，包括一个健身房，一个大型游泳池和一个健身中心。 <br> <br />
								这座野外房屋以Leonard Louie的名字命名，他组织了社区倡导，以取代在20世纪60年代失去的公园。在第18街桥下，有一幅采用中国瓷器风格的壁画。 <br> <br />
								来自中西部和中国的植物和花卉被描绘成一个象征，不同的文化可以和平共处。</p>
						</div>
					</div>
					<div class="col py-5">
								<img src="/images/civics/pingtompark.JPG" class="img-fluid" alt="平汤姆(音译)公园的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>平湯姆公園(音译)公園</h1>
								<p>平湯姆公園是社區成員經常用於娛樂的公園。唐人街擁有如此密集的人口，大多數人沒有院子，因此公園提供的綠地是社區必備的。 <br> <br />
								該公園以一位在社區長大的有影響力的人命名。他是唐人街的商人和社區領袖，也是政府官員的顧問。他幫助動員亞裔美國人變得更加公民參與。<br> <br />
								在公園建成的同時，社區推動芝加哥公園區以Ping Tom命名。在成為公園之前的幾年，這塊土地被用作聖達菲鐵路的一個院子。 <br> <br />
								該公園分三期建設，第一期是18街以南，包括展館，遊樂場和水上出租車站。第二階段是第18街以北的河邊部分，其中包含船庫，步行道和市中心的美景。最後階段是位於1700 S. Wentworth的Leonard M. Louie Field House，包括一個健身房，一個大型游泳池和一個健身中心。 <br> <br />
							這座野外房屋以Leonard Louie的名字命名，他組織了社區倡導，以取代在20世紀60年代失去的公園。在第18街橋下，有一幅採用中國瓷器風格的壁畫。<br> <br />
								來自中西部和中國的植物和花卉被描繪成一個像徵，不同的文化可以和平共處。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/civics/pingtompark.JPG" class="img-fluid"  alt="平湯姆公園(音译)公園的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
