<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>  
										 <p>Pui Tak Center is a church based community center with programs in adult education and training, children and youth programs, and community programs. The adult education program is home to the largest ESL program in Chicago. <br>
										  In 2017 they had over 1,200 adults learning English through the center. Pui Tak also hosts after school programs for students. These programs help tutor the students in scholastics as well as English if need be. <br>
										  The community program helps new immigrants through daily challenges of adapting to life in the United States. Pui Tak also helps provide support group services and advocates for services for families with disabled children. <br>
										  The building owned by Pui Tak was historically known as the On Leong Merchants Association building. Built in 1926 by Norwegian architects Christian S. Michaelsen and Sigurd A. Rognstad, the architectural style is based on photographs of buildings from Guangzhou and the Chinese Theatre built for the 1893 Columbian Exposition. <br>
										  The On Leong Merchants Association used the building for various activities and became so influential in the community that it was sometimes referred to as Chinatown’s City Hall. <br>
										  Though most of its activities were legitimate, in the 1960’s some groups using the building ran illegal gambling and racketeering operations worth millions of dollars. In 1988, the building was seized by the FBI and wasn’t resold until 1993 when the Chicago City Council unanimously voted to designate it as a cultural landmark and approve the sale of the building to the Chinese Union Christian Church for $1.4 million dollars. </p>
								</div>
						</div>
					<div class="col py-5">
							<img src=" " class="img-fluid" alt="Picture of puitak">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<p>
							</p>
							</div>
						</div>
					<div class="col py-5">
							<img src=" " class="img-fluid" alt="Picture of puitak">
					</div>
				</div>
			</div>
				<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<p>
								</p>
							</div>
					</div>
					<div class="col py-5">
							<img src=" " class="img-fluid" alt="Picture of puitak">
					</div>
				</div>
			</div>
      <% include ../partials/footer %>
      <% include ../partials/scripts %>
  </div>
</body>

</html>
