<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include ../partials/nav %>
	  <h1>Pui Tak Center</h1>
	  <p>Pui Tak Center is a church based community center with programs in adult education and training, children and youth programs, and community programs. The adult education program is home to the largest ESL program in Chicago. In 2017 they had over 1,200 adults learning English through the center. Pui Tak also hosts after school programs for students. These programs help tutor the students in scholastics as well as English if need be. The community program helps new immigrants through daily challenges of adapting to life in the United States. Pui Tak also helps provide support group services and advocates for services for families with disabled children.</p>

	  <p>For more information on the Pui Tak Center visit: <a href="https://www.puitak.org/">https://www.puitak.org/</a></p>

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
  </div>
</body>

</html>
