<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>  

							<h1>Pui Tak Center</h1>
                                    <audio src="/audio/en/puitak.mp3" controls>
                                    Recording of Pui Tak Center article
                                </audio>
										 <p><br>Pui Tak Center is a church based community center with programs in adult education and training, children and youth programs, and community programs. The adult education program is home to the largest ESL program in Chicago. <br> <br />
										  In 2017 they had over 1,200 adults learning English through the center. Pui Tak also hosts after school programs for students. These programs help tutor the students in scholastics as well as English if need be. <br> <br />
										  The community program helps new immigrants through daily challenges of adapting to life in the United States. Pui Tak also helps provide support group services and advocates for services for families with disabled children. <br> <br />
										  The building owned by Pui Tak was historically known as the On Leong Merchants Association building. Built in 1926 by Norwegian architects Christian S. Michaelsen and Sigurd A. Rognstad, the architectural style is based on photographs of buildings from Guangzhou and the Chinese Theatre built for the 1893 Columbian Exposition. <br> <br />
										  The On Leong Merchants Association used the building for various activities and became so influential in the community that it was sometimes referred to as Chinatown’s City Hall. <br> <br />

							<audio src="/audio/en/puitak.mp3" controls>
                            Recording of Pui Tak Center article
                        </audio>
						<h1>Pui Tak Center</h1>
										 <p>Pui Tak Center is a church based community center with programs in adult education and training, children and youth programs, and community programs. The adult education program is home to the largest ESL program in Chicago. <br>
										  In 2017 they had over 1,200 adults learning English through the center. Pui Tak also hosts after school programs for students. These programs help tutor the students in scholastics as well as English if need be. <br>
                                        The director of the center, David Wu speaks with great pride of the positive impact the academic programs in Pui Tak have on the lives of those in the community. “These are all adults, many of whom are very recent immigrants, some of them are working, some of them are so new that they haven’t found a job yet, but they all know learning English is very important, so they come here in the evenings, or mornings, to study English, to improve their skills.”<br>
										  The community program helps new immigrants through daily challenges of adapting to life in the United States. Pui Tak also helps provide support group services and advocates for services for families with disabled children. <br>
                                        Additionally, by offering after school programs,tutoring and summer activities Pui Tak shapes the youth and offers them a place where they can improve their academic skills. They also help build a connection between the children and the parents who often are unable to spend quality time together on a daily basis. Director Wu thinks that they “ try to help parents relate to their kids. I think kids eventually appreciate their parents for all the sacrifices they made to come to a new country. A lot of parents really sacrifice a lot just so their kids can have a better future. “ <br>
										  The building owned by Pui Tak was historically known as the On Leong Merchants Association building. Built in 1926 by Norwegian architects Christian S. Michaelsen and Sigurd A. Rognstad, the architectural style is based on photographs of buildings from Guangzhou and the Chinese Theatre built for the 1893 Columbian Exposition. <br>
										  The On Leong Merchants Association used the building for various activities and became so influential in the community that it was sometimes referred to as Chinatown’s City Hall. <br>

										  Though most of its activities were legitimate, in the 1960’s some groups using the building ran illegal gambling and racketeering operations worth millions of dollars. In 1988, the building was seized by the FBI and wasn’t resold until 1993 when the Chicago City Council unanimously voted to designate it as a cultural landmark and approve the sale of the building to the Chinese Union Christian Church for $1.4 million dollars. </p>
								</div>
						</div>
					<div class="col py-5">
							<img src="/images/locations/puiTak.jpg" class="img-fluid" alt="Picture of puitak">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<audio src="/audio/zh_HANS/puitak.mp3" controls>
                                Recording of Pui Tak Center article
                            </audio>
							<h1>培徳中心</h1>
							<p>培德中心是一个以教会为基础的社区中心，设有成人教育及培训、儿童及青少年计划及社区计划。培德中心的成人教育项目是芝加哥最大的ESL项目的起源。<br>
											  2017年，超过1200名成年人通过该中心学习英语。培德中心还为学生提供课外活动。这些课程帮助学生们的学业和英语。 <br>
											 社区项目旨在帮助新移民适应美国的生活。培德同时协助为残疾儿童家庭提供支援及推广服务。<br>
											  培德中心所拥有的建筑物，在史上称为安良商会大厦。1926年由挪威建筑师Christian S. Michaelsen和Sigurd A. Rognstad建造，建筑风格以广州建筑的照片和1893年为哥伦比亚博览会建造的中国剧院为基础。 <br>
											  安良商会利用这幢楼开展各种活动，因此在社区中变得非常有影响力，有时被称为唐人街的市政厅。 <br>
											  尽管它的大部分活动都是合法的，但在20世纪60年代，一些组织使用这栋建筑进行了价值数百万美元的非法赌博和敲诈勒索活动。1988年，这座建筑被美国联邦调查局(FBI)查封，直到1993年，芝加哥市议会一致投票决定将其列为文化地标，并批准以140万美元的价格将其出售给中国基督教联合会(Chinese Union Christian Church)。
								</p>
							</div>
						</div>
					<div class="col py-5">
							<img src="/images/locations/puiTak.jpg " class="img-fluid" alt="培徳中心的照片">
					</div>
				</div>
			</div>
				<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>培徳中心</h1>
								<p>培德中心是一個以教會為基礎的社區中心，設有成人教育及培訓、兒童及青少年計劃及社區計劃。培德中心的成人教育項目是芝加哥最大的ESL項目的起源。 <br>
										  2017年，超過1200名成年人通過該中心學習英語。培德中心還為學生提供課外活動。這些課程幫助學生們的學業和英語。<br>
										  社區項目旨在幫助新移民適應美國的生活。培德同時協助為殘疾兒童家庭提供支援及推廣服務。<br>
										 培德中心所擁有的建築物，在史上稱為安良商會大廈。 1926年由挪威建築師Christian S. Michaelsen和Sigurd A. Rognstad建造，建築風格以廣州建築的照片和1893年為哥倫比亞博覽會建造的中國劇院為基礎。<br>
										  安良商會利用這幢樓開展各種活動，因此在社區中變得非常有影響力，有時被稱為唐人街的市政廳。 <br>
										  儘管它的大部分活動都是合法的，但在20世紀60年代，一些組織使用這棟建築進行了價值數百萬美元的非法賭博和敲詐勒索活動。 1988年，這座建築被美國聯邦調查局(FBI)查封，直到1993年，芝加哥市議會一致投票決定將其列為文化地標，並批准以140萬美元的價格將其出售給中國基督教聯合會( Chinese Union Christian Church)。</p>
							</div>
					</div>
					<div class="col py-5">
							<img src=" /images/locations/puiTak.jpg" class="img-fluid" alt="培徳中心的照片">
					</div>
				</div>
			</div>
      <% include ../partials/footer %>
      <% include ../partials/scripts %>
  </div>
</body>

</html>
