<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<p>St Therese Chinese Catholic Church, originally known as Santa Maria Incoronata, serves the spiritual needs of some within the Chinatown community. Santa Maria Incoronata had its first baptism when the parish was officially founded on November 26th, 1899. However, it wasn’t until December 8th, 1903 that the parish held its first mass. <br>
									<i>This is because, according to the church’s priest,</i> "At the beginning the church was for the Italians, because the proportion of Chinese in this area was very low, and most of the residents were Italian. And the number of Chinese catholic was also really small."<br>
									On April 14th, 1904, the cornerstone of Santa Maria Incoronata was laid and the church was officially open. In September of 1914, the Santa Maria Catholic school was opened. During this time period, Al Capone’s mother donated a large crucifix, which still hangs in the church. <br>
									On April 8th, 1946, the parish dedicated the Chapel of St. Therese Chinese Mission. It wasn’t until October 18th, 1947 that the St Therese Chinese Mission was formally erected as a Chinese Catholic community. The community celebrated its first Chinese Mass at the Santa Maria Incoronata Parish. <br>
									About 30 years later, due to the influx of Chinese immigrants to the city of Chicago, there became a need to serve more Chinese Catholics who now found themselves living in America. As such, with a large enough population, the first Chinese Catholic Church Opened on September 11th, 2014. Roughly a year later, the St Therese school opened its doors for classes. Nine months later, St Therese school handed out it’s first diplomas. According to the church’s priest:<br>
									<i>“The church will worship Chinese traditional ancestors during the Spring Festival every year and offer sacrifices. At this time, not only the Catholic Church will come to participate in this activity, but many other organizations will also come.” </i> <br> 
									The most drastic change for the Chinese Catholic Community occured in 1963, when the Church of Santa Maria Incoronata was passed on to the St Therese Chinese Mission. From then on, the church was run by the Chinese Catholic Community. In 2001, the church made major renovations in order to re-beautify the church. Chinese symbols and newly imported furniture was added. In 2011, St Therese Catholic School was officially dedicated as a National Blue Ribbon School.</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="" class="img-fluid" alt="Picture of St. Therese">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<p>圣特雷塞中国天主教堂最初被称为圣玛丽亚教堂。教堂于1899年11月26日正式成立。但是最开始的时候教堂是为意大利人服务的，因为当时的这片区域的中国人比例十分低，大多数居民都是意大利人。直到1903年12月8日，教堂才举行了第一次弥撒。 1904年4月14日， 圣玛丽亚教堂奠基，教堂正式开放。大约十年后，在1914年9月，圣玛丽亚天主教学校开放。<br>
								1946年4月8日，圣特雷塞中国教堂落成。 1947年10月18日，圣特雷塞中国代表团正式成立为中国天主教社区。 第一届华人弥撒在圣玛利亚教堂举行。 一年后，即1961年4月30日，圣特雷塞天主教学校落成。<br>
								大约30年后，由于中国移民涌入芝加哥，因此需要为居住在美国的中国天主教徒提供服务。由于人口众多，第一个中国天主教堂于2014年9月11日开放。大约一年后，圣特雷塞学校开始上课。九个月后，圣特雷塞学校颁发了它的第一份文凭。教堂会在每年春节的时候对中国传统的祖先进行祭拜，并献上祭品，每当这个时候，不只是天主教堂的人会来参加这个活动，许多其他组织的人也会来参加。<br>
								中国天主教社群最剧烈的变化发生在1963年。圣玛利亚教堂被传递给圣特雷塞华人代表团。 从那时起，这座教堂由中国天主教社区管理。 2001年，为了重新美化教堂，教堂进行了大规模的翻修。新增了中国符号和进口的家具。 2004年10月，教会庆祝其百年诞辰。 2011年，圣特雷塞天主教学校正式成为国家蓝丝带学校。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="" class="img-fluid" alt="Picture of St. Therese">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<p>
								聖特雷塞中國天主教堂最初被稱為聖瑪麗亞教堂。教堂於1899年11月26日正式成立。但是最開始的時候教堂是為意大利人服務的，因為當時的這片區域的中國人比例十分低，大多數居民都是意大利人。直到1903年12月8日，教堂才舉行了第一次彌撒。 1904年4月14日， 聖瑪麗亞教堂奠基，教堂正式開放。大約十年後，在1914年9月，聖瑪麗亞天主教學校開放。
								<br>
								1946年4月8日，聖特雷塞中國教堂落成。 1947年10月18日，聖特雷塞中國代表團正式成立為中國天主教社區。第一屆華人彌撒在聖瑪利亞教堂舉行。一年後，即1961年4月30日，聖特雷塞天主教學校落成。
								<br>
								大約30年後，由於中國移民湧入芝加哥，因此需要為居住在美國的中國天主教徒提供服務。由於人口眾多，第一個中國天主教堂於2014年9月11日開放。大約一年後，聖特雷塞學校開始上課。九個月後，聖特雷塞學校頒發了它的第一份文憑。教堂會在每年春節的時候對中國傳統的祖先進行祭拜，並獻上祭品，每當這個時候，不只是天主教堂的人會來參加這個活動，許多其他組織的人也會來參加。
								<br>
								中國天主教社群最劇烈的變化發生在1963年。聖瑪利亞教堂被傳遞給聖特雷塞華人代表團。從那時起，這座教堂由中國天主教社區管理。 2001年，為了重新美化教堂，教堂進行了大規模的翻修。新增了中國符號和進口的家具。 2004年10月，教會慶祝其百年誕辰。 2011年，聖特雷塞天主教學校正式成為國家藍絲帶學校。
								</p>
						</div>
					</div>
					<div class="col py-5">
							<img src=""  class="img-fluid" alt="Picture of St. Therese">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>