<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include ../partials/nav %>
	<div class="en container py-5" >
		<div class="row">
			<div class="col">
				<div class="show-hide-text">
					<a  id="show-more" class="show-less" href="#show-less">Show less</a>
					<a  id="show-less" class="show-more" href="#show-more">Show more</a>
					<p>

					</p>
				</div>
			</div>
			<div class="col">
				<img src="/images/locations/st-therese.png" class="img-fluid rounded" alt="Picture of St Therese">
			</div>
		</div>
	</div>
    <div class="container py-4">
      <% include ../partials/footer %>
    </div>
    <% include ../partials/scripts %>
  </div>
</body>

</html>
