<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include ../partials/nav %>
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <p>St. Therese Church incorporated a variety of cultural elements. The unique statues and stained-glass windows came from Italian culture. Since the church is used by Chinese, the parish’s main statement, which located on the keystone above the altar, is written in Chinese, the tablet to honor ancestors also in Chinese. Moreover, there is a pair of Chinese marble lions on both sides of its front door.</p>
        </div>
        <div class="col">
          <img src="/images/locations/st-therese.png" class="img-fluid rounded" alt="Picture of St Therese">
        </div>
      </div>
    </div>
    <div class="container py-4">
      <% include ../partials/footer %>
    </div>
    <% include ../partials/scripts %>
  </div>
</body>

</html>
