<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<head>
  		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	</head>
	<body class="text-black base-font-size wrapper mx-auto h-100">
	<title>Test Location</title>
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="container pages-center-div">
				<div class="row">
					<div class="container">
					
						<!-- Tab menu for english -->
						<ul class="en nav nav-tabs nav-justified" role="tablist">
						    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tour">Tour</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gallery">Gallery</a></li>   
						</ul>
						
						<!-- Tab menu for simplified [CHANGE THE TOUR TAB TITLE]-->
						<ul class="zh_HANS nav nav-tabs w-100 nav-justified" role="tablist">
						    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tour">TourSIMPLIFIED</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gallery">图片</a></li>   
						</ul>
						
						<!-- Tab menu for traditional [CHANGE THE TOUR TAB TITLE]-->
						<ul class="zh_HANT nav nav-tabs w-100 nav-justified" role="tablist">
						    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tour">TourTRADITIONAL</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gallery">圖片</a></li>   
						</ul>
						
						<div class="tab-content">
							<div id="tour" class="tab-pane fade in active show">
								<div class="en col py-4">
									<div class="show-hide-text">
										<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
										<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
										<!--Insert English title here -->
										<h2></h2>
										<br>
										<!-- Insert English audio and text here -->
										<audio src="/audio/en/[REPLACE]" controls>
										</audio>
										<p>

										</p>
									</div>
								</div>
								<div class="zh_HANS col py-4">
									<div class="show-hide-text">
										<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
										<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
                    								<!-- Insert Simplified title here -->
										<h2></h2>
									    	<br>
									    	<!-- insert Simplified audio and text here -->
									    	<audio src="/audio/zh_HANS/[REPLACE]" controls>
									    	</audio>
									    	<p>

									    	</p>
									</div>
								</div>
								<div class="zh_HANT col py-4">
									<div class="show-hide-text">
										<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
										<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
                      								<!-- Insert Traditional title here -->
										<h2></h2>
                      								<br>
                      								<!-- Insert Traditional audio and text here -->
										<audio src="/audio/zh_HANT/[REPLACE]" controls>
										</audio>
										<p>
                        
                      								</p>
									</div>
								</div>
								
							</div>
							<div id="gallery" class="tab-pane fade">
							    <h3 class="en">Gallery</h3>
									<h3 class="zh_HANS">图片</h3>
									<h3 class="zh_HANT">圖片</h3>
								<div class="row">
									<div class="col-lg-4 col-md-12 mb-4">
										<img src="[LINK]" class="img-fluid mb-4" alt="[DESCRIPTION]">
										<!-- <img src="[LINK]" class="img-fluid mb-4" alt="[DESCRIPTION]"> -->
									</div>
									<div class="col-lg-4 col-md-6 mb-4">
										<!-- <img src="[LINK]" class="img-fluid mb-4" alt="[DESCRIPTION]"> -->
										<!-- <img src="[LINK]" class="img-fluid mb-4" alt="[DESCRIPTION]"> -->
									</div>
									<div class="col-lg-4 col-md-6 mb-4">
										<!-- <img src="[LINK]" class="img-fluid mb-4" alt="[DESCRIPTION]"> -->
										<!-- <img src="[LINK]" class="img-fluid mb-4" alt="[DESCRIPTION]"> -->
									</div>
								</div>
							</div>
						</div>
					</div>
  				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
