<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<head>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	</head>
	<body class="text-black base-font-size wrapper mx-auto h-100">
	<title>Test Location</title>
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="container pages-center-div">
				<div class="row">
					<div class="container">
					
						<!-- Tab menu for english -->
						<ul class="en nav nav-tabs w-100 nav-justified" role="tablist">
						    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tour">Tour</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gallery">Gallery</a></li>   
						</ul>
						
						<!-- Tab menu for simplified
						<ul class="zh_HANS nav nav-tabs w-100 nav-justified" role="tablist">
						    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tour">TourSIMPLIFIED</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gallery">GallerySIMPLIFIED</a></li>   
						</ul>
						
						<!-- Tab menu for traditional 
						<ul class="zh_HANT nav nav-tabs w-100 nav-justified" role="tablist">
						    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tour">TourTRADITIONAL</a></li>
						    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gallery">GalleryTRADITIONAL</a></li>   
						</ul> -->
						
						<div class="tab-content">
							<div id="tour" class="tab-pane fade in active show">
								<div class="col py-4">
									<div class="en show-hide-text">
										<h2 class="en">Test Location</h2>
										<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
										<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
										<audio src="/audio/en/buddhist-temple.mp3" controls>
											Recording of Buddhist Temple article
										</audio>
										<!-- Content -->
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas integer eget aliquet. Nec ultrices dui sapien eget. Justo donec enim diam vulputate ut pharetra sit amet. Donec enim diam vulputate ut pharetra sit amet. Leo a diam sollicitudin tempor id eu. At consectetur lorem donec massa sapien. Posuere morbi leo urna molestie at elementum eu facilisis. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.
										<br><br>
										Vel risus commodo viverra maecenas. Est ante in nibh mauris cursus mattis molestie. Convallis aenean et tortor at risus viverra adipiscing. Ultricies lacus sed turpis tincidunt id aliquet risus. Et molestie ac feugiat sed lectus vestibulum mattis. Arcu dui vivamus arcu felis. Iaculis at erat pellentesque adipiscing commodo. Non blandit massa enim nec dui nunc. Semper risus in hendrerit gravida rutrum quisque. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Urna duis convallis convallis tellus. Faucibus interdum posuere lorem ipsum dolor. Morbi tristique senectus et netus et malesuada fames. Nulla facilisi morbi tempus iaculis urna. Tristique senectus et netus et malesuada fames ac turpis egestas. Ac ut consequat semper viverra nam libero justo laoreet sit.
										<br><br>
										Mattis enim ut tellus elementum sagittis vitae et leo duis. Nibh praesent tristique magna sit amet purus gravida quis. Penatibus et magnis dis parturient montes nascetur. Mi bibendum neque egestas congue quisque. Nisi est sit amet facilisis magna etiam tempor orci eu. Blandit turpis cursus in hac habitasse platea. Tempus urna et pharetra pharetra massa massa ultricies mi quis. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Non quam lacus suspendisse faucibus. Placerat vestibulum lectus mauris ultrices eros.
										<br><br>
										Egestas sed tempus urna et pharetra pharetra massa. Senectus et netus et malesuada. Et netus et malesuada fames ac turpis egestas sed. Mattis enim ut tellus elementum. Morbi quis commodo odio aenean sed adipiscing diam donec adipiscing. Risus ultricies tristique nulla aliquet enim. Magna eget est lorem ipsum dolor sit amet consectetur. Id ornare arcu odio ut sem nulla. Purus in massa tempor nec feugiat. Ante in nibh mauris cursus mattis molestie a iaculis at. Ac turpis egestas integer eget. Id eu nisl nunc mi ipsum faucibus vitae. Risus quis varius quam quisque id diam. Augue neque gravida in fermentum et sollicitudin ac orci. Placerat orci nulla pellentesque dignissim enim. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Vehicula ipsum a arcu cursus vitae congue. Hac habitasse platea dictumst quisque. Vitae justo eget magna fermentum iaculis. Cursus mattis molestie a iaculis at erat.
										<br><br>
										Eget magna fermentum iaculis eu non diam phasellus. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Lorem donec massa sapien faucibus et molestie ac. Et malesuada fames ac turpis. Mattis vulputate enim nulla aliquet porttitor lacus. In fermentum posuere urna nec tincidunt praesent semper. Nunc eget lorem dolor sed. Neque volutpat ac tincidunt vitae semper. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Bibendum enim facilisis gravida neque convallis a cras. Gravida cum sociis natoque penatibus. Consequat nisl vel pretium lectus quam id. Imperdiet sed euismod nisi porta. Ornare arcu dui vivamus arcu felis bibendum ut tristique. Accumsan sit amet nulla facilisi. Ornare quam viverra orci sagittis eu volutpat odio. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Nunc id cursus metus aliquam. Gravida in fermentum et sollicitudin ac.
										</p>
									</div>
									<div class="zh_HANS show-hide-text">
										<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
										<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
										<h2> 芝加哥正觉寺 </h2>
										<audio src="/audio/zh_HANS/buddhist-temple.mp3" controls>
																			Recording of Buddhist Temple article
																		</audio>
										<p>
																		
										正觉寺是唐人街唯一的一座佛教寺院，是由佛教协会在2004年成立的。最初的寺庙位于芝加哥北部，1992年由越南华人佛教徒组成。这座寺庙的位置对居住在唐人街的中国佛教移民来说是一个挑战，因为交通不便，行驶时间长。在唐人街的寺庙发展之前，社区内的信徒们很难实践他们的奉献。他们需要一座在他们自己的社区。原来的寺庙被卖掉了，现在的位置也建好了。这座寺庙由越南华人信徒建立，现在得到了大多数中国人的支持和尊重。<br> <br />
										如今，佛教友谊协会已有300名会员，在中英两种语言中加入了达摩，佛教实践正在兴起。协会在社区中发挥了重要作用。除了佛教讲座和实践指导外，他们还提供救灾、祈福、葬礼安排和售卖吉祥物品，如香、木鱼、护身符、骨灰等。此外，协会也参与了唐人街社区的改善和发展，希望能保持社区的安全。随着芝加哥唐人街的发展，寺庙计划在不久的将来与社区一起呈现一个展览，让大家对中国佛教文化有更多的认识。<br> <br />
										<font size="4"><strong>家庭神龛</strong></font><br> <br />
										在佛教中，神龛是指供奉佛或菩萨的地方。在神龛上，你可以找到蜡烛、鲜花、纯净水、食物或香。这些贡品为人们带来了好运。神龛提醒我们放弃生活中的消极，这样我们就能感受到和平、宁静、自由和光明。<br> <br />
										<font size="4"><strong>纸钱</strong></font><br> <br /> 
										在佛教神话中，死者必须通过阎罗王的审判。纸钱,也被称为神钱,焚烧或掩埋在葬礼上为祭。该祭品可以用来贿赂阎罗王，希望缩短刑期，或者用来购买奢侈品和生活必需品，以获得一个舒适的来世。纸钱是关于支持和帮助祖先们拥有他们在来世所需要的一切。除了葬礼，纸钱是在中国传统的神祇或祭祖仪式的特殊节日焚烧。<br> <br />
										传统的纸钱是用粗竹纸做的，但目前常用的是米纸。纸被切成正方形或长方形，每张都有一个薄薄的方形箔片或传统的红色中国印在中心。纸为白色，代表死者的哀悼，正方形箔是银或金，代表财富或金钱。另一种纸的外观形式是“金纸”，形状像锭或塔。纸钱和物品被用作转化的象征，通过燃烧它，它会增加它的价值并作为精神债务的偿还。</p>
									</div>
									<div class="zh_HANT show-hide-text">
											<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
											<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
											<h2> 芝加哥正觉寺 </h2>
											<audio src="/audio/zh_HANT/14-Buddhism.mp4" controls>
														Recording of buddhism article
											</audio>
											<p>
												<font size="4"><strong>芝加哥正覺寺</strong></font><br> <br />
												 正覺寺是唐人街唯一的一座佛教寺院，是由佛教協會在2004年成立的。最初的寺廟位於芝加哥北部，1992年由越南華人佛教徒組成。這座寺廟的位置對居住在唐人街的中國佛教移民來說是一個挑戰，因為交通不便，行駛時間長。在唐人街的寺廟發展之前，社區內的信徒們很難實踐他們的奉獻。他們需要一座在他們自己的社區。原來的寺廟被賣掉了，現在的位置也建好了。這座寺廟由越南華人信徒建立，現在得到了大多數中國人的支持和尊重。<br> <br />
												如今，佛教友誼協會已有300名會員，在中英兩種語言中加入了達摩，佛教實踐正在興起。協會在社區中發揮了重要作用。除了佛教講座和實踐指導外，他們還提供救災、祈福、葬禮安排和售賣吉祥物品，如香、木魚、護身符、骨灰等。此外，協會也參與了唐人街社區的改善和發展，希望能保持社區的安全。隨著芝加哥唐人街的發展，寺廟計畫在不久的將來與社區一起呈現一個展覽，讓大家對中國佛教文化有更多的認識。<br> <br />
												<font size="4"><strong>家庭神龕</strong></font><br> <br />
												 在佛教中，神龕是指供奉佛或菩薩的地方。在神龕上，你可以找到蠟燭、鮮花、純淨水、食物或香。這些貢品為人們帶來了好運。神龕提醒我們放弃生活中的消極，這樣我們就能感受到和平、寧靜、自由和光明。 <br> <br />
												<font size="4"><strong>紙錢</strong></font><br> <br />
												在佛教神話中，死者必須通過閻羅王的審判。紙錢，也被稱為神錢，焚燒或掩埋在葬禮上為祭。該祭品可以用來賄賂閻羅王，希望縮短刑期，或者用來購買奢侈品和生活必需品，以獲得一個舒適的來世。紙錢是關於支持和幫助祖先們擁有他們在來世所需要的一切。除了葬禮，紙錢是在中國傳統的神只或祭祖儀式的特殊節日焚燒。 <br> <br />
												傳統的紙錢是用粗竹紙做的，但現時常用的是米紙。紙被切成正方形或長方形，每張都有一個薄薄的方形箔片或傳統的紅色中國印在中心。紙為白色，代表死者的哀悼，正方形箔是銀或金，代表財富或金錢。另一種紙的外觀形式是“金紙”，形狀像錠或塔。紙錢和物品被用作轉化的象徵，通過燃燒它，它會新增它的價值並作為精神債務的償還。</p>
									</div>
								</div>
								
							</div>
							<div id="gallery" class="tab-pane fade">
							      	<h3 class="en">Gallery</h3>
									<h3 class="zh_HANS">GallerySIMPLIFIED</h3>
									<h3 class="zh_HANT">GalleryTRADITIONAL</h3>
								<div class="row">
									<div class="col-lg-4 col-md-12 mb-4">
										<img src="/images/locations/buddhist-temple-1.jpg" class="img-fluid mb-4" alt="Picture of Buddhist Temple">
										<img src="/images/locations/chinatown-gate.jpg" class="img-fluid mb-4" alt="Picture of Chinatown Gate">
									</div>
									<div class="col-lg-4 col-md-6 mb-4">
										<img src="/images/locations/buddhist-temple-1.jpg" class="img-fluid mb-4" alt="Picture of Buddhist Temple">
										<img src="/images/locations/chinatown-gate.jpg" class="img-fluid mb-4" alt="Picture of Chinatown Gate">
									</div>
									<div class="col-lg-4 col-md-6 mb-4">
										<img src="/images/locations/buddhist-temple-1.jpg" class="img-fluid mb-4" alt="Picture of Buddhist Temple">
										<img src="/images/locations/chinatown-gate.jpg" class="img-fluid mb-4" alt="Picture of Chinatown Gate">
									</div>
								</div>
							</div>
						</div>
					</div>
  				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
