<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<p>
									<font size="4"><strong>Small Groceries: Fresh Food</strong></font>
									<br>
									Obtaining fresh groceries are of special importance to the Chinese community, especially to those who live in Chinatown. This practice is able to be seen with the busy and bustling streets of Chinatown every morning and early afternoon, filled with the hurried shuffles of neighborhood locals. The Chinese community values the freshness of groceries in their cuisine, and thus is demonstrated with the daily purchases of various vegetables, meat, and/or poultry. 
									<br>
									<font size="4"><strong>Soy Sauce Buckets</strong></font>
									<br>
									Soy sauce buckets may seem like strange objects to be discussed but can actually be utilized for many unexpected reasons in the Chinatown community. Throughout the winding streets of the neighborhood, buckets filled with gardening soil and different types of seafood are located among majority of households. The buckets are great for growing tomatoes, ginger, and other common ingredients. In traditional Asian culture, being resourceful is common through reusing products and not being wasteful of any consumables. Unconventionally, with the unwritten rules of parking dibs in Chicago, it is common to see soy sauce buckets on the street as a placeholder. 
									<br>
									<font size="4"><strong>Fish Delivery </strong></font>
									<br>
									Every morning in Chinatown, the familiar scent of consistent semi-trucks filled with livestock and fish make their route to restock restaurants and small grocery stores. Any tourist walking through Chinatown will see aquariums of fish in shops. There is always an abundance of different varieties of fish. 
									<br>
									<font size="4"><strong>BaGua Mirror</strong></font>
									<br>
									Feng shui bagua mirror is an octagonal shaped mirror, you can see it around walking in Chinatown or in souvenir shops. The mirror has a purpose beyond being a souvenir piece from Chinatown. It’s an ancient feng shui method to balance the energy in an area and it’s used to diffuse strong energy directed to certain places. The mirror is usually hung outside homes or businesses, in rare cases it’s hung inside. The most common places where you catch the sight of Bagua mirrors are over the front doors of a business or a house. Some houses or businesses located at the end of a T-intersections use Bagua mirrors, also they are used if a sharp object or a corner point at the front door and if residents are experiencing unpleasant energy around a particular area. 
									<br>
									There is another explanation to the powers of Bagua mirrors. Some people say that Bagua mirrors drive away evil and unwanted spirits as it’s believed that evil spirits are repulsed to the sight of their own reflection. Moreover, the preferred size of the mirror is 8 inches and it’s the mostly common used size because eight is a lucky number.
							</p>
						</div>
					</div>
					<div class="col">
							<img src="/images/locations/tradition-object.png" class="img-fluid rounded" alt="Picture of BaGua Mirror">
					</div>
				</div>
			</div>
			<div class="zh_HANS container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<p>
								<font size="4"><strong>小杂货铺: 新鲜食材</strong></font>
								<br>
								大部分中国人重视食材的新鲜度, 因此每天购买各种蔬菜、肉类或家禽。在海外，华人也比较重视食材的新鲜度，生活在唐人街的人们，因为地理优势，更加在意这一点。每天早上和下午早些时候, 人们都能看到繁华唐人街的街道, 到处都是唐人街居民匆忙且有条不紊去购买当日食材。
								<br>
								<font size="4"><strong>酱油桶</strong></font>
								<br>
								这种外形较大的酱油桶，感觉不是一个会在中国城被谈论起的话题，但实际上生活在唐人街的华裔们却可以在很多意想不到的地方用到它。在附近蜿蜒的街道上, 大多数家庭门口都会有这种酱油桶，有些人会在水桶里装满园艺土，然后种植西红柿，生姜或者是其他农作物。有些人会用这种酱油桶装海鲜。在停车规则不成文的唐人街上，还有人会用酱油桶占车位。这一个小小的举动，反映了中国人自古以来的勤俭节约，将废物利用到生活大小之处。
								<br>
								<font size="4"><strong>送活鱼</strong></font>
								<br>
								每天早上，载满着牲畜和活鱼的卡车会开进唐人街，用于给餐馆和小杂货店运送当日所需的食材。你可以在唐人街某些商店里看到装有各种活鱼的鱼缸。
								<br>
								<font size="4"><strong>八卦镜</strong></font>
								<br>
								风水八卦镜是一个八角形的镜子，此外，镜面的最佳尺寸是8英寸，这是最常用的尺寸，因为8是个幸运数字，代表着财运。你可以在唐人街或者纪念品商店找到八卦镜。八卦镜除了是一种纪念品，还有其他的意义。八卦镜蕴含着古老的风水含义——用来平衡一个地区的能气场，并扩散某些地方强大的气场。有人会把八卦镜挂在住宅或商店外面，偶尔也会挂在室内；也有人会把它摆放在企业或房子的前门。如果前门有尖锐的物体，八卦镜还会用在位于丁字路口尽头的房屋或商铺的角落。对八卦镜的力量还有另一种解释，八卦镜也会用来驱鬼和驱邪，邪恶的灵魂会被镜中的映像吓退。
							</p>
						</div>
					</div>
					<div class="col">
							<img src="/images/locations/tradition-object.png" class="img-fluid rounded" alt="Picture of BaGua Mirror">
					</div>
				</div>
			</div>
			<div class="zh_HANT container py-5">
				<div class="row">
					<div class="col pull-right">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<p>
								<font size="4"><strong>小雜貨舖: 新鮮食材</strong></font>
								<br>
								大部分中國人重視食材的新鮮度, 因此每天購買各種蔬菜、肉類或家禽。在海外，華人也比較重視食材的新鮮度，生活在唐人街的人們，因為地理優勢，更加在意這一點。每天早上和下午早些時候, 人們都能看到繁華唐人街的街道, 到處都是唐人街居民匆忙且有條不紊去購買當日食材。
								<br>
								<font size="4"><strong>醬油桶</strong></font>
								<br>
								這種外形較大的醬油桶，感覺不是一個會在中國城被談論起的話題，但實際上生活在唐人街的華裔們卻可以在很多意想不到的地方用到它。在附近蜿蜒的街道上, 大多數家庭門口都會有這種醬油桶，有些人會在水桶裡裝滿園藝土，然後種植西紅柿，生薑或者是其他農作物。有些人會用這種醬油桶裝海鮮。在停車規則不成文的唐人街上，還有人會用醬油桶佔車位。這一個小小的舉動，反映了中國人自古以來的勤儉節約，將廢物利用到生活大小之處。
								<br>
								<font size="4"><strong>送活魚</strong></font>
								<br>
								每天早上，載滿著牲畜和活魚的卡車會開進唐人街，用於給餐館和小雜貨店運送當日所需的食材。你可以在唐人街某些商店裡看到裝有各種活魚的魚缸。
								<br>
								<font size="4"><strong>八卦鏡</strong></font>
								<br>
								風水八卦鏡是一個八角形的鏡子，此外，鏡面的最佳尺寸是8英寸，這是最常用的尺寸，因為8是個幸運數字，代表著財運。你可以在唐人街或者紀念品商店找到八卦鏡。八卦鏡除了是一種紀念品，還有其他的意義。八卦鏡蘊含著古老的風水含義——用來平衡一個地區的能氣場，並擴散某些地方強大的氣場。有人會把八卦鏡掛在住宅或商店外面，偶爾也會掛在室內；也有人會把它擺放在企業或房子的前門。如果前門有尖銳的物體，八卦鏡還會用在位於丁字路口盡頭的房屋或商舖的角落。對八卦鏡的力量還有另一種解釋，八卦鏡也會用來驅鬼和驅邪，邪惡的靈魂會被鏡中的映像嚇退。
								</p>
						</div>
					</div>
					<div class="col">
							<img src="/images/locations/tradition-object.png" class="img-fluid rounded" alt="Picture of BaGua Mirror">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>