<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<p>
									Origin Youth Group is a group for youngsters in Chinatown from Coalition for a Better Chinese American Community. The group does not own a physical location by itself, but they run from CASL. It started as a way to mobilize youth in Chinatown to promote the power that Chinese Americans hold in society. Darek Lau, Vice President of Origin Youth Group mentioned that currently it is more educational and recreational at the same time. It is a way to relax the members of the group, mentally and physically. This group is different from other youth clubs as it is led by the youth. In general, members of this group are mostly from 14 to 20 years old and have been a part of this group for a long time. These members were initially recruited from their schools. The goal of this group is to provide the youth of Chinatown with a space where they can develop creative thinking, learn how to raise their voices, and talk about issues currently being faced by Chinese community. This group is educating the youth on political topics and in long term, it expects its members to discuss these topics and their thought with their families and in public. Currently, this group is facing funding issues. Lack of funds have limited their recruitment and quality of their workshops. Darek Lau also mentioned that currently due to lack of funds the staff is using the resources accessible to them. In future, they are hoping to get the more funding, so they keep bringing the change in Chinatown community’s youth. 
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="Picture of Origin Youth Group">
					</div>
				</div>
			</div>
			<div class="zh_HANS container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<p>
                                                            Origin Youth Group是一个来自于Coalition的,为了中国城年轻人组建的，一个更好的在美华人社区的组织。这个组织自身并没有具体的活动地点，但他们依附于CASL活动。他们最初通过帮助中国城的年轻人进行移动来帮助华裔美国人在社区中有着控制力。Darek Lau，Origin Youth Group的副会长提到目前它更加的受教育并更娱乐。这是个能够让它的成员同时身体上和精神上放松的方式。这个组织和其他的华裔年轻人组织不一样。总体来讲，这个组织的成员主要来源于14岁到20岁的年轻人并且已经在这个组织中呆了很长时间。这些成员最初是从他们的学校招募的。这个组织的目标是为中国城的年轻人提供一个能够让他们创意性思考，学习如何提升他们的欲求之声以及谈论中国城目前直面的问题的地点。这个组织目前在教育年轻人在政治话题和长远话题上的评论，它期待它的成员能够在他们的家庭以及公共场合讨论这些问题。现在，这个组织正在面临着资金问题。资金的缺乏限制了他们的新人招募以及他们的工房。Darek Lau同样提起了现在由于缺少资金他们的工作人员正在使用任何他们能触及到的资源，在未来，他们希望能有更多的资金，那样的话他们就可以继续为中国城的年轻人带来改变。
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="Picture of Origin Youth Group">
					</div>
				</div>
			</div>
			<div class="zh_HANT container py-5">
				<div class="row">
					<div class="col pull-right">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<p>
                                                                    Origin Youth Group是一個來自於Coalition的，為了中國城年輕人組建的，一個更好的在美華人社區的組織。這個組織自身並沒有具體的活動地點，但他們依附於CASL活動。他們最初通過幫助中國城的年輕人進行移動來幫助華裔美國人在社區中有著控制力。Darek Lau，Origin Youth Group的副會長提到現時它更加的受教育並更娛樂。這是個能够讓它的成員同時身體上和精神上放鬆的管道。這個組織和其他的華裔年輕人組織不一樣。總體來講，這個組織的成員主要來源於14歲到20歲的年輕人並且已經在這個組織中呆了很長時間。這些成員最初是從他們的學校招募的。這個組織的目標是為中國城的年輕人提供一個能够讓他們創意性思考，學習如何提升他們的欲求之聲以及談論中國城現時直面的問題的地點。這個組織現時在教育年輕人在政治話題和長遠話題上的評論，它期待它的成員能够在他們的家庭以及公共場合討論這些問題。現在，這個組織正在面臨著資金問題。資金的缺乏限制了他們的新人招募以及他們的工房。Darek Lau同樣提起了現在由於缺少資金他們的工作人員正在使用任何他們能觸及到的資源，在未來，他們希望能有更多的資金，那樣的話他們就可以繼續為中國城的年輕人帶來改變。
								</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="Picture of Origin Youth Group">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
