<!-- Footer -->
<footer class="footer section bg-light-primary text-gray pt-2">
    <div class="container-fluid">
        <!-- Empty Space -->
        <div class="md-space"></div>
        <!--/ End Empty Space -->
        <!-- <div class="row no-gutters">
             <div class="col-10 mx-auto ml-lg-0 mr-lg-auto">
             <div class="row">
             <ul class="nav col flex-column base-plus-font-size">
             <li class="nav-link nav-head text-uppercase font-weight__500 text-black base-font-size font-family-secondary">Company</li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">About</a></li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">Blog</a></li>
             </ul>
             <ul class="nav col flex-column base-plus-font-size">
             <li class="nav-link nav-head text-uppercase font-weight__500 text-black base-font-size font-family-secondary">Support</li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">Help</a></li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">FAQ</a></li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">Contact</a></li>
             </ul>
             <ul class="nav col flex-column base-plus-font-size">
             <li class="nav-link nav-head text-uppercase font-weight__500 text-black base-font-size font-family-secondary">Legal</li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">Terms</a></li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">Privacy</a></li>
             <li class="nav-item"><a href="#" class="nav-link text-gray">Refund</a></li>
             </ul>
             </div>
             </div>
             </div> -->
        <!-- Empty Space -->
        <div class="lg-space"></div>
        <!--/ End Empty Space -->
        <div class="row">
            <div class="col-10 mx-auto ml-lg-0 mr-lg-auto">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        <ul class="nav base-plus-font-size justify-content-center justify-content-lg-start">
                            <li class="nav-item">
                                <a href="https://www.facebook.com/ccamuseum/" class="nav-link text-gray pl-lg-0"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.twitter.com/ccamuseum" class="nav-link text-gray"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.instagram.com/ccamuseum" class="nav-link text-gray"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.linkedin.com/company/chinese-american-museum-of-chicago/" class="nav-link text-gray pl-lg-0"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.youtube.com/user/ccamuseum" class="nav-link text-gray pl-lg-0"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                        <div class="copyright xs-font-size text-center text-lg-left">
                            &copy; 2018. All Rights Reserved. <div class="d-inline-block"><span>Theme by</span> <a class="text-black" href="https://themesfor.app/">Themes For App</a> | <span>Artwork by</span> <a class="text-black" href="https://twitter.com/savydv">@savydv</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Empty Space -->
        <div class="lg-space"></div>
        <div class="lg-space"></div>
        <!--/ End Empty Space -->
    </div>
    <img src="/images/footer-image-2.png" class="footer-img-2">
    <img src="/images/footer-image-1.png" class="footer-img-1">
</footer>
<!--/ End Footer -->
