<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,700" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

  <!-- Default CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">

  <!-- Color CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/color.css">

  <!-- Font CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">

  <!-- Button CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/button.css">

  <!-- Vex CSS -->
  <link rel="stylesheet" type = "text/css" href="/stylesheets/vex.css" />
  <link rel="stylesheet" type = "text/css" href="/stylesheets/vex-theme-os.css" />
  
  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  <!-- More button CSS -->
  <style>#more {display: none;}</style>
  <style>#moreZh {display: none;}</style>
  
  <% include ../partials/scripts %>

  <style>
    .button {
    background-color: #ff5000;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    }
    .button:hover {opacity: 1}
  </style>
    
    <!-- limit text length -->
    <style>
      .textL {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         line-height: 16px;     /* fallback */
         max-height: 32px;      /* fallback */
         -webkit-line-clamp: 5; /* number of lines to show */
         -webkit-box-orient: vertical;
      }
    </style>

      <!-- text wrap css-->
    <style>
      .show-hide-text {
      display: flex;
      flex-wrap: wrap;
      }

      .show-hide-text a {
      order: 2;
      }

      .show-hide-text p {
      position: relative;
      overflow: hidden;
      max-height: 240px; // The Height of ? rows
      }

      .show-hide-text p {
      display: -webkit-box;
      -webkit-line-clamp: 7; // ? Rows of text
      -webkit-box-orient: vertical;
      }

      .show-less-en {
      display: none;
      }

      .show-less-en:target {
      display: block;
      }

      .show-less-en:target ~ p {
      display: block;
      max-height: 100%;
      }

      .show-less-en:target + a {
      display: none;
      }

      .show-less-zhs {
      display: none;
      }

      .show-less-zhs:target {
      display: block;
      }

      .show-less-zhs:target ~ p {
      display: block;
      max-height: 100%;
      }

      .show-less-zhs:target + a {
      display: none;
      }

      .show-less-zht {
      display: none;
      }

      .show-less-zht:target {
      display: block;
      }

      .show-less-zht:target ~ p {
      display: block;
      max-height: 100%;
      }

      .show-less-zht:target + a {
      display: none;
      }

      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0;
    </style>

  <!--scroll to top-->
    <style>
      #return-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      width: 50px;
      height: 50px;
      display: block;
      text-decoration: none;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      display: none;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index:10
      }
      #return-to-top i {
      color: #fff;
      margin: 0;
      position: relative;
      left: 16px;
      top: 13px;
      font-size: 19px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      }
      #return-to-top:hover {
      background: rgba(0, 0, 0, 0.9);
      }
      #return-to-top:hover i {
      color: #fff;
      top: 5px;
      }
    </style>
    
</head>
