<!-- Header -->
<header class="header">
  <div class="header-inner">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler base-plus-font-size text-back" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="base-color fa fa-bars xl-font-size"></span>
        </button>
        <div class="collapse navbar-collapse mt-3 mt-lg-0 base-plus-font-size font-weight__400" id="main-menu">
          <ul class="navbar-nav ml-auto mt-lg-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4 en" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contents
              </a>
              <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANS" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                内容
              </a>
              <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANT" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                內容
              </a>
              <ul class="dropdown-menu bg-dark">
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary en" href="/content/entrepreneurship">Chinatown Entrepreneurship</a>
                  <a class="font-family-secondary zh_HANS" href="/content/entrepreneurship">唐人街企业家</a>
                  <a class="font-family-secondary zh_HANT" href="/content/entrepreneurship">唐人街企業家</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary en" href="/content/damaDancers">Dama Dancers</a>
                  <a class="font-family-secondary zh_HANS" href="/content/damaDancers">广场舞</a>
                  <a class="font-family-secondary zh_HANT" href="/content/damaDancers">廣場舞</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary en" href="/content/newYearParade">New Year Parade</a>
                  <a class="font-family-secondary zh_HANS" href="/content/newYearParade">新年游行</a>
                  <a class="font-family-secondary zh_HANT" href="/content/newYearParade">新年遊行</a>
                </li>
               
                 <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/content/world_chinatown">Chinatowns across North America/World</a>
                    <a class="font-family-secondary zh_HANS" href="/content/world_chinatown">跨越北美/世界的唐人街</a>
                    <a class="font-family-secondary zh_HANT" href="/content/world_chinatown">跨越北美/世界的唐人街</a>
                </li>
               
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/content/youthGroup">Origin Youth Group</a>
                    <a class="font-family-secondary zh_HANS" href="/content/youthGroup">起源青年组</a>
                    <a class="font-family-secondary zh_HANT" href="/content/youthGroup">起源青年組</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary " href="/content/ccvp">CCVP</a>
                </li>
              </ul>
            </li>
      <!--    <ul class="navbar-nav ml-auto mt-lg-3">
               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle text-black font-family-secondary js-scroll-trigger mx-lg-4" href="/location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   About
                   </a>
                   <ul class="dropdown-menu">
                   <li class="dropdown-item">
                   <a class="text-black font-family-secondary" href="#">Project Vision</a>
                   </li>
                   <li class="dropdown-item">
                   <a class="text-black font-family-secondary" href="#">CBAC</a>
                   </li>
                   </ul>
                   </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4 en" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Locations
              </a>
              <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANS" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                地点
              </a>
              <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANT" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                地點
              </a>
              <ul class="dropdown-menu bg-dark">                
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/buddhist-temple">Buddhist Temple</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/buddhist-temple">芝加哥正觉寺</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/buddhist-temple">芝加哥正覺寺</a>
                </li>
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/commerce">Chamber of Commerce</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/commerce">中国城商会</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/commerce">中國城商會</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary en" href="/locations/tradition-objects">Unique Objects/Traditions</a>
                  <a class="font-family-secondary zh_HANS" href="/locations/tradition-objects">中国传统物品</a>
                  <a class="font-family-secondary zh_HANT" href="/locations/tradition-objects">中國傳統物品</a>
                </li>
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/casl">Chinese American Service League - CASL</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/casl">华裔美国人服务联盟</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/casl">華裔美國人服務聯盟</a>
                </li>
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary" href="/locations/cbcac">CBCAC</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary" href="/locations/cucc">CUCC</a>
                </li>
                
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/medicine">Herbalist</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/medicine">中医简介</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/medicine">中医简介</a>
                </li>
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/ccamuseum">Chinese-American Museum of Chicago</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/ccamuseum">芝加哥美洲华裔博物馆</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/ccamuseum">芝加哥美洲華裔博物館</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary en" href="/locations/nine-dragon">Nine Dragon Wall</a>
                  <a class="font-family-secondary zh_HANS" href="/locations/nine-dragon">九龙壁</a>
                  <a class="font-family-secondary zh_HANT" href="/locations/nine-dragon">九龍壁</a>
                </li>
                <li class="dropdown-item text-white">
                     <a class="font-family-secondary" href="/locations/st-therese">St Therese</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/st-therese">圣特雷塞中国天主教堂</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/st-therese">聖特雷塞中國天主教堂</a>
                </li> 
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/familyAssoc">Family Associations</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/familyAssoc">家庭协会</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/familyAssoc">家庭協會</a>
                </li>
                <li class="dropdown-item text-white">
                     <a class="font-family-secondary en" href="/locations/puitak">Pui Tak </a>
                      <a class="font-family-secondary zh_HANS" href="/locations/puitak">培德中心</a>
                      <a class="font-family-secondary zh_HANT" href="/locations/puitak">培德中心</a>
                </li>
                <li class="dropdown-item text-white">
                  <a class="font-family-secondary en" href="/locations/library">Chinatown Library </a>
                  <a class="font-family-secondary zh_HANS" href="/locations/library">中国城图书馆</a>
                  <a class="font-family-secondary zh_HANT" href="/locations/library">中國城圖書館</a>
                </li>
                <!-- <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="#">Chinatown Square Plaza</a>
                </li> -->
                <li class="dropdown-item text-white">
                     <a class="font-family-secondary en" href="/locations/pingTom">Ping Tom Park</a>
                      <a class="font-family-secondary zh_HANS" href="/locations/pingTom">平汤姆公园</a>
                      <a class="font-family-secondary zh_HANT" href="/locations/pingTom">平湯姆公園</a>
                </li>

                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/chinatownGate">Chinatown Gate</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/chinatownGate">唐人街大门</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/chinatownGate">唐人街大門</a>
                </li>
                <li class="dropdown-item text-white">
                    <a class="font-family-secondary en" href="/locations/chineseZodiac">Chinese Zodiac</a>
                    <a class="font-family-secondary zh_HANS" href="/locations/chineseZodiac">十二生肖</a>
                    <a class="font-family-secondary zh_HANT" href="/locations/chineseZodiac">十二生肖</a>
                </li>
              
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white font-family-secondary js-scroll-trigger mx-lg-4 en" href="/map">Map</a>
                <a class="nav-link text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANS" href="/map">地图</a>
                <a class="nav-link text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANT" href="/map">地圖</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white font-family-secondary js-scroll-trigger mx-lg-4 en" href="/stories">Stories</a>
                <a class="nav-link text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANS" href="/stories">故事</a>
                <a class="nav-link text-white font-family-secondary js-scroll-trigger mx-lg-4 zh_HANT" href="/stories">故事</a>
            </li>
            <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle text-white font-family-secondary js-scroll-trigger mx-lg-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    	Language | 语言 | 語言
	      </a>
	      <ul class="dropdown-menu bg-dark">
	      	<li class="dropdown-item">
	      	    <a class="text-white font-family-secondary" href="#" onclick="SetLang(&quot;English&quot;)">English | 英语 | 英語</a>
	      	</li>
	      	<li class="dropdown-item">
	      	    <a class="text-white font-family-secondary" href="#" onclick="SetLang(&quot;Simplified Chinese&quot;)">Simplified Chinese | 简体中文 | 簡體中文</a>
	      	</li>
                <li class="dropdown-item">
                    <a class="text-white font-family-secondary" href="#" onclick="SetLang(&quot;Traditional Chinese&quot;)">Traditional Chinese | 繁体中文 | 繁體中文</a>
                </li>
	      </ul>
	      <!-- <li class="nav-item"> -->
	      <!--   <button onclick="ChangeLang()">Language</button> -->
	      <!-- </li> -->
	    </li>
            <li class="nav-item mt-1">
                <a class="nav-link font-family-secondary js-scroll-trigger mx-lg-4 en" href="/contact">Contact</a>
                <a class="nav-link font-family-secondary js-scroll-trigger mx-lg-4 zh_HANS" href="/contact">联系</a>
                <a class="nav-link font-family-secondary js-scroll-trigger mx-lg-4 zh_HANT" href="/contact">聯繫</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-2 col-sm-3 mx-3 px-3">
      <a href="/">
        <img src="/images/museum-logo/logo.png" style="background-color: rgba(255, 255, 255, .6); border-radius: 15px;">
      </a>
    </div>
  </div>
</header>

<!--/ End Header -->
