<!-- Header -->
<header class="header">
  <div class="header-inner">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler base-plus-font-size text-back" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="base-color fa fa-bars xl-font-size"></span>
        </button>
        <div class="collapse navbar-collapse mt-3 mt-lg-0 base-plus-font-size font-weight__400" id="main-menu">
          <ul class="navbar-nav ml-auto mt-lg-3">
              <!-- <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle text-black font-family-secondary js-scroll-trigger mx-lg-4" href="/location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   About
                   </a>
                   <ul class="dropdown-menu">
                   <li class="dropdown-item">
                   <a class="text-black font-family-secondary" href="#">Project Vision</a>
                   </li>
                   <li class="dropdown-item">
                   <a class="text-black font-family-secondary" href="#">CBAC</a>
                   </li>
                   </ul>
                   </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-black font-family-secondary js-scroll-trigger mx-lg-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Locations
              </a>
              <ul class="dropdown-menu">
                  <!-- <li class="dropdown-item">
                       <a class="text-black font-family-secondary" href="/locations/nine-dragon">Nine Dragon Wall</a>
                       </li> -->
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/buddhist-temple">Buddhist Temple</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="/locations/casl">CASL Association</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="/locations/cbcac">CBCAC</a>
                </li>
                <!-- <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="#">CCUC</a>
                     </li> -->
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="/locations/commerce">Chamber of Commerce</a>
                </li>
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/medicine">Chinese Medicine</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="/locations/ccamuseum">Chinese-American Museum of Chicago</a>
                </li>
                <!-- <li class="dropdown-item">
                     <a class="text-black font-family-secondary" href="/locations/st-therese">St Therese</a>
                     </li> -->
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="/locations/familyAssoc">Family Associations</a>
                </li>
                <!-- <li class="dropdown-item">
                     <a class="text-black font-family-secondary" href="#">Pui Tak</a>
                     </li> -->
                <!-- <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="#">Chinatown Square Plaza</a>
                </li> -->
                <!-- <li class="dropdown-item">
                     <a class="text-black font-family-secondary" href="#">Ping Tom (water taxi, mural)</a>
                     </li> -->
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/tradition-objects">Unique Objects/Traditions</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="/locations/youthGroup">Origin Youth Group</a>
                </li>
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/chinatownGate">Chinatown Gate</a>
                </li>
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/chineseZodiac">Chinese Zodiac</a>
                </li>
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/damaDancers">Dama Dancers</a>
                </li>
                <li class="dropdown-item">
                  <a class="text-black font-family-secondary" href="/locations/newYearParade">New Year Parade</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black font-family-secondary js-scroll-trigger mx-lg-4" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black font-family-secondary js-scroll-trigger mx-lg-4" href="/stories">Stories</a>
            </li>
            <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle text-black font-family-secondary js-scroll-trigger mx-lg-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    	Language
	      </a>
	      <ul class="dropdown-menu">
	      	<li class="dropdown-item">
	      	  <a class="text-black font-family-secondary" href="#" onclick="SetLang(&quot;English&quot;)">English</a>
	      	</li>
	      	<li class="dropdown-item">
	      	  <a class="text-black font-family-secondary" href="#" onclick="SetLang(&quot;Simplified Chinese&quot;)">Simplified Chinese</a>
	      	</li>
                <li class="dropdown-item">
                    <a class="text-black font-family-secondary" href="#" onclick="SetLang(&quot;Traditional Chinese&quot;)">Traditional Chinese</a>
                </li>
	      </ul>
	      <!-- <li class="nav-item"> -->
	      <!--   <button onclick="ChangeLang()">Language</button> -->
	      <!-- </li> -->
	    </li>
            <li class="nav-item mt-1">
              <a class="nav-link font-family-secondary js-scroll-trigger mx-lg-4" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-2 col-sm-3 mx-3 px-3">
      <a href="/">
        <img src="/images/museum-logo/logo.png">
      </a>
    </div>
  </div>
</header>

<!--/ End Header -->
