<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
								<h1>Chinatown Community Vision Plan</h1>
                                    <audio src="/audio/en/ccvp.mp3" controls>
                                        Recording of CCVP article
                                    </audio>
								<p><br>The Chinatown Community Vision Plan (CCVP) is a long term collaborative plan between the Coalition for a Better Chinese American Community (CBCAC), 25th Ward Alderman Daniel Solis, and the Chicago Metropolitan Agency for Planning (CMAP) along with the residents of Chinatown who live and work there. <br> <br />
								The CCVP was initiated in April 2013, and community approval of the plan began in February 2015. Implementation of the plan is ongoing. <br> <br />
								A postcard survey distributed to Chinatown residents in English and Chinese was used to assess community needs. The questions assessed what community members would like to see in Chinatown, such as parks or improvements in certain areas. Of the 1,300 responses received, safety was the primary concern, along with cleanliness and transportation issues.<br> <br />
								The recommendations enclosed in the plan embody a range of areas, including education, public parks and spaces, transportation, and safety. Strategies for these areas range from coordination between various committees that are related to that area of concern to urban planning to directly changing or altering physical structures in the community. <br> <br />
								The members of this project hope the CCVP will result in a Chinatown that is strengthened by the work of the organizations involved in the plan. </p>
						</div>
					</div>
					<div class="col py-5">
							<!-- <img src="/images/locations/.jpg" class="img-fluid" alt="Picture of CCVP"> -->
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>芝加哥华埠远见计划</h1>
							<p>芝加哥华埠远见计划（CCVP）是一个华埠更好团结联盟（CBCAC），第25届Ward Alderman Daniel Solis和芝加哥大都会机构之间的长期合作计划。它们一同规划在唐人街生活和工作的居民。<br> <br />
								CCVP于2013年4月启动，该计划被社区批准于2015年2月正式开始。该计划仍在实施中。<br> <br />
								用于评估社区问题的方法是向唐人街居民分发（英文和中文）明信片调查。调查询问了受访者他们希望在唐人街看到什么，例如公园，或某些地区的改善。在收到的1,300份回复中，安全是受访者首要关注的问题，同时还有清洁和运输问题。<br> <br />
								计划中的建议包含一系列领域，包括但不限于教育，公园和空间，交通和安全。这些领域的战略包括与该领域相关的各委员会之间的协调，以及改变或改变社区物理结构的城市规划。<br> <br />
								该项目的成员希望该计划能够唐人街变得更好，同时也为居民和游客提供各种服务。</p>
						</div>
					</div>
					<div class="col py-5">
							<!-- <img src="/images/locations/.jpg" class="img-fluid" alt="CCVP的照片"> -->
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>芝加哥華埠遠見計劃</h1>
								<p>芝加哥華埠遠見計劃（CCVP）是一個華埠更好團結聯盟（CBCAC），第25屆Ward Alderman Daniel Solis和芝加哥大都會機構之間的長期合作計劃。它們一同規劃在唐人街生活和工作的居民。<br> <br />
								用於評估社區問題的方法是向唐人街居民分發（英文和中文）明信片調查。調查詢問了受訪者他們希望在唐人街看到什麼，例如公園，或某些地區的改善。在收到的1,300份回復中，安全是受訪者首要關注的問題，同時還有清潔和運輸問題。<br> <br />
								計劃中的建議包含一系列領域，包括但不限於教育，公園和空間，交通和安全。這些領域的戰略包括與該領域相關的各委員會之間的協調，以及改變或改變社區物理結構的城市規劃。<br> <br />
								該項目的成員希望該計劃能夠唐人街變得更好，同時也為居民和遊客提供各種服務。</p>
						</div>
					</div>
					<div class="col py-5">
							<!-- <img src="/images/locations/.jpg" class="img-fluid"  alt="CCVP的照片"> -->
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>