<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class= "show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>Chicago's Flourishing Chinatown</h1>
                            
                            <audio src="/audionew/en/ChicagosFlourishingChinatown.mp3" controls>
                                    Recording of Chicago's Flourishing Chinatown article
                            </audio>
                            <p>

                                <br>
                                Chinatowns across America face a growing variety of challenges: Many have been  wiped away by gentrification and the constantly changing urban landscape.  Despite those facts, within Chicago’s bounds exists a still-flourishing Chinatown, one that remains a sanctuary for those seeking a home away from home.
                                <br> <br />
                                As you walk by the corners of Chinatown you will notice that everything is in some form of Chinese dialect and English. The town sustains itself by having businesses, restaurants, agencies, schools, and churches accessible to the community. At the same time from an outsider’s perspective, it provides the illusion of having traveled to another country. This keeps the influx of tourist constant while boosting the local economy. The red line stop leaves those eager to visit Chinatown in front of its impressive gate and Nine-Dragon Wall welcoming them to explore further and learn about its history. 
                                <br> <br />
                                Chinatown’s organizations are the relentless heart of the community. They balance tradition and progress by considering the opinions of each member of the community. A person does not just live in Chinatown, they are Chinatown. Each one unique, with their own dialect and story of how they came to be. It is a safe haven for those who need guidance and the opportunity to adapt to American culture. In it there are numerous job opportunities for the newly arrived and centers that offer the help immigrants often need to succeed. 
                                <br> <br />
                                Chinatown preserves its community by keeping itself separated from the outside world. Locals often advertise for jobs or housing opportunities in the streets rather than on the internet. This way those who live nearby will have an advantage over others. People rarely move out but if they do they try to be replaced by someone who would feel identified and supported by the community. Methods like this have increased the Asian population by 30 percent between the years 2000 and 2010.

                            </p>
								
						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/Flourishing/flourishing.jpg"hspace="20px" vspace="20px" alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
                            <h1> 芝加哥蓬勃发展的唐人街 </h1>

                            <p>
                                <br>
                                美国的唐人街正在经历第二次灭亡，它们正被高档化和不断变化的城市景观所磨灭。尽管芝加哥范围内也确实存在着这种情况，市内正在成长的唐人街却没有经历这种逆境，并为了正在寻找家外之家的人们提供了一个避难所。
                                <br> <br />
                                当你走在唐人街的角落时，你会发现所有东西都是一些中文方言和英文，这个城镇以商铺，餐厅，代理商，学校和教会的社区便利性为优势来维持他自己。同时，以局外人的角度来看，它会令人幻想自己去了另一个国家。这在促进当地经济的同时还保持了游客的涌入。红线站在唐人街那令人印象深刻的牌坊和九龙壁放下那些渴望参观唐人街的游客以欢迎他们来探索和学习更多关于唐人街的历史。
                                <br> <br />
                                唐人街的各种机构是社区里不懈的心，他们通过考虑社区每个成员的意见来平衡传统和进步，人们不只是住在唐人街，而他们本身就是唐人街的一部分。社区里每个人都是独一无二的，各自拥有自己的方言和故事。对于那些需要指导和机会来适应美国文化的人来说，这是一个安全的港湾，它为新移民提供了大量的工作机会，为成功移民提供了帮助。
                                <br> <br />
                                唐人街通过与外界隔绝来保护它的社区。当地人经常在街上而不是在互联网上发布招聘或招租的广告，这样对住在附近的人比对其他区域的人更有利。人们很少会搬出去，但如果他们真的搬出去了，他们会努力寻找被这个社区认同和支持的人去替代自己。在2000年到2010年间，这样的方法使亚洲人口增加了30%。
                            </p>

						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/Flourishing/flourishing.jpg" hspace="20px" vspace="20px"alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
                        <h1> 芝加哥蓬勃發展的唐人街 </h1>

                            <p>

                                <br>
                                美國的唐人街正在經歷第二次滅亡，它們正被高檔化和不斷變化的城市景觀所磨滅。儘管芝加哥範圍內也確實存在著這種情況，市內正在成長的唐人街卻沒有經歷這種逆境，並為了正在尋找家外之家的人們提供了一個避難所。
                                <br> <br />
                                當你走在唐人街的角落時，你會發現所有東西都是一些中文方言和英文，這個城鎮以商舖，餐廳，代理商，學校和教會的社區便利性為優勢來維持他自己。同時，以局外人的角度來看，它會令人幻想自己去了另一個國家。這在促進當地經濟的同時還保持了遊客的湧入。紅線站在唐人街那令人印象深刻的牌坊和九龍壁放下那些渴望參觀唐人街的遊客以歡迎他們來探索和學習更多關於唐人街的歷史。
                                <br> <br />
                                唐人街的各種機構是社區裡不懈的心，他們通過考慮社區每個成員的意見來平衡傳統和進步，人們不只是住在唐人街，而他們本身就是唐人街的一部分。社區裡每個人都是獨一無二的，各自擁有自己的方言和故事。對於那些需要指導和機會來適應美國文化的人來說，這是一個安全的港灣，它為新移民提供了大量的工作機會，為成功移民提供了幫助。
                                <br> <br />
                                唐人街通過與外界隔絕來保護它的社區。當地人經常在街上而不是在互聯網上發布招聘或招租的廣告，這樣對住在附近的人比對其他區域的人更有利。人們很少會搬出去，但如果他們真的搬出去了，他們會努力尋找被這個社區認同和支持的人去替代自己。在2000年到2010年間，這樣的方法使亞洲人口增加了30%。

                            </p>

						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/Flourishing/flourishing.jpg" hspace="20px" vspace="20px"alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
