<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class= "show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>College Students Growing Up in Chinatown</h1>
                                <audio src="/audionew/en/CollegeStudentsinChinatown.mp3" controls>
                                    Recording of Mid-Autumn Festival article
                                    </audio>

								<p>
                                <br>
								Growing up in Chinatown has been an important part of the lives of both college students who are American Born Chinese (ABCs) and immigrants from China. Students who grew up in Chinatown feel connected through the community in Chinatown as a whole due to the shared cultural beliefs and practices most Chinese people practice. College students who grew up in Chinatown usually went to an elementary school that was close to Chinatown due to the walkability.  
								<br> <br />
								According to James Tan, a second year college student who grew up in Chinatown: <br>
                                “Outside of Haines, growing up in Chinatown was a big thing because I used to live in a house across that school, and I would know a lot of people in that community by walking and going out to markets to buy food. I would meet a lot of people and it made me feel like part of the community as a whole, which was a big thing for me in Chinatown.”
								<br> <br />
								Many college students who grew up in Chinatown were immigrants from China as well. Chinatown is important to immigrants who come from China because it gives them a place to feel at ease in a place that draws many parallels of the culture of their home country.  Over the past few years, Chinatown has gotten a lot more immigrants coming from mainland China.
								<br> <br />
								Willie Li, a sophomore student attending IIT, states: <br>
                                “China was actually the first place I lived before I came to America. Most of the experiences I had growing up in China was mostly positive. When my parents and I came here we were very lost and confused. We didn’t speak the language and we didn't understand what was going on. And in Chinatown we were able to see many of the same things we would see in China which made it easier to cope and understand and make our life better in America. It gave us a sense of comfort during our most difficult times.”
								<br> <br />
								A lot of students who grew up in Chinatown are Americanized due to living in the United states. Compared to first generation Chinese, many students are second generation students, and tradition is not as heavily emphasized. However, students who grew up in Chinatown are still regularly exposed to Chinese culture and tradition because of the many practice of tradition in Chinatown.  Elaina Yon, a junior at IIT states  “I think living in America makes you more Americanized too, but it doesn’t override Chinese heritage. Living in Chinatown allows you to see the people who are familiar with the tradition, and allows you to learn from it.”
                                <br> <br />
                                Growing up in Chinatown is a large part of the identity of Chinese students who lived or grew up there. Chinatown is a unifying community and is an integral part for maintaining culture and tradition for many Chinese people.
						        </p>
						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/College_Students_In_Chinatown/College_Students.jpg" hspace="20px" vspace="20px"alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
						<h1> 在唐人街长大的大学生们 </h1>

                            <p>
                                <br>
                                对于在美国出生的华裔中国人和中国移民人士来说，在唐人街长大是他们人生中很重要的一部分。在唐人街长大的学生们能通过唐人街的整个社区而感受到相互联系，因为他们拥有相同的文化信仰和做着大多数中国人会做的事情。在唐人街长大的大学生小时候通常为了可以步行到达学校都会在唐人街附近的小学就读。
                                <br> <br />
                                James Tan，在唐人街长大的大学二年级生:
                                <br>
                                “在唐人街长大是一件非常重要的事情，因为我以前住在那个学校的对面，并且当我在社区的超市里买东西和逛街的时候会认识许多人。我会遇到很多人，那会让我感到我是整个社区的一部分，这对我来说是很重要的一件事情。”
                                <br> <br />
                                许多在唐人街长大的大学生都是从中国来的移民，唐人街对他们来说非常重要因为那里给了他们一个让他们觉得轻松自在的地方，或者说那里是给了他们一个接近他们祖国的地方。 在过去的几年里，唐人街接受了很多来自中国大陆的移民。
                                <br> <br />
                                Willie Li，伊利诺伊理工大学二年级生：
                                <br>
                                “在我来美国之前，中国其实是我第一个生活的地方。我的大部分在中国长大的经验都是美好的。当我和我的父母刚来到这里，我们感到非常失落和困惑。我们不会说这里的语言也不明白周围发生了什么。在唐人街里，我们可以看到许多在中国也看得到的事物，这让我们更容易去应对和明白周遭的事情，也让我们在美国的生活变得更好。他在我们最艰难的时刻给了我们一些舒适感。”
                                <br> <br />
                                由于很多在唐人街长大的学生住在美国，他们都被美国化了。相比起第一代的中国人，很多学生都是第二代学生，然而传统已经不再被那么地强调了。但是，在唐人街长大的学生们仍然会因为唐人街很多传统的习俗而定期接触到中国的文化和传统。Elaina Yon 是伊利诺伊理工大学大三学生：“我也觉得在美国生活会让你更美国化，但是这不会改写中国的传统。住在唐人街令你可以见到一些对传统更熟悉的人，也可以让你从中学习。”
                                <br> <br />
                                在唐人街长大对于在那里居住或成长的人来说是他们中国学生身份的重要组成部分。唐人街是一个统一的社区，是维护许多中国文化和传统的组成部分。


                            </p>
						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/College_Students_In_Chinatown/College_Students.jpg" hspace="20px" vspace="20px"alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
						<h1> 在唐人街長大的大學生們 </h1>

                            <p>
                                <br>
                                對於在美國出生的華裔中國人和中國移民人士來說，在唐人街長大是他們人生中很重要的一部分。在唐人街長大的學生們能通過唐人街的整個社區而感受到相互聯繫，因為他們擁有相同的文化信仰和做著大多數中國人會做的事情。在唐人街長大的大學生小時候通常為了可以步行到達學校都會在唐人街附近的小學就讀。
                                <br> <br />
                                James Tan，在唐人街長大的大學二年級生:
                                <br>
                                “在唐人街長大是一件非常重要的事情，因為我以前住在那個學校的對面，並且當我在社區的超市裡買東西和逛街的時候會認識許多人。我會遇到很多人，那會讓我感到我是整個社區的一部分，這對我來說是很重要的一件事情。”
                                <br><br />
                                許多在唐人街長大的大學生都是從中國來的移民，唐人街對他們來說非常重要因為那裡給了他們一個讓他們覺得輕鬆自在的地方，或者說那裡是給了他們一個接近他們祖國的地方。在過去的幾年裡，唐人街接受了很多來自中國大陸的移民。
                                <br> <br />
                                Willie Li，伊利諾伊理工大學二年級生：
                                <br>
                                “在我來美國之前，中國其實是我第一個生活的地方。我的大部分在中國長大的經驗都是美好的。當我和我的父母剛來到這裡，我們感到非常失落和困惑。我們不會說這裡的語言也不明白周圍發生了什麼。在唐人街里，我們可以看到許多在中國也看得到的事物，這讓我們更容易去應對和明白周遭的事情，也讓我們在美國的生活變得更好。他在我們最艱難的時刻給了我們一些舒適感。”
                                <br> <br />
                                由於很多在唐人街長大的學生住在美國，他們都被美國化了。相比起第一代的中國人，很多學生都是第二代學生，然而傳統已經不再被那麼地強調了。但是，在唐人街長大的學生們仍然會因為唐人街很多傳統的習俗而定期接觸到中國的文化和傳統。 
                                <br> <br />
                                Elaina Yon 是伊利諾伊理工大學大三學生：“我也覺得在美國生活會讓你更美國化，但是這不會改寫中國的傳統。住在唐人街令你可以見到一些對傳統更熟悉的人，也可以讓你從中學習。” 在唐人街長大對於在那里居住或成長的人來說是他們中國學生身份的重要組成部分。唐人街是一個統一的社區，是維護許多中國文化和傳統的組成部分。

                            </p>
						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/College_Students_In_Chinatown/College_Students.jpg" hspace="20px" vspace="20px" alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
