<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
								<audio src="/audio/en/damaDancers.mp3" controls>
                                                            Recording of Dama Dancers article
                                                        </audio>
									<h1>Dama dancers</h1>
									<p>
									Dama dancers have long been an institution in China, and their influence as a collective is growing throughout regions where Chinese residents gather, especially in Chinatowns across the United States. 
									<br>
									The term “dama” is roughly translated to “big mama,” referring to the legions of middle-aged women who dance in city squares or plazas to overwhelmingly loud music. In China, the damas’ number is estimated to be over 100 million strong, with most of them being between the ages of 50 and 60. 
									<br>
									Many scholars trace this affinity for dancing back to the damas’ childhood, as they were growing up in the years of the Cultural Revolution. The dama dancing trend soon took off as Beijing The notion of collectivism and social harmony in that era is reflected in the damas’ inclination to dance in groups, as they feel secure and safe that way.
									<br>
									However, others who are not part of this group have complained about the loud music and dancing, saying it disrupts their concentration and daily life. In Guangzhou, citizens have proposed a ban on dancing altogether, albeit with fierce resistance from the damas. They argue that there is nothing wrong with dancing in a public place, yet detractors say otherwise. 
									<br>
									A case in New York when a dama was arrested in conjunction with noise levels being too high per city regulations serves to illuminate the debate on both sides. How will the current trend of dama dancers grow, with detractors and supporters on both sides? Whatever the case, they are here to stay. 
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container py-5">
				<div class="row">
					<div class="col">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
								<audio src="/audio/zh_HANS/damaDancers.mp3" controls>
                                                            Recording of Dama Dancers article
                                                        </audio>
														<h1>广场舞</h1>
														<p>
								广场舞长期以来一直是中国的一个现象，他们作为一个集体的影响力正在中国居民聚集的地区，特别是在美国的中国城发酵。
								<br>
								“dama”一词大致翻译为“大妈”，指的是在城市广场或公园里跳舞，以极其嘈杂的音乐表演的中年妇女群体。在中国，damas的数量估计超过1亿，其中大部分年龄介于50至60岁之间。
								<br>
								许多学者追溯舞蹈到大妈们的童年时的亲和力，因为她们在文革期间成长。广场舞很快就风靡北京。那个时代的集体主义和社会和谐的概念反映在广场舞中，因为她们通过这么做获得安全感。
								<br>
								然而，其他不属于这一群体的人抱怨嘈杂的音乐和舞蹈，并说它会扰乱他们的注意力和日常生活。在广州，公民提出完全禁止广场舞，遭到来自大妈们的激烈抵抗。她们认为在公共场所跳舞并没有什么不妥，但批评者却说不然。
								<br>
								纽约的一个案例是，某个大妈根据城市规定，噪音水平太高而被捕，这有助于阐明双方的辩论。广场舞将何去何从，它的支持者和反对者又将如何？不管怎样，它现在确实存在。
							</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container py-5">
				<div class="row">
					<div class="col pull-right">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>廣場舞</h1>
								<p>
								廣場舞長期以來一直是中國的一個現象，他們作為一個集體的影響力正在中國居民聚集的地區，特別是在美國的中國城發酵。
								<br>
								“dama”一詞大致翻譯為“大媽”，指的是在城市廣場或公園裡跳舞，以極其嘈雜的音樂表演的中年婦女群體。在中國，damas的數量估計超過1億，其中大部分年齡介於50至60歲之間。
								<br>
								許多學者追溯舞蹈到大媽們的童年時的親和力，因為她們在文革期間成長。廣場舞很快就風靡北京。那個時代的集體主義和社會和諧的概念反映在廣場舞中，因為她們通過這麼做獲得安全感。
								<br>
								然而，其他不屬於這一群體的人抱怨嘈雜的音樂和舞蹈，並說它會擾亂他們的注意力和日常生活。在廣州，公民提出完全禁止廣場舞，遭到來自大媽們的激烈抵抗。她們認為在公共場所跳舞並沒有什麼不妥，但批評者卻說不然。
								<br>
								紐約的一個案例是，某個大媽根據城市規定，噪音水平太高而被捕，這有助於闡明雙方的辯論。廣場舞將何去何從，它的支持者和反對者又將如何？不管怎樣，它現在確實存在。
								</p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
