<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class ="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a> 
							<h1>Chinatown Entrepreneurship</h1>
                                                        <audio src="/audio/en/entrepreneurship.mp3" controls>
                                                            Recording of Chinatown Entrepreneurship article
                                                        </audio>
								

								<p>In Chinatown, there are a variety of shops and businesses owned and operated by Chinese immigrants.
                                    The most prominent of them was the food industry. In the early days of Chinatown there was only restaurants and grocery stores. One of the important businesses was with fish.
                                    One such business is the fish delivery service owned by CW Chan, a prominent figure in the Chinatown community, who originally came to chicago to go to UC. The fish delivery business stemmed from his work at various Chinese restaurants in the 1960s, , and his work in biology with shrimp agriculture, when Chinatown was still in what is now called South Loop. He realized that there was a need for fresh fish in many restaurants because it is a staple of many cultural traditions. Many ethnic groups eat various types of fish, and thus the fish delivery business for CW Chan spread to all over the country. It first started, though, in Chinatown.<br> <br />

								Younger Chinese entrepreneurs continue to find success in the Chicago area. For example, Chowbus is a food delivery app started in 2016 by Chinese-Americans. Chowbus’ food delivery app has seen a large increase in its user base particularly because of the photos and variety of dishes to choose from within the app.<br> <br />
								A study shows that 30% of new entrepreneurs who are immigrants are making finding success, as highlighted by Chowbus’ example. Nationally, Asian entrepreneurs brought in approximately $652 million in revenue last year. Entrepreneurship in Chinatown is an integral part of the local and national economy. Budding entrepreneurs still face challenges, since franchised stores and chains threaten small businesses and owners in the neighborhood.  </p>
						</div>
					</div>
					<div class="col py-5">
							<img src=" " class="img-fluid" alt="Picture of Chinatown Entrepreneurship">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>唐人街企业家</h1>
                                                        <audio src="/audio/zh_HANS/entrepreneurship.mp3" controls>
                                                            Recording of Chinatown Entrepreneurship article
                                                        </audio>
							<p>在唐人街上有许多中国移民经营的企业或商店。CW Chan就是其中之一。他是唐人街的知名人士，经营鱼类运送服务。这个生意源于他在60年代不同餐馆工作，当时唐人街还被叫做South Loop。他意识到餐厅对新鲜的鱼类的需求很大因为它在许多民族的传统文化中是很重要的存在。因此CW Chan的鱼类运送业务在唐人街起步进而逐渐遍布全国。<br>
								年轻的企业家陆续在芝加哥地区取得成功。例如，Chowbus就是一款由美国华人在2016年开发的外卖软件。这款外卖软件由于它丰富的菜品种类和精美的图片吸引了很多客户。<br>
								研究表明，30%的移民新企业家是被被Chowbus成功的例子所激励。去年在全国亚裔的企业家创造了约6亿5千2百万美元的收入。唐人街的企业与当地经济还有全国经济息息相关。新兴的企业仍然面临来自特许经营店和连锁店的威胁。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src=" " class="img-fluid" alt="唐人街企业家的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>唐人街企業家</h1>
								<p>在唐人街上有許多中國移民經營的企業或商店。 CW Chan就是其中之一。他是唐人街的知名人士，經營魚類運送服務。這個生意源於他在60年代不同餐館工作，當時唐人街還被叫做South Loop。他意識到餐廳對新鮮的魚類的需求很大因為它在許多民族的傳統文化中是很重要的存在。因此CW Chan的魚類運送業務在唐人街起步進而逐漸遍布全國。<br>
								年輕的企業家陸續在芝加哥地區取得成功。例如，Chowbus就是一款由美國華人在2016年開發的外賣軟件。這款外賣軟件由於它豐富的菜品種類和精美的圖片吸引了很多客戶。<br>
								研究表明，30%的移民新企業家是被被Chowbus成功的例子所激勵。去年在全國亞裔的企業家創造了約6億5千2百萬美元的收入。唐人街的企業與當地經濟還有全國經濟息息相關。新興的企業仍然面臨來自特許經營店和連鎖店的威脅。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src=" " class="img-fluid"  alt="唐人街企業家的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
