<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>History of Chicago’s Chinatown </h1>
                                                        <audio src="/audio/en/history.mp3" controls>
                                                            Recording of Chinatown History article
                                                        </audio>
								<p>The Chinatown community has been in existence for over 100 years in Chicago. Through the 1950s and 1960s, a large influx of Chinese people immigrated. Most of them settled around the South Loop area and found work in restaurants, shops, and laundromats, among other jobs. Some of the recently arrived Chinese people even started their own businesses.<br>
								Various development projects and other gentrifying forces in the area forced many of the Chinese population to move out of the South Loop. Many of them moved to the present day location of Chinatown, around Archer and Wentworth. Various organizations began offering services to new residents in Chinatown in order to help them find their bearings and support, whether through medical services, job seeking, or social welfare programs. <br>
								Currently, this legacy continues as organizations have begun the implementation of a Chinatown Community Vision Plan, a comprehensive plan that will improve and provide more opportunities for people living in, as well as visiting, Chinatown. Chicago’s Chinatown is growing, and the support it is receiving from local organizations bodes well for the future.  </p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid" alt="Picture of Chinatown ">
					</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>唐人街历史</h1>
                                                        <audio src="/audio/zh_HANS/history.mp3" controls>
                                                            Recording of Chinatown History article
                                                        </audio>
							<p>唐人街社区已经在芝加哥存在了100多年。在20世纪50年代和60年代，中国移民数量激增。大多数人在South Loop地区定居，并在餐馆，商店，和洗衣店或者从事其他工作。一些刚刚抵达的中国人甚至开办了自己的企业。<br>
								该地区的各种发展项目和其他势力迫使许多中国人迁出South Loop地区。他们中的许多人搬到了现在的唐人街，Archer和Wentworth附近。许多组织开始向唐人街的新居民提供服务，以帮助他们找到更多资助，例如医疗服务，求职机会或社会福利计划。<br>
								目前，组织开始进行并继续着唐人街社区远见计划，这是一项全面，并且能够改善并为居住在唐人街的人们提供更多机会的计划。<br>
								唐人街广场拥有众多商店和餐馆，因此吸引了大批的游客。芝加哥的唐人街在不断的发展，它的未来会是一片光明。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid" alt="Picture of Chinatown ">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<h1>唐人街歷史</h1>
								<p>唐人街社區已經在芝加哥存在了100多年。在20世紀50年代和60年代，中國移民數量激增。大多數人在南環地區定居，並在餐館，商店，和洗衣店或者從事其他工作。一些剛剛抵達的中國人甚至開辦了自己的企業。<br>
								該地區的各種發展項目和其他勢力迫使許多中國人遷出南環地區。他們中的許多人搬到了現在的唐人街，Archer和Wentworth附近。許多組織開始向唐人街的新居民提供服務，以幫助他們找到更多資助，例如醫療服務，求職機會或社會福利計劃。<br>
								目前，組織開始進行並繼續著唐人街社區遠見計劃，這是一項全面，並且能夠改善並為居住在唐人街的人們提供更多機會的計劃。<br>
								唐人街廣場擁有眾多商店和餐館，因此吸引了大批的遊客。芝加哥的唐人街在不斷的發展，它的未來會是一片光明。
								</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid"  alt="Picture of Chinatown">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
