<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class= "show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>Midautumn Festival</h1>

                            <p>
                                <br>
                                The Mid-Autumn Festival is a longstanding Chinese tradition that has been celebrated since the Shang Dynasty. The festival celebrates the end of the harvest, as well as having strong associations with the moon. Legend has it that there were once ten suns that scorched the earth at all times. To solve this problem, the Emperor of Heaven had the great archer, Hou Yi, shoot down nine of these suns. To reward him for this, the emperor gave Hou Yi an elixir of immortality. Not wanting to live forever without his beautiful wife, Chang’e, he instead hid the elixir in his home. Unfortunately, on the 15th day of the eighth month, while Hou Yi was out hunting, his apprentice, Feng Meng, went to his home to steal the elixir for himself. To prevent him from stealing it, Chang’e took the elixir herself, becoming immortal and ascending to the moon as its goddess, leaving Hou Yi alone on earth. When he learned of this he was heartbroken and left fruits and cakes in their yard as an offering to the moon. Soon others learned of his story and started leaving food out too on the 15th day of the eighth month to honor her. 
                                <br> <br />
                                Many families celebrate this holiday in different ways but for the people of Chinatown in Chicago it is a community wide celebration that brings the community together as a whole. One major way that the community celebrates the festival is through mooncakes, a dense pastry shaped like the moon to honor Chang’e. These come in a wide variety of flavors but the most common are red bean, lotus paste, and five kernels, some of which contain egg yolks to represent the phases of the moon. In the afternoons, a variety of traditional Chinese shows and performances can be viewed. These shows range from traditional lion dancing or fan dancing, to a Qipao fashion show. For the 2019 Mid-Autumn Festival, 12 artists created paintings of the different animals of the zodiac assigned to them. For the Chicago Chinatown community, The Mid-Autumn Festival is a unifying element and a reminder of Chinese traditions.
                            </p>
								
						</div>
					</div>
					<div class="col-py4">
							<img src="/images/Chinatown_Pictures/Midautumn_Festival/Midautmn_Festival.jpg" hspace="20" vspace="20" alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>中秋节</h1>
                            <p>
                                <br>
                                中秋节是中国自商代以来的悠久传统。该节日庆祝收成的结束，并与月亮有很大的关系。传说曾经有十个太阳一直在焦灼着地球。为了解决这个问题，天皇让弓箭手后羿击落了其中的九个太阳。为了奖励他，皇帝给了后羿不朽的长生不老药。可是他并不想要没有了他妻子嫦娥的一生，所以他把长生不老药藏在了家里。不幸的是，在八月十五日，后羿的徒弟，逄蒙趁着后羿出去打猎的时候，去了他家里打算偷走长生不老药。嫦娥为了防止药被逄蒙偷走，自己服下了长生不老药，变为长生不老并作为女神登上了月亮，留下后羿自己一人在地上。当后羿知道了此事后感到非常伤心，他把水果和糕点放在花园以表示献给月亮。不久后世人得知了他们的故事，也开始在八月十五日把食物留在外面表示献给月亮来纪念嫦娥。
                                <br> <br />
                                很多家庭都以不同的方式来庆祝中秋节，但是在芝加哥唐人街的人把它视为社区之间的庆祝，以此把社区联系了起来成为一个整体。其中一个主要的庆祝方式就是月饼，一款浓密的糕点被制作成月亮的形状来纪念嫦娥。月饼有许多种口味，最常见的是红豆，莲蓉和五仁，有些还有蛋黄来代表月相。在当天下午，芝加哥唐人街有许多中国传统表演可以观看。这些演出包括了传统舞狮，扇舞和旗袍时装秀。2019年的中秋节，有12位艺术家分别创作了代表十二生肖的动物。对于芝加哥唐人街社区而言，中秋节是将社区凝聚在一起的统一元素，并让人们时刻记得中国传统。
                            </p>
						</div>
					</div>
					<div class="col">
							<img src="/images/Chinatown_Pictures/Midautumn_Festival/Midautmn_Festival.jpg" alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
						
                        <h1>中秋節</h1>

                            <p>
                                <br>
                                中秋節是中國自商代以來的悠久傳統。該節日慶祝收成的結束，並與月亮有很大的關係。傳說曾經有十個太陽一直在焦灼著地球。為了解決這個問題，天皇讓弓箭手后羿擊落了其中的九個太陽。為了獎勵他，皇帝給了后羿不朽的長生不老藥。可是他並不想要沒有了他妻子嫦娥的一生，所以他把長生不老藥藏在了家裡。不幸的是，在八月十五日，后羿的徒弟，逄蒙趁著后羿出去打獵的時候，去了他家裡打算偷走長生不老藥。嫦娥為了防止藥被逄蒙偷走，自己服下了長生不老藥，變為長生不老並作為女神登上了月亮，留下后羿自己一人在地上。當后羿知道了此事後感到非常傷心，他把水果和糕點放在花園以表示獻給月亮。不久後世人得知了他們的故事，也開始在八月十五日把食物留在外面表示獻給月亮來紀念嫦娥。
                                <br> <br />
                                很多家庭都以不同的方式來慶祝中秋節，但是在芝加哥唐人街的人把它視為社區之間的慶祝，以此把社區聯繫了起來成為一個整體。其中一個主要的慶祝方式就是月餅，一款濃密的糕點被製作成月亮的形狀來紀念嫦娥。月餅有許多種口味，最常見的是紅豆，蓮蓉和五仁，有些還有蛋黃來代表月相。在當天下午，芝加哥唐人街有許多中國傳統表演可以觀看。這些演出包括了傳統舞獅，扇舞和旗袍時裝秀。 2019年的中秋節，有12位藝術家分別創作了代表十二生肖的動物。對於芝加哥唐人街社區而言，中秋節是將社區凝聚在一起的統一元素，並讓人們時刻記得中國傳統。

                            
                            </p>
						</div>
					</div>
					<div class="col">
							<img src="/images/Chinatown_Pictures/Midautumn_Festival/Midautmn_Festival.jpg" alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
