<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class= "show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>The Origins of Chinatowns in America</h1>

								<p>
                                <br>
								The Chinese Exclusion Act of 1882, and its successive act, the Geary Laws in 1892, were the sole American legislation explicitly banning immigration for entire racial groups. These laws were primarily driven by a fear of low-cost Chinese labor driving down wages for white Americans, not only in the railroads - where Chinese immigrants of the period are stereotypically shown working, but also in agricultural labor and during California’s Gold Rush.  
								<br> <br />
								The new laws prevented Chinese families from emigrating to join their male family members who had been working here in the US, largely due to suspicion of Chinese women coming to the US to work in prostitution. Combined with laws meant to keep Chinese from intermarrying with whites, this was meant less to prevent Chinese from staying in the country - and more to drive them ‘back to China’.
								<br> <br />
								One of the few ways around this law was a ‘merchant exclusion’, which allowed individuals and families who were opening or running a business to stay in and move to the US. This resulted in a large number of Chinese restaurants opening up all over the US - one of the few good things to come out of a dark time in Chinese-American history.
								<br> <br />
								However, others who are not part of this group have complained about the loud music and dancing, saying it disrupts their concentration and daily life. In Guangzhou, citizens have proposed a ban on dancing altogether, albeit with fierce resistance from the damas. They argue that there is nothing wrong with dancing in a public place, yet detractors say otherwise. 
								<br> <br />
								As CW Chan observed in his interview with us, some things don’t change in modern times. “Food industry is a very important industry, and I’ll try to put it in the context of the growth of Chinatown. In the early days, Chinatown was only restaurants, grocery stores. If you don’t do anything else, you have to eat. Everybody has to eat. That’s how the immigrants get their first step in the community. Restaurant is a very important part of the Chinese American culture. In the old days, international students, we had no money. I came to Chicago to go to UC, before school started, I was working at a restaurant, making money. So all the Chinese Americans, everybody had some link to the food industry, because that’s how you survive. That’s the survival of the immigrant community”. 
						        </p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1> 美国唐人街的起源 </h1>

                            <p>
                                <br>
                                1882年的《排华法案》及其后续行动，1892年的《基瑞法案》是美国唯一一部明确禁止整个种族群体移民的立法。这些法律主要是由于担心廉价的中国劳动力会压低美国白人的工资，这不仅是从该时期中国人正在工作的铁路上显示出的刻板印象，而且在农业劳动以及加利福尼亚的淘金热潮时期也是如此。
                                <br> <br />
                                由于担心中国妇女来美国从事卖淫工作，新法律禁止中国家庭移民到美国与她们在美国工作的丈夫和父亲团聚。结合旨在防止中国人与白人通婚的法律，这不是意味着防止中国人留在该国，而是更多地促使他们“回去中国”。
                                <br> <br />
                                绕开该法律的几种方法之一是“商人除外”，允许正在开业或经营企业的个人和家庭留在美国并迁往美国。这导致了许多中国餐馆在全美范围内开业，这是华裔美国历史上度过黑暗时期的几件好事之一。
                                <br> <br />
                                正如CW Chan在接受我们访问时所提到的观察：“食品工业是一个非常重要的行业，我会尝试将其与唐人街的发展联系起来。在早期，唐人街只是餐馆，杂货店。就算您不做别的事情，也得吃饭，每个人都必须吃饭。这就是移民们踏入社区的第一步。餐厅是美国华裔文化的重要组成部分，以前我是国际学生，并没有什么钱。我在芝加哥大学上学，在开学之前，我就去餐厅打工赚钱。因此，所有的华裔美国人都与食品工业有一定的联系，因为这就是他们生存的方式，这就是移民社区的生存方式。”
                                <br> <br />

                            </p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>美國唐人街的起源</h1>

                            <p>
                                <br>
                                1882年的《排華法案》及其後續行動，1892年的《基瑞法案》是美國唯一一部明確禁止整個種族群體移民的立法。這些法律主要是由於擔心廉價的中國勞動力會壓低美國白人的工資，這不僅是從該時期中國人正在工作的鐵路上顯示出的刻板印象，而且在農業勞動以及加利福尼亞的淘金熱潮時期也是如此。
                                <br> <br />
                                由於擔心中國婦女來美國從事賣淫工作，新法律禁止中國家庭移民到美國與她們在美國工作的丈夫和父親團聚。結合旨在防止中國人與白人通婚的法律，這不是意味著防止中國人留在該國，而是更多地促使他們“回去中國”。
                                <br> <br />
                                繞開該法律的幾種方法之一是“商人除外”，允許正在開業或經營企業的個人和家庭留在美國並遷往美國。這導致了許多中國餐館在全美範圍內開業，這是華裔美國歷史上度過黑暗時期的幾件好事之一。
                                <br> <br />
                                正如CW Chan在接受我們訪問時所提到的觀察：“食品工業是一個非常重要的行業，我會嘗試將其與唐人街的發展聯繫起來。在早期，唐人街只是餐館，雜貨店。就算您不做別的事情，也得吃飯，每個人都必須吃飯。這就是移民們踏入社區的第一步。餐廳是美國華裔文化的重要組成部分，以前我是國際學生，並沒有什麼錢。我在芝加哥大學上學，在開學之前，我就去餐廳打工賺錢。因此，所有的華裔美國人都與食品工業有一定的聯繫，因為這就是他們生存的方式，這就是移民社區的生存方式。”

                            </p>
						</div>
					</div>
					<div class="col">
							<img src="" alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
