<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class= "show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>St. Therese from Children's Perspective</h1>
                                <audio src="/audionew/en/StudentsPerspectiveonStTherese.mp3" controls>
                            Recording of St. Therese from Children's Perspective article
                        </audio>
								<p>
                                    <br>
                                    For the children living in Chinatown, St. Therese is more than just a Catholic Church. St. Therese is viewed as a safe, unifying environment that brings together children and the community as a whole.
                                    <br> <br />
                                    According to Tiffany Tse, Age 13:
                                    <br>
                                    “I go to school at St. Therese Chinese Catholic school. I have been there since pre-school. The community there in the school is safe, friendly, and it makes everyone feel accepted for being who they are. I feel like that type of environment reflects on the whole neighborhood of Chinatown.”
                                    <br> <br />
                                    Most children who attend St. Therese has been there for a long time, and St. Therese has helped them in many ways growing up. St. Therese helps bring the community of Chinatown together by participating in large events, such as the annual Lunar New Year Chinatown parade. Students attending St. Therese help with preparing the parade, as well as participating in major events.
                                    <br> <br />
                                    According to Connie Tan, Age 11:
                                    <br>
                                    “Even though I moved, I still visit Chinatown often and spend most of my time there. I would attend some of the parades, marathons, and annual summer fairs. My school, St. Therese School, is a big contributor to the parades. St. Therese students participate in these events, and that amazes me. I am very grateful that my parents decided to move here many years ago or else my life wouldn’t be what it is right now.”
                                    <br> <br />
                                    Although you might think St. Therese is mostly Chinese students, there are students from a wide variety of backgrounds. Despite the cultural differences, students like Chloe Culen, a Mexican-American attending St. Therese, is still able to enjoy major events such as the Summer Fair in Chinatown. 
                                    <br> <br />
                                    Chloe Culen states:
                                    <br>
                                    “In Chinatown there is much to do such as seasonal events like the Summer Fair. Our church, St. Therese, does contribute to this. The Summer Fair is a street festival that goes throughout the whole town. On one street there is our church, like I said, we contribute to this. We do things such as make food, lemonade, set up game stands, play music, and much more! The students from St. Therese help out to run the stands and have fun in the process.”
                                    <br> <br />
                                    Local events like these help keep the Chinatown community history alive. Both these and the great education it provides show how St. Therese serves both Chinatown and its surrounding communities.

								</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="/images/Chinatown_Pictures/St_Therese_from_Childrens_Perspective/ChurchChildren.jpg" alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
                            <h1> 小朋友眼中的圣德力 </h1>

                            <p>

                                对于住在唐人街的小孩来说，圣德力华人天主教堂不只是一间天主教堂。圣德力被视为一个安全和统一的环境并把孩子们和社区融合在一起。
                                <br> <br />
                                Tiffany Tse，13岁：
                                <br>
                                “我在圣德力天主教学校上学，学前教育的时候我就去过那里，学校那边的社区非常安全和友善，并且那里让每个人都觉得自己被接受。我觉得那一种环境反应在了整个唐人街社区上。” 
                                <br> <br /> 
                                大部分参与圣德力的孩子们都去了很长时间，同时在他们的成长中，圣德力也帮助了他们很多。 圣德力通过参与各种唐人街像农历新年唐人街游行之类的大型活动，来帮助凝聚整个唐人街社区。在圣德利的学生们也会参加及帮忙大型活动的准备工作。
                                <br> <br />
                                Connie Tan,  11岁：
                                <br>
                                “虽然我搬家了，但是我还是会经常去唐人街参与一些游行活动，马拉松，和每年一次的夏季博览会。我的学校，圣德力小学是游行的重要贡献者。圣德力学校的学生们参加了这些活动，这让我感到惊讶。我非常感谢我的父母决定搬来这里，否则我的生活就不是现在这样子了。”
                                <br> <br />
                                虽然你可能觉得圣德力学校里大部分都是中国学生，其实那里有很多不一样背景的学生们。尽管有着文化差异，其中一些学生像是墨西哥裔美国人，Chloe Culen，她仍然享受着唐人街里像是夏季博览会这些大型的活动。
                                <br> <br />
                                Chloe Culen：
                                <br>
                                “在唐人街里有许多例如夏季博览会之类的季节性的活动。我们的圣德力教会对此有许多贡献。夏季博览会是一个街头集市遍及整个城镇。我们的教会在其中一条街道上，就像我说的，我们对这个活动作出了贡献。我们为这个活动制作了食物，饮料，设置了游戏架，表演了音乐以及很多其他的事情。圣德力的学生们帮助了这个活动也觉得整个过程很有趣。” 
                                <br> <br />
                                这一类当地的活动让唐人街社区的历史更加生动。圣德力提供的良好教育以及活动的参与都体现了他们是如何对唐人街和附近的社区做出了贡献。

							</p>
						</div>
					</div>
					<div class="col">
							<img src="/images/Chinatown_Pictures/St_Therese_from_Childrens_Perspective/ChurchChildren.jpg" alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>小朋友眼中的聖德力</h1>

                            <p>
                                對於住在唐人街的小孩來說，聖德力華人天主教堂不只是一間天主教堂。聖德力被視為一個安全和統一的環境並把孩子們和社區融合在一起。
                                <br> <br />
                                Tiffany Tse，13歲：
                                <br>
                                “我在聖德力天主教學校上學，學前教育的時候我就去過那裡，學校那邊的社區非常安全和友善，並且那裡讓每個人都覺得自己被接受。我覺得那一種環境反應在了整個唐人街社區上。”
                                <br> <br />
                                大部分參與聖德力的孩子們都去了很長時間，同時在他們的成長中，聖德力也幫助了他們很多。聖德力通過參與各種唐人街像農曆新年唐人街遊行之類的大型活動，來幫助凝聚整個唐人街社區。在聖德利的學生們也會參加及幫忙大型活動的準備工作。
                                <br> <br />
                                Connie Tan, 11歲：
                                <br>
                                “雖然我搬家了，但是我還是會經常去唐人街參與一些遊行活動，馬拉松，和每年一次的夏季博覽會。我的學校，聖德力小學是遊行的重要貢獻者。聖德力學校的學生們參加了這些活動，這讓我感到驚訝。我非常感謝我的父母決定搬來這裡，否則我的生活就不是現在這樣子了。”
                                <br> <br />
                                雖然你可能覺得聖德力學校里大部分都是中國學生，其實那裡有很多不一樣背景的學生們。儘管有著文化差異，其中一些學生像是墨西哥裔美國人，Chloe Culen，她仍然享受著唐人街里像是夏季博覽會這些大型的活動。
                                <br> <br />
                                Chloe Culen：                   
                                <br>
                                “在唐人街里有許多例如夏季博​​覽會之類的季節性的活動。我們的聖德力教會對此有許多貢獻。夏季博覽會是一個街頭集市遍及整個城鎮。我們的教會在其中一條街道上，就像我說的，我們對這個活動作出了貢獻。我們為這個活動製作了食物，飲料，設置了遊戲架，表演了音樂以及很多其他的事情。聖德力的學生們幫助了這個活動也覺得整個過程很有趣。”
                                <br> <br />
                                這一類當地的活動讓唐人街社區的歷史更加生動。聖德力提供的良好教育以及活動的參與都體現了他們是如何對唐人街和附近的社區做出了貢獻。



                            </p>

						</div>
					</div>
					<div class="col">
							<img src="/images/Chinatown_Pictures/St_Therese_from_Childrens_Perspective/ChurchChildren.jpg" alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
