<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class= "show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>Summer Fair</h1>
                            <audio src="/audionew/en/SummerFair.mp3" controls>
                                    Recording of SUmmer Fair's article
                            </audio>
                            <p>
                                <br>
                                Even among American Chinatowns, Chicago has a unique character of its own. One of the best examples of this is the annual Summer Fair occurring in July. The Fair began in the summer of 1979 as a 'Taste of Chinatown', and has happened annually every year since.
                                <br> <br />
                                The Summer Fair had originally begun as a cultural event and art fair with plenty of entertainment as a “Taste of Chinatown”. William Fong, Charlie Soo, and the entire Cheung family, relatives and friends, donated their own money and time for the first three years of the fair's existence, which included the first Chinatown 5K run. This event was born to promote Chinatown and organizations such as The Chinese American Civic Council, Chinatown Chamber of Commerce, and others a chance to work together for the greater good of Chinatown. It was also adopted by Mayor Jane Byrnes in its birth year by her, “Summertime in Chicago”. Ten years later Alderman Fred B. Roti directed Gene Lee to form the Chinatown Special Events to produce fair and community-wide events like it every year. Then in 2014, they joined up with Chicago Chinatown Community Foundation to insure the success of the fair and the other events that they produced.
                                <br> <br />
                                Today the fair is an extraordinary event that can be enjoyed by all who visit it. Different vendors come every year to sponsor the fair and put their wares up for sale for those who wish to buy them. If shopping is not what you are looking to do at the festival then there is a variety of shows going on during the day. You can see dance shows from traditional dragon and lion dancing to modern k-pop. There are also fitness shows and martial arts demonstrations to view. No matter what your taste, is the Summer Fair is a wonderful unifying event that is a staple of Chinatown and a joy to take part in.
                            </p>
								
						</div>
					</div>
					<div class="col-py5">
							<img src="/images/Chinatown_Pictures/Summer_Fair/Summer_Fair.jpg" hspace="20" vspace="20" alt="picture of dama dance">
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>夏季博览会</h1>

                            <p>
                                <br>
                                即使是美国唐人街，芝加哥也有其独特的地方。其中一个例子就是每年七月的夏季博览会。博览会以“唐人街的味道”的形式起始于1979年，自那以后每年都会举办。
                                <br> <br />
                                夏季博览会最初是作为文化活动和艺术博览会而开始的，被称为“唐人街的味道”，具有很多娱乐性。William fong，Charlie Soo以及整个张氏家族，亲戚和朋友，在展览会成立的头三年里都捐献了自己的金钱和时间，其中包括唐人街5K的首次运行。这项活动的诞生是为了提供唐人街和华裔美国公民理事会，唐人街商会等组织，以及为实现唐人街更大的利益而共同努力的机会。这个活动也在它出现的那一年被市长Jane Byrnes 在她“芝加哥的夏季”里采用。十年后，Alderman Fred B. Roti 指示 Gene Lee 成立了唐人街特别活动，每年都会举办类似的博览会活动和社区活动。在2014年，他们与芝加哥唐人街社区基金会携手合作，以确保博览会及其举办的其他活动的成功。如今，博览会已是一项非凡的活动，所有参观该博览会的人都很享受。
                                <br> <br />
                                每年都有不同的供应商来赞助展览会，并将其商品出售给希望购买的人。如果在节日期间购物不是您的目的，那么白天也会有各种各样的表演。您即可以看到传统的舞龙舞狮表演，也可以看到现代流行的舞蹈表演，还可以欣赏到健身和武术表演。无论您的兴趣是什么，夏季博览会都会是唐人街一个很棒且会为你带来喜悦的活动。

                            </p>
						</div>
					</div>
					<div class="col">
							<img src="/images/Chinatown_Pictures/Summer_Fair/Summer_Fair.jpg" alt="广场舞的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
						<h1>夏季博覽會</h1>
                            <p>
                                <br>
                                即使是美國唐人街，芝加哥也有其獨特的地方。其中一個例子就是每年七月的夏季博覽會。博覽會以“唐人街的味道”的形式起始於1979年，自那以後每年都會舉辦。
                                <br> <br />
                                夏季博覽會最初是作為文化活動和藝術博覽會而開始的，被稱為“唐人街的味道”，具有很多娛樂性。 William fong，Charlie Soo以及整個張氏家族，親戚和朋友，在展覽會成立的頭三年裡都捐獻了自己的金錢和時間，其中包括唐人街5K的首次運行。這項活動的誕生是為了提供唐人街和華裔美國公民理事會，唐人街商會等組織，以及為實現唐人街更大的利益而共同努力的機會。這個活動也在它出現的那一年被市長Jane Byrnes 在她“芝加哥的夏季”裡採用。十年後，Alderman Fred B. Roti 指示 Gene Lee 成立了唐人街特別活動，每年都會舉辦類似的博覽會活動和社區活動。在2014年，他們與芝加哥唐人街社區基金會攜手合作，以確保博覽會及其舉辦的其他活動的成功。如今，博覽會已是一項非凡的活動，所有參觀該博覽會的人都很享受。
                                <br> <br />
                                每年都有不同的供應商來贊助展覽會，並將其商品出售給希望購買的人。如果在節日期間購物不是您的目的，那麼白天也會有各種各樣的表演。您即可以看到傳統的舞龍舞獅表演，也可以看到現代流行的舞蹈表演，還可以欣賞到健身和武術表演。無論您的興趣是什麼，夏季博覽會都會是唐人街一個很棒且會為你帶來喜悅的活動。

                            </p>
						</div>
					</div>
					<div class="col">
							<img src="/images/Chinatown_Pictures/Summer_Fair/Summer_Fair.jpg" alt="廣場舞的照片">
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
