<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
								<h1>Representative Theresa Mah</h1>

                            <p>
                                <br>
                                Theresa Mah was born in San Francisco, California, daughter to immigrant parents. Growing up as an immigrant made her nourish strong views on immigration policies and voters’ rights. This passion led her to become a professor of modern American history and eventually to become a policy advocate and community organizer. <br>
                                <br>
                                Theresa Mah on Immigration
                                <br>
                                Q: ​You have familiar experience with immigration, does that change or effect in anyway that you feel about immigration policies?
                                <br>
                                Mah: So the personal connection is what continues to strengthen my views of immigration policies. I have very strong views and also having that personal experience really gives me a lot of insight to what people are experiencing today. When I talk to my constituents it’s less about whether I am Asian versus Latino, but we have the common experience where we are affected by these policies, and so protecting immigrants have been one of my priorities in my policy work and in working with my colleagues in Springfield. This issue is something I will always have a connection to and commitment to because of the personal connection and because of constituents. I feel like I reflect the identity and experiences of my constituents and my experience of growing up in an immigrant family is something that’s really important to me, but also helps me understand the people who live in my district today.
                                <br> <br />
                                Mah’s interest in politics began when she started working with advocacy groups such as the Illinois Coalition for Immigrant and Refugee Rights(ICIRR) and the Coalition for a Better Chinese American Community(CBCAC). While Mah was working with CBCAC her biggest concern was redirecting political power towards the Chinese Community by increasing voter registration and turnout. Other projects were the prevention of the closure of the Chinatown Post-Office and the addition of a Chinatown Library. Additionally, she helped members of the community understand how to reach out to their elected officials and discuss the issues that concern them. 
                                <br> <br />
                                Theresah Mah on Chinatown Museum
                                <br>
                                Q: ​Do you think the Chinatown Museum could help with the lack of cultural connection for Chinese Americans who are teenagers or young adults?
                                <br>
                                Mah: My academic background is in history, so I think there is a role to play for museums such as the Chinese American Museum of Chicago. I think we can support more funding or opportunities or something that would give school children the opportunity to have access to those resources.
                                <br> <br />
                                In order to increase the impact in the community, Mah started working as a senior advisor to former Governor Pat Quinn.  Under his administration, she worked with numerous advocacy groups and legislators with the goal of improving the representation of minorities in state government. Mah’s contribution was crucial when designing the Asian American Employment Plan, the first one proposed in the state. 
                                <br> <br />
                                Theresa Mah on Growing Chinatown
                                <br>
                                Q: ​ Are there any projects you’re working on that has a large impact on Chinatown?
                                <br>
                                Mah: I’m very much involved in the census coming up, and making sure hard to count communities including the Chinese immigrant community gets adequately counted, and that’s something that will have a future impact on Chinatown. The last two censuses resulted in Chinatown language ballots and voting materials because we got adequately counted. After the last census, we got redistricting and we were able to elect a Chinese American member of the legislator. Now it’s just a matter of educating the public and reiterating how important it is to get everyone counted because we have a lot of people in this community that utilize public services and all the funding that comes down in the federal government that comes back to the community. We need to make sure to get all that money because we are a growing Chinatown, but we also have growing needs, and we can’t have less money coming in.
                                <br> <br />
                                Working under former  Governor Pat Quinn administration heavily motivated her to run for Illinois State Representative, becoming the first Asian American to serve in the Illinois House of Representatives. Currently, she is part of the State of Illinois’s Complete Count Commission who is responsible for the 2020 census in the state and guarantees that everyone is accounted for in the state. 

                            </p>
						</div>
					</div>
					<div class="col py-5">
							<!-- <img src="/images/locations/.jpg" class="img-fluid" alt="Picture of CCVP"> -->
					</div>
				</div>
			</div>
			<div class="zh_HANS container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>芝加哥华埠远见计划</h1>
							<p>芝加哥华埠远见计划（CCVP）是一个华埠更好团结联盟（CBCAC），第25届Ward Alderman Daniel Solis和芝加哥大都会机构之间的长期合作计划。它们一同规划在唐人街生活和工作的居民。<br> <br />
								CCVP于2013年4月启动，该计划被社区批准于2015年2月正式开始。该计划仍在实施中。<br> <br />
								用于评估社区问题的方法是向唐人街居民分发（英文和中文）明信片调查。调查询问了受访者他们希望在唐人街看到什么，例如公园，或某些地区的改善。在收到的1,300份回复中，安全是受访者首要关注的问题，同时还有清洁和运输问题。<br> <br />
								计划中的建议包含一系列领域，包括但不限于教育，公园和空间，交通和安全。这些领域的战略包括与该领域相关的各委员会之间的协调，以及改变或改变社区物理结构的城市规划。<br> <br />
								该项目的成员希望该计划能够唐人街变得更好，同时也为居民和游客提供各种服务。</p>
						</div>
					</div>
					<div class="col py-5">
							<!-- <img src="/images/locations/.jpg" class="img-fluid" alt="CCVP的照片"> -->
					</div>
				</div>
			</div>
			<div class="zh_HANT container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
								<h1>芝加哥華埠遠見計劃</h1>
								<p>芝加哥華埠遠見計劃（CCVP）是一個華埠更好團結聯盟（CBCAC），第25屆Ward Alderman Daniel Solis和芝加哥大都會機構之間的長期合作計劃。它們一同規劃在唐人街生活和工作的居民。<br> <br />
								用於評估社區問題的方法是向唐人街居民分發（英文和中文）明信片調查。調查詢問了受訪者他們希望在唐人街看到什麼，例如公園，或某些地區的改善。在收到的1,300份回復中，安全是受訪者首要關注的問題，同時還有清潔和運輸問題。<br> <br />
								計劃中的建議包含一系列領域，包括但不限於教育，公園和空間，交通和安全。這些領域的戰略包括與該領域相關的各委員會之間的協調，以及改變或改變社區物理結構的城市規劃。<br> <br />
								該項目的成員希望該計劃能夠唐人街變得更好，同時也為居民和遊客提供各種服務。</p>
						</div>
					</div>
					<div class="col py-5">
							<!-- <img src="/images/locations/.jpg" class="img-fluid"  alt="CCVP的照片"> -->
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
