<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
							<h1>Chinatowns across North America and the World </h1>
                                                        <audio src="/audio/en/world_chinatown.mp3">
                                                            Recording of Chinatowns across North America and the World article
                                                        </audio>
								<p>The precursor to modern Chinatowns was the Chinese enclave community in Manilla, established in 1594. Early American Chinatowns, such as the one in Los Angeles, were a destination for Chinese descendants, after migration increased during the California Gold Rush of the 1850s. <br>
								At first, Chinese enclaves were full almost exclusively of people of Han Chinese origin and descent, though the Chicago Chinatown was originally a mostly Cantonese enclave. That said, Chinatowns around the country have diversified over the past few decades. There are many Chinese characteristics in Chinatown communities, and many stores that are located in districts use Chinese writing in their signs. Nowadays, most Chinatowns in America have both Chinese and English language signs.<br>
								Chinatowns are common destinations for Chinese and other Asian cuisines. Some Chinatowns that incorporated Singaporean and Thai food developed their own blends which make Chinatowns more flexible for food lovers. </p>
						</div>
					</div>
					<!-- <div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid" alt="Picture of Chinatown Gate">
					</div> -->
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<h1>跨越北美/世界的唐人街</h1>
                                                        <audio src="/audio/zh_HANS/world_chinatown.mp3">
                                                            Recording of Chinatowns across North America and the World article
                                                        </audio>
							<p>现代唐人街的前身是于1594年建立的位于马尼拉的中国人的定居地，而现今的唐人街可以追溯到20世纪早期的加州移民的社区。<br>
								像美国旧金山和洛杉矶那样的早期唐人街自然是大部分中国人移民的目的地，加州淘金热和横贯大陆铁路等机会引发了移民热，创造了中国人的定居地几乎100％是汉族人，包括出生在中国和美国出生的中国人。汉字在“唐人街”的地区非常常见，许多位于这些地区的商店在店面标志上使用中国汉字。现在大部分唐人街都会使用中文和英文的双语街道标志。<br>
								大多数唐人街通常包含各种中国菜和其他亚洲美食，是人们旅行的热门目的地。一些唐人街会加入了新加坡和泰式风味并研发出自己的中国菜风格来适应更多当地人的口味。</p>
						</div>
					</div>
					<!-- <div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid" alt="Picture of Chinatown Gate">
					</div> -->
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more" class="show-less" href="#show-less">Show less</a>
								<a  id="show-less" class="show-more" href="#show-more">Show more</a>
								<h1>跨越北美/世界的唐人街</h1>
								<p>現代唐人街的前身是於1594年建立的位於馬尼拉的中國人的定居地，而現今的唐人街可以追溯到20世紀早期的加州移民的社區。<br>
								像美國舊金山和洛杉磯那樣的早期唐人街自然是大部分中國人移民的目的地，加州淘金熱和橫貫大陸鐵路等機會引發了移民熱，創造了中國人的定居地幾乎100％是漢族人，包括出生在中國和美國出生的中國人。漢字在“唐人街”的地區非常常見，許多位於這些地區的商店在店面標誌上使用中國漢字。現在大部分唐人街都會使用中文和英文的雙語街道標誌。<br>
								大多數唐人街通常包含各種中國菜和其他亞洲美食，是人們旅行的熱門目的地。一些唐人街會加入了新加坡和泰式風味並研發出自己的中國菜風格來適應更多當地人的口味。</p>
						</div>
					</div>
					<!-- <div class="col py-5">
							<img src="/images/locations/chinatown-gate.jpg" class="img-fluid"  alt="Picture of Chinatown Gate">
					</div> -->
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>
