<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<% include ../partials/nav %>
	<div class="en container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
            <h1>Origin Youth Group</h1>
                        <audio src="/audio/en/youthGroup.mp3" controls>
                            Recording of Origin Youth Group article
                        </audio>
			<p>
			    <br>Origin Youth Group is a group for youngsters in Chinatown from Coalition for a Better Chinese American Community. The group does not own a physical location by itself, but they run from CASL. It started as a way to mobilize youth in Chinatown to promote the power that Chinese Americans hold in society. Darek Lau, Vice President of Origin Youth Group mentioned that currently it is more educational and recreational at the same time. It is a way to relax the members of the group, mentally and physically. This group is different from other youth clubs as it is led by the youth. In general, members of this group are mostly from 14 to 20 years old and have been a part of this group for a long time. These members were initially recruited from their schools. The goal of this group is to provide the youth of Chinatown with a space where they can develop creative thinking, learn how to raise their voices, and talk about issues currently being faced by Chinese community. This group is educating the youth on political topics and in long term, it expects its members to discuss these topics and their thought with their families and in public. Currently, this group is facing funding issues. Lack of funds have limited their recruitment and quality of their workshops. Darek Lau also mentioned that currently due to lack of funds the staff is using the resources accessible to them. In future, they are hoping to get the more funding, so they keep bringing the change in Chinatown community’s youth. 
			</p>
		    </div>
		</div>
		<!-- <div class="col">
		     <img src="" alt="Picture of Origin Youth Group">
		     </div> -->
	    </div>
	</div>
	<div class="zh_HANS container py-5">
	    <div class="row">
		<div class="col">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
                        <audio src="/audio/zh_HANS/youthGroup.mp3" controls>
                            Recording of Origin Youth Group article
                        </audio>
			<p> Origin Youth Group是来自CBCAC (一个旨在建立更好的华裔社区的组织）的一个年轻人的组织。这个组织自身并没有具体的活动地点，但他们会使用CASL（华人咨询服务处）提供的地方。<br>
			    这个组织的目的是为中国城的年轻人提供一个能够让他们创意性思考，学习如何让他们的需求被更多的人听见，以及谈论中国城目前直面的问题的地点。<br>
			    他们最初通过鼓励动员中国城的年轻人来帮助华裔美国人在社区中提高控制力。Darek Lau，Origin Youth Group的副会长提到目前这个组织致力于增加教育意义还有娱乐性。在之前它是为了让成员们得到身体上和精神上的放松。<br>
			    这个组织和其他的华裔年轻人组织不一样的是它是由年轻人领导的。成员们主要来源于14岁到20岁的年轻人，他们已经在这个组织中呆了很长时间。这些成员最初是从他们的学校招募的。<br>
			    这个组织目前在教育年轻人如何对政治话题和长远话题做出正当的评论，它期待它的成员能够在他们的家庭以及公共场合讨论这些问题。
			</p>
		    </div>
		</div>
		<div class="col">
		    <img src="" alt="年轻人组织的照片">
		</div>
	    </div>
	</div>
	<div class="zh_HANT container py-5">
	    <div class="row">
		<div class="col pull-right">
		    <div class="show-hide-text">
			<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
			<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
			<p> Origin Youth Group是來自CBCAC (一個旨在建立更好的華裔社區的組織）的一個年輕人的組織。這個組織自身並沒有具體的活動地點，但他們會使用CASL（華人諮詢服務處）提供的地方。<br>
			    這個組織的目的是為中國城的年輕人提供一個能夠讓他們創意性思考，學習如何讓他們的需求被更多的人聽見，以及談論中國城目前直面的問題的地點。<br>
			    他們最初通過鼓勵動員中國城的​​年輕人來幫助華裔美國人在社區中提高控制力。 Darek Lau，Origin Youth Group的副會長提到目前這個組織致力於增加教育意義還有娛樂性。在之前它是為了讓成員們得到身體上和精神上的放鬆。<br>
			    這個組織和其他的華裔年輕人組織不一樣的是它是由年輕人領導的。成員們主要來源於14歲到20歲的年輕人，他們已經在這個組織中呆了很長時間。這些成員最初是從他們的學校招募的。<br>
			    這個組織目前在教育年輕人如何對政治話題和長遠話題做出正當的評論，它期待它的成員能夠在他們的家庭以及公共場合討論這些問題。
			</p>
		    </div>
		</div>
		<div class="col">
		    <img src="" alt="年輕人組織的照片">
		</div>
	    </div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
    </body>
</html>
