<!DOCTYPE html>
<html>
<% include partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include partials/nav %>
    <div class="container h-100">
      <div class="row align-items-center h-50">
        <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
          <% include partials/content/about %>
          <!-- Empty Space -->
          <div class="lg-space"></div>
        </div>
      </div>
    </div>
    <% include partials/footer %>
    <% include partials/scripts %>
  </div>
</body>

</html>
