<!DOCTYPE html>
<html>
<% include partials/head %>

<body class="text-black base-font-size">
  <% include partials/body/nav %>
  <% include partials/body/hero %>
  <% include partials/scripts %>
</body>

</html>
