<!DOCTYPE html>
<html>
    <% include partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include partials/nav %>
            <section id="story index" class="container py-5">
                <h1>Contact Us</h1>
                <pre class="wp-block-verse"><a href="https://www.ccamuseum.org">Chinese American Museum of Chicago</a><br>238 W 23rd Street<br>Chicago, IL 60616<br><br>Phone: <a href="tel:312.949.1000">312.949.1000</a><br>Fax: <a href="tel:312.949.1001">312.949.1001</a><br><br>Send us an <a href="mailto:office@ccamuseum.org">email</a>.</pre>
            </section>
            <% include partials/footer %>
            <% include partials/scripts %>
        </div>
    </body>

</html>
