<!DOCTYPE html>
<html>
    <% include partials/head %>
    <body class="text-black base-font-size">

        <div style="background-image: url(images/locations/puitak.jpg); background-repeat: no-repeat; background-size: 100%; background-attachment: fixed;" class="wrapper mx-auto h-100">
            <div class="cover section-bg h-100">
                <!-- Header -->
                <% include partials/nav %>
                <!--/ End Header -->

                <!-- Hero -->
                <div class="container h-100">
                    <div class="row align-items-center h-50" style="background-color:rgba(0,0,0,0)">
                        <div style="background-color: rgba(255, 255, 255, .8); border-radius: 25px" class="col-10 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                            <div class="en">
                                <h1 class="xxl-font-size font-weight__700 text-black mb-0 py-3">
                                    Welcome to the Chinatown Community Walking Tour!
                                </h1>
                                <audio src="/audio/en/intro.mp3" controls>
                                    Recording of Tour Introduction
                                </audio>
                                <h2>About the tour:</h2>
                                <p>This tour will cover a variety of sites throughout Chinatown.  Built for community residents and visitors alike, we hope you will learn more about Chicago’s Chinatown community.  The sites include architectural landmarks, businesses, parks, religious institutions, museums and community organizations. In each stop, you will find information about the site itself, or stories from community members about how Chinatown has shaped their lives.  Some stops include interviews with community members about their organization.</p>
                                <h2>How to use the tour:</h2>
                                <p>Sites are located at numerous locations around Chinatown.  When you reach a site, look for a QR code in a window or the exterior of the building.  Scan the QR code with any QR code reader, or most camera applications.  Many apps, including WeChat, also read QR codes by opening the camera feature to take a picture.  Hold your phone up to the code until a hyperlink appears.  Follow the link to access the information pertaining to that stop.</p>
                                <h2>Credits:</h2>
                                <p>The application and website were made through a partnership with Illinois Institute of Technology students and the Chinese American Museum of Chicago.</p>
                            </div>
                            <div class="zh_HANS">
                                <h1 class="xxl-font-size font-weight__700 text-black mb-0 py-3">
                                    欢迎来到芝加哥徒步旅行活动
                                </h1>
                                <audio src="/audio/zh_HANS/intro.mp3" controls>
                                    Recording of Tour Introduction
                                </audio>

                                <h2>相关内容:</h2>
                                <p>这次旅行将覆盖整个唐人街的各个景点。我们希望能通过这次活动让居民跟游客更深入了解芝加哥的唐人街社区。这些地点包括建筑地标、企业、公园、宗教机构、博物馆和社区组织。在每一站，你都能找到有关唐人街的信息，或是社区成员讲述唐人街如何塑造了他们生活的故事。某些站点加入了社区成员就其组织的采访。</p>
                                <h2>参与方式：</h2>
                                <p>唐人街附近有很多景点。到达景点后，在窗口或大楼外部寻找二维码，使用任何二维码阅读器或相机应用程序扫描二维码。包括微信在内的许多应用程序可通过相机功能来读取二维码。把你的手机放到代码里直到链接出现，根据链接获取关于该站点相关的信息。</p>
                                <h2>特别申明：</h2>
                                <p>该应用程序和网站是通过与伊利诺伊理工学校学生和芝加哥美洲华裔博物馆合作完成的。</p>
                            </div>
                            <div class="zh_HANT">
                                <h1 class="xxl-font-size font-weight__700 text-black mb-0 py-3">
                                    歡迎來到芝加哥徒步旅行活動
                                </h1>
                                <h2>相關內容：</h2>
                                <p>這次旅行將覆蓋整個唐人街的各個景點。我們希望能通過這次活動讓居民跟遊客更深入瞭解芝加哥的唐人街社區。這些地點包括建築地標、企業、公園、宗教機构、博物館和社區組織。在每一站，你都能找到有關唐人街的資訊，或是社區成員講述唐人街如何塑造了他們生活的故事。某些網站加入了社區成員就其組織的採訪。</p>
                                <h2>參與管道：</h2>
                                <p>唐人街附近有很多景點。到達景點後，在視窗或大樓外部尋找二維碼，使用任何二維碼閱讀器或相機應用程序掃描二維碼。包括微信在內的許多應用程序可通過相機功能來讀取二維碼。把你的手機放到程式碼裏直到連結出現，根據連結獲取關於該網站相關的資訊。</p>
                                <h2>特別申明：</h2>
                                <p>該應用程序和網站是通過與伊利諾伊理工學校學生和芝加哥美洲華裔博物館合作完成的。</p>
                            </div>
                            <div class="lg-space"</div>
                        </div>
                    </div>
                </div>
                <!--/ End Hero -->

            </div>
            <div class="pattern">
                <img src="/images/pattern-1.png" class="pattern-1">
            </div>
            <!-- Testimonials -->
            <!-- <div id="testimonials" class="section feature-grid pb-0"> -->

            <!-- <div class="lg-space"></div> -->

            <!-- <div class="container-fluid">
                 <div class="row no-gutters">
                 <div class="col-12 col-lg-8 text-center text-lg-left">
                 <h4 class="section-title border-color-dark-gray text-dark-gray md-font-size font-weight__500">What people are saying?</h4>
                 </div>
                 </div>

                 <div class="md-space"></div>

                 <div class="row no-gutters">
                 <div class="col-10 col-lg-12 mx-auto">
                 <div class="row masonry">
                 <div class="col-12 mx-auto col-md-6 masonry-item">
                 <div class="box box-shadow border border-color-light-gray">
                 <div class="row align-items-center text-md-center text-lg-left">
                 <div class="col-12 mt-3 mt-lg-0">
                 <p class="lead md-font-size font-weight__400 text-black mb-0">
                 "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper."
                 </p>
                 </div>
                 <div class="col-12 mt-3 text-gray">
                 <div class="row no-gutters">
                 <div class="col-12 col-lg-6 text-center text-lg-left">
                 <div class="base-plus-font-size">Orem Swift</div>
                 </div>
                 <div class="col-12 col-lg-6 text-center text-lg-right">
                 <div class="rating">
                 <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                 class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                 </div>
                 <div class="base-font-size">Facebook</div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 <div class="col-12 mx-auto col-md-6 masonry-item">
                 <div class="box box-shadow border border-color-light-gray">
                 <div class="row align-items-center text-md-center text-lg-left">
                 <div class="col-12 mt-3 mt-lg-0">
                 <p class="lead md-font-size font-weight__400 text-black mb-0">
                 "Consectetur adipiscing elit. Mauris nibh nulla, iaculis et placerat quis."
                 </p>
                 </div>
                 <div class="col-12 mt-3 text-gray">
                 <div class="row no-gutters">
                 <div class="col-12 col-lg-6 text-center text-lg-left">
                 <div class="base-plus-font-size">Elit Gauqlio</div>
                 </div>
                 <div class="col-12 col-lg-6 text-center text-lg-right">
                 <div class="rating">
                 <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                 class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                 </div>
                 <div class="base-font-size">
                 Facebook
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 <div class="col-12 mx-auto col-md-6 masonry-item">
                 <div class="box box-shadow border border-color-light-gray">
                 <div class="row align-items-center text-md-center text-lg-left">
                 <div class="col-12 mt-3 mt-lg-0">
                 <p class="lead md-font-size font-weight__400 text-black mb-0">
                 "In ut viverra enim. Nulla ut turpis at magna bibendum accumsan, sed at tristique elit!"
                 </p>
                 </div>
                 <div class="col-12 mt-3 text-gray">
                 <div class="row no-gutters">
                 <div class="col-12 col-lg-6 text-center text-lg-left">
                 <div class="base-plus-font-size">Bibendum Nulla</div>
                 </div>
                 <div class="col-12 col-lg-6 text-center text-lg-right">
                 <div class="rating">
                 <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                 class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                 </div>
                 <div class="base-font-size">
                 Twitter
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 <div class="col-12 mx-auto col-md-6 masonry-item">
                 <div class="box box-shadow border border-color-light-gray">
                 <div class="row align-items-center text-md-center text-lg-left">
                 <div class="col-12 mt-3 mt-lg-0">
                 <p class="lead md-font-size font-weight__400 text-black mb-0">
                 "Aliquam egestas aliquet cursus. Etiam scelerisque egestas enim, a convallis mi commodo sit amet."
                 </p>
                 </div>
                 <div class="col-12 mt-3 text-gray">
                 <div class="row no-gutters">
                 <div class="col-12 col-lg-6 text-center text-lg-left">
                 <div class="base-plus-font-size">Enim Egestas</div>
                 </div>
                 <div class="col-12 col-lg-6 text-center text-lg-right">
                 <div class="rating">
                 <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                 class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                 </div>
                 <div class="base-font-size">
                 Twitter
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div>
                 </div> -->
            <!-- Empty Space -->
            <!-- <div class="lg-space"></div> -->
            <!--/ End Empty Space -->

            <!-- </div> -->
            <!--/ End Testimonials -->
            <div class="container py-4">
                <% include partials/footer %>
            </div>
        </div>
        <% include partials/scripts %>
    </body>
</html>
