<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,700" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

  <!-- Default CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">

  <!-- Color CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/color.css">

  <!-- Font CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">

  <!-- Button CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/button.css">

  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body class="text-black base-font-size">

    <div class="wrapper mx-auto h-100">
        <div class="cover section-bg pt-3 pb-5 h-100">
            <!-- Header -->
            <header class="header">
                <div class="header-inner">
                    <nav class="navbar navbar-expand-lg pt-2">
                        <div class="container">
                            <button class="navbar-toggler base-plus-font-size text-back" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="base-color fa fa-bars xl-font-size"></span>
                            </button>
                            <div class="collapse navbar-collapse mt-3 mt-lg-0 base-plus-font-size font-weight__400" id="main-menu">
                                <ul class="navbar-nav ml-auto mt-lg-3">
                                    <li class="nav-item">
                                        <a href="#features" class="nav-link text-black font-family-secondary pl-lg-0 mr-lg-4 ips">
                                            About
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#testimonials" class="nav-link text-black font-family-secondary mx-lg-4 ips">
                                            Locations
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#testimonials" class="nav-link text-black font-family-secondary mx-lg-4 ips">
                                            Map
                                        </a>
                                    </li>
                                    <li class="nav-item mt-1">
                                        <a href="#" class="btn btn-md btn-white font-family-secondary sm-font-size px-0 px-lg-3 font-weight__500">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <!--/ End Header -->
            <!-- Hero -->
            <div class="jumbotron jumbotron-fluid bg-transparent font-weight__500 hero mb-0 h-100">
                <div class="container hero-inner h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0">
                            <div class="text-center">
                                <h1 class="xxl-font-size font-weight__700 text-black text-right mb-0 py-3">
                                    Tour Chinatown with the Chinese-American Museum of Chicago
                                </h1>
                                <!-- Empty Space -->
                                <div class="lg-space"></div>
                                <!--/ End Empty Space -->
                                <div class="scroll-down sm-font-size text-gray">
                                    SCROLL DOWN
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Hero -->
            <!-- <img src="/images/hero-image-1.png" class="hero-img-1"> -->
        </div>
        <div class="pattern">
            <img src="/images/pattern-1.png" class="pattern-1">
        </div>
        <!-- Testimonials -->
        <div id="testimonials" class="section feature-grid pb-0">
            <!-- Empty Space -->
            <div class="lg-space"></div>
            <!--/ End Empty Space -->
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-12 col-lg-8 text-center text-lg-left">
                        <h4 class="section-title border-color-dark-gray text-dark-gray md-font-size font-weight__500">What people are saying?</h4>
                    </div>
                </div>
                <!-- Enpty Space -->
                <div class="md-space"></div>
                <!--/ End Empty Space -->
                <div class="row no-gutters">
                    <div class="col-10 col-lg-12 mx-auto">
                        <div class="row masonry">
                            <div class="col-12 mx-auto col-md-6 masonry-item">
                                <div class="box box-shadow border border-color-light-gray">
                                    <div class="row align-items-center text-md-center text-lg-left">
                                        <div class="col-12 mt-3 mt-lg-0">
                                            <p class="lead md-font-size font-weight__400 text-black mb-0">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper."
                                            </p>
                                        </div>
                                        <div class="col-12 mt-3 text-gray">
                                            <div class="row no-gutters">
                                                <div class="col-12 col-lg-6 text-center text-lg-left">
                                                    <div class="base-plus-font-size">Orem Swift</div>
                                                </div>
                                                <div class="col-12 col-lg-6 text-center text-lg-right">
                                                    <div class="rating">
                                                        <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                                                    </div>
                                                    <div class="base-font-size">Facebook</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mx-auto col-md-6 masonry-item">
                                <div class="box box-shadow border border-color-light-gray">
                                    <div class="row align-items-center text-md-center text-lg-left">
                                        <div class="col-12 mt-3 mt-lg-0">
                                            <p class="lead md-font-size font-weight__400 text-black mb-0">
                                                "Consectetur adipiscing elit. Mauris nibh nulla, iaculis et placerat quis."
                                            </p>
                                        </div>
                                        <div class="col-12 mt-3 text-gray">
                                            <div class="row no-gutters">
                                                <div class="col-12 col-lg-6 text-center text-lg-left">
                                                    <div class="base-plus-font-size">Elit Gauqlio</div>
                                                </div>
                                                <div class="col-12 col-lg-6 text-center text-lg-right">
                                                    <div class="rating">
                                                        <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                                                    </div>
                                                    <div class="base-font-size">
                                                        Facebook
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mx-auto col-md-6 masonry-item">
                                <div class="box box-shadow border border-color-light-gray">
                                    <div class="row align-items-center text-md-center text-lg-left">
                                        <div class="col-12 mt-3 mt-lg-0">
                                            <p class="lead md-font-size font-weight__400 text-black mb-0">
                                                "In ut viverra enim. Nulla ut turpis at magna bibendum accumsan, sed at tristique elit!"
                                            </p>
                                        </div>
                                        <div class="col-12 mt-3 text-gray">
                                            <div class="row no-gutters">
                                                <div class="col-12 col-lg-6 text-center text-lg-left">
                                                    <div class="base-plus-font-size">Bibendum Nulla</div>
                                                </div>
                                                <div class="col-12 col-lg-6 text-center text-lg-right">
                                                    <div class="rating">
                                                        <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                                                    </div>
                                                    <div class="base-font-size">
                                                        Twitter
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mx-auto col-md-6 masonry-item">
                                <div class="box box-shadow border border-color-light-gray">
                                    <div class="row align-items-center text-md-center text-lg-left">
                                        <div class="col-12 mt-3 mt-lg-0">
                                            <p class="lead md-font-size font-weight__400 text-black mb-0">
                                                "Aliquam egestas aliquet cursus. Etiam scelerisque egestas enim, a convallis mi commodo sit amet."
                                            </p>
                                        </div>
                                        <div class="col-12 mt-3 text-gray">
                                            <div class="row no-gutters">
                                                <div class="col-12 col-lg-6 text-center text-lg-left">
                                                    <div class="base-plus-font-size">Enim Egestas</div>
                                                </div>
                                                <div class="col-12 col-lg-6 text-center text-lg-right">
                                                    <div class="rating">
                                                        <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                                                    </div>
                                                    <div class="base-font-size">
                                                        Twitter
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Empty Space -->
            <div class="lg-space"></div>
            <!--/ End Empty Space -->
        </div>
        <!--/ End Testimonials -->
        <!-- Footer -->
        <footer class="footer section bg-light-primary text-gray pt-2">
            <div class="container-fluid">
                <!-- Empty Space -->
                <div class="md-space"></div>
                <!--/ End Empty Space -->
                <div class="row no-gutters">
                    <div class="col-10 mx-auto ml-lg-0 mr-lg-auto">
                        <div class="row">
                            <ul class="nav col flex-column base-plus-font-size">
                                <li class="nav-link nav-head text-uppercase font-weight__500 text-black base-font-size font-family-secondary">Company</li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">About</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">Blog</a></li>
                            </ul>
                            <ul class="nav col flex-column base-plus-font-size">
                                <li class="nav-link nav-head text-uppercase font-weight__500 text-black base-font-size font-family-secondary">Support</li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">Help</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">FAQ</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">Contact</a></li>
                            </ul>
                            <ul class="nav col flex-column base-plus-font-size">
                                <li class="nav-link nav-head text-uppercase font-weight__500 text-black base-font-size font-family-secondary">Legal</li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">Terms</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">Privacy</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-gray">Refund</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Empty Space -->
                <div class="lg-space"></div>
                <!--/ End Empty Space -->
                <div class="row">
                    <div class="col-10 mx-auto ml-lg-0 mr-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-4">
                                <ul class="nav base-plus-font-size justify-content-center justify-content-lg-start">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-gray pl-lg-0"><i class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-gray"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-gray"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                                <div class="copyright xs-font-size text-center text-lg-left">
                                    &copy; 2018. All Rights Reserved. <div class="d-inline-block"><span>Theme by</span> <a class="text-black" href="https://themesfor.app/">Themes For App</a> | <span>Artwork by</span> <a class="text-black" href="https://twitter.com/savydv">@savydv</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Empty Space -->
                <div class="lg-space"></div>
                <div class="lg-space"></div>
                <!--/ End Empty Space -->
            </div>
            <img src="/images/footer-image-2.png" class="footer-img-2">
            <img src="/images/footer-image-1.png" class="footer-img-1">
        </footer>
        <!--/ End Footer -->
    </div>

    <!-- jQuery Script -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Popper Script -->
    <script src="/javascripts/popper.min.js"></script>

    <!-- Bootstrap Script -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Isotope Script -->
    <script src="/javascripts/isotope.min.js"></script>

    <!-- Main Script -->
    <script src="/javascripts/main.js"></script>

</body>


</html>
