<!DOCTYPE html>
<html>
<% include partials/head %>
<body class="text-black base-font-size">

  <div class="wrapper mx-auto h-100">
    <div class="cover section-bg h-100">
      <!-- Header -->
      <% include partials/nav %>
      <!--/ End Header -->

      <!-- Hero -->
        <div class="container h-100">
          <div class="row align-items-center h-50">
            <div class="col-10 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                <h1 class="xxl-font-size font-weight__700 text-black text-right mb-0 py-3">
                  Tour Chinatown with the Chinese-American Museum of Chicago
                </h1>
                <!-- Empty Space -->
                <div class="lg-space"></div>
                <!--/ End Empty Space -->
                <div class="scroll-down sm-font-size text-gray">
                  SCROLL DOWN
                </div>
            </div>
          </div>
        </div>
      <!--/ End Hero -->

    </div>
    <div class="pattern">
      <img src="/images/pattern-1.png" class="pattern-1">
    </div>
    <!-- Testimonials -->
    <!-- <div id="testimonials" class="section feature-grid pb-0"> -->

      <!-- <div class="lg-space"></div> -->

      <!-- <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-12 col-lg-8 text-center text-lg-left">
            <h4 class="section-title border-color-dark-gray text-dark-gray md-font-size font-weight__500">What people are saying?</h4>
          </div>
        </div>

        <div class="md-space"></div>

        <div class="row no-gutters">
          <div class="col-10 col-lg-12 mx-auto">
            <div class="row masonry">
              <div class="col-12 mx-auto col-md-6 masonry-item">
                <div class="box box-shadow border border-color-light-gray">
                  <div class="row align-items-center text-md-center text-lg-left">
                    <div class="col-12 mt-3 mt-lg-0">
                      <p class="lead md-font-size font-weight__400 text-black mb-0">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper."
                      </p>
                    </div>
                    <div class="col-12 mt-3 text-gray">
                      <div class="row no-gutters">
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                          <div class="base-plus-font-size">Orem Swift</div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-right">
                          <div class="rating">
                            <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                                class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                          </div>
                          <div class="base-font-size">Facebook</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mx-auto col-md-6 masonry-item">
                <div class="box box-shadow border border-color-light-gray">
                  <div class="row align-items-center text-md-center text-lg-left">
                    <div class="col-12 mt-3 mt-lg-0">
                      <p class="lead md-font-size font-weight__400 text-black mb-0">
                        "Consectetur adipiscing elit. Mauris nibh nulla, iaculis et placerat quis."
                      </p>
                    </div>
                    <div class="col-12 mt-3 text-gray">
                      <div class="row no-gutters">
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                          <div class="base-plus-font-size">Elit Gauqlio</div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-right">
                          <div class="rating">
                            <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                                class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                          </div>
                          <div class="base-font-size">
                            Facebook
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mx-auto col-md-6 masonry-item">
                <div class="box box-shadow border border-color-light-gray">
                  <div class="row align-items-center text-md-center text-lg-left">
                    <div class="col-12 mt-3 mt-lg-0">
                      <p class="lead md-font-size font-weight__400 text-black mb-0">
                        "In ut viverra enim. Nulla ut turpis at magna bibendum accumsan, sed at tristique elit!"
                      </p>
                    </div>
                    <div class="col-12 mt-3 text-gray">
                      <div class="row no-gutters">
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                          <div class="base-plus-font-size">Bibendum Nulla</div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-right">
                          <div class="rating">
                            <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                                class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                          </div>
                          <div class="base-font-size">
                            Twitter
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mx-auto col-md-6 masonry-item">
                <div class="box box-shadow border border-color-light-gray">
                  <div class="row align-items-center text-md-center text-lg-left">
                    <div class="col-12 mt-3 mt-lg-0">
                      <p class="lead md-font-size font-weight__400 text-black mb-0">
                        "Aliquam egestas aliquet cursus. Etiam scelerisque egestas enim, a convallis mi commodo sit amet."
                      </p>
                    </div>
                    <div class="col-12 mt-3 text-gray">
                      <div class="row no-gutters">
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                          <div class="base-plus-font-size">Enim Egestas</div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-right">
                          <div class="rating">
                            <span class="stars ml-2"><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span><span
                                class="text-primary px-1"><i class="fas fa-star"></i></span><span class="text-primary px-1"><i class="fas fa-star"></i></span></span>
                          </div>
                          <div class="base-font-size">
                            Twitter
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Empty Space -->
      <!-- <div class="lg-space"></div> -->
      <!--/ End Empty Space -->

    <!-- </div> -->
    <!--/ End Testimonials -->
    <% include partials/footer %>
  </div>
  <% include partials/scripts %>
</body>
</html>
