<!DOCTYPE html>
<html>
<% include partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include partials/nav %>
    <% include partials/footer %>
    <% include partials/scripts %>
  </div>
</body>

</html>
