<!DOCTYPE html>
<html>
<% include partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include partials/nav %>
	<section id="map">
	  <noscript>Map needs JavaScript to function. Please use the <a href="./locations.html">location list</a> instead.</noscript>
	</section>
    <% include partials/footer %>
    <% include partials/scripts %>
  </div>
  <script type="text/javascript" src="/javascripts/map.js"></script>
</body>

</html>
