<!DOCTYPE html>
<html>
<% include partials/head %>

<body class="text-black base-font-size">
  <div class="wrapper mx-auto h-100">
    <% include partials/nav %>
	<br>
	<iframe style="display:block;margin-left:auto;margin-right:auto;width: 50%;width:85%;height:600" src="https://www.google.com/maps/d/u/0/embed?mid=1ZiQ_l-KwBjw5KND0e7SKge_OZAVVgZ06" width="640" height="480"></iframe>
    <% include partials/footer %>
    <% include partials/scripts %>
  </div>
</body>

</html>
