<!DOCTYPE html>
<html>
    <% include partials/head %>

    <body class="text-black base-font-size">
        <% include partials/nav %>
		<br>
        <div style="padding:50px; background-color:rgba(255,255,255,.9); border-radius:25px;padding-bottom:25px;" class="wrapper mx-auto h-100">
            <h1>Chinatown Stories</h1>
            <section id="plaza" class="container py-5">
                <!-- Allen Lee Plaza -->
                <h2>Plaza Stories</h2>
                <ul>
                    <li><a href="/stories/Hailan-Yu">Hailan Yu</a></li>
                    <li><a href="/stories/Madison-Chan">Madison Chan</a></li>
                </ul>
            </section>
            <section id="park" class="container py-5">
                <!-- Sun Yat-Sen Park -->
                <h2>Park Stories</h2>
                <ul>
                    <li><a href="/stories/Michael-Zhao">Michael Zhao</a></li>
                    <li><a href="/stories/Preston-Yuen">Preston Yuen</a></li>
                    <li><a href="/stories/Renee-Zhao">Renee Zhao</a></li>
                </ul>
            </section>
            <section id="library" class="container py-5">
                <!-- Library Plaza -->
                <h2>Library Stories</h2>
                <ul>
                    <li><a href="/stories/Ryan-Daly">Ryan Daly</a></li>
                    <li><a href="/stories/Xiaolynn-Zhen">Xiaolynn Zhen</a></li>
                </ul>
            </section>
            <% include partials/footer %>
            <% include partials/scripts %>
        </div>
    </body>

</html>
