<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<% include ../partials/nav %>
	<div class="en container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
			<h1>Chinese-American Museum of Chicago</h1>
                <audio src="/audio/en/ccamuseum.mp3" controls>
                            Recording of Chinese-American Museum of Chicago article
                        </audio>
			<p> <br>
			    Just west of the intersection of Wentworth and 23rd Street in Chinatown is the Chinese American Museum. Opened in 2005, the museum is designed to promote the culture and history of Chinese Americans in the Midwest through exhibitions, education, and research. <br> <br />
			    The historic structure was originally a wholesale and general store, Quong Yick Co., and was donated to the museum by Raymond B. Lee. The museum has two galleries featuring mesmerizing artifacts and oral history accounts reflecting the quintessential experiences of Chinese Americans in the Midwest as well as a model Chinese hand laundry, a grocery store, and a restaurant. On the second floor, there is an object theatre which shows a 16-minute video, <i>My Chinatown: Stories from Within</i>. This unique audio-visual experience features the stories of Chinese Americans and their journeys to the United States. The stories share significant personal experiences while highlighting the history of Chinatown and the people who call it home. <br> <br />
			    The museum also hosts different special events and exhibits to focus on an array of topics, such as historic Chinese fashion. Throughout the year, there are a series of film screenings and presentations/book talks presented at the museum.
			</p>
		    </div>
		</div>
		<div class="col py-5">
		   <!--  <img src="" class="img-fluid" alt="Picture of Chinese-American Museum of Chicago"> -->
		</div>
	    </div>
	</div>
        <div class="zh_HANS container">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
			<h1>芝加哥美洲华裔博物馆</h1>
                        <audio src="/audio/zh_HANS/ccamuseum.mp3" controls>
                            Recording of Chinese-American Museum of Chicago article
                        </audio>
			<p>芝加哥美洲华裔博物馆在Wentworth和23街交汇口以西，是一个充满珍宝和奇观的小型博物馆。它于2005年开馆，旨在通过展览教育，和研究来促进美国华裔的文化与历史。这座充满历史感的建筑曾经是一个批发综合商店Quong Yick Co，而后被Raymond B. Lee捐赠给博物馆。博物馆有两个展览馆，展示了迷人的文物和口述的历史。他们反映了美国华裔在中西部的典型经历以及一家典型中国手洗洗衣店，一家杂货店，还有一家餐馆。在二楼，有一个对象剧场放映了一部16分钟的视频，名为我的唐人街: 来自内部的故事。这一独特的视听体验讲述了华裔美国人的故事以及他们前往美国的旅程。这些故事分享了重要的个人经历也突出了唐人街的历史和称它为家的人们。博物馆里还会举办不同的特别活动及展览来讨论一系列主题，如中国的历史时尚。一年以来，博物馆开展了一系列电影放映和专题介绍/书籍讲座的活动。</p>
		    </div>
		</div>
		<div class="col py-5">
		   <!-- <img src="" class="img-fluid" alt="芝加哥美洲华裔博物馆的照片">	-->
		</div>
	    </div>
	</div>
        <div class="zh_HANT container ">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
			<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
			<h1>芝加哥美洲華裔博物館</h1>
			<p>芝加哥美洲華裔博物館在Wentworth和23街交匯口以西，是一個充滿珍寶和奇思的小型博物館。它於2005年開館，旨在通過展覽教育和研究來促進美國華裔的文化與歷史。這座充滿歷史感的建築曾經是一個批發綜合商店Quong Yick Co，而後被Raymond B. Lee捐贈給博物館。博物館有兩個展覽館，展示了迷人的文物和口述的歷史。他們反映了美國華裔在中西部的典型經歷以及一家典型中國手洗洗衣店，一家雜貨店，還有一家餐館。在二樓，有一個劇場放映了一部16分鐘的視頻，名為我的唐人街: 來自內部的故事。這一獨特的視聽體驗講述了​​華裔美國人的故事以及他們前往美國的旅程。這些故事分享了重要的個人經歷，也突出了唐人街的歷史和稱它為家的人們。博物館裡還會舉辦不同的特別活動及展覽來討論一系列主題，如古人的時尚。一年以來，博物館開展了一系列電影放映和專題介紹/書籍講座的活動。</p>
                    </div>
		</div>
	<div class="col py-5">
		   <!-- <img src="" class="img-fluid" alt="芝加哥美洲華裔博物館的照片"> -->
		</div>
	    </div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
    </body>
</html>
