<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-100">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <h1>Hailan Yu, Age 13, "Chinatown Is My Home"</h1>
                        <div class="en">
                            <audio src="/audio/en/Hailan-Yu.mp3" controls>
                                Recording of Hailan Yu Story
                            </audio>
                            <p>Chinatown. Whenever I hear it, I think of home, Chinatown has always been my home. Ever since the day I was born, my first home was in Chinatown. For my entire 13 years of life, I have lived here with my family. Although I have moved once or twice, I still stayed in the same neighborhood. All my memories were built here. The vibe I get every day is just amazing. We know everyone really well.</p>

                            <p>When I was younger, I remember going to my cousins’ house every single day. It was just a block from my house. I remember how some of my cousins lived under the same roof as me too. It brought us closer together. I remember riding my bike with other kids on my block. It was one of those memories that will last forever. There was a time where I fell off my bike, and all the kids surrounded me. That was the feeling of affection. The fact that we were not related by blood, but they still helped me, it felt like family. I will always remember the warmth Chinatown gives me each and every day.</p>

                            <p>I remember the times that we use to go out after dinner and see all the kids on my block playing. We would all go to the park nearby. We played there for at least four hours a day. And in the summers, we were there all day long. It was one of the best things about summer. In the winter, we would build snowmen, makes snow angels, and drink hot chocolate together. My neighbors were one of the benefits of living in Chinatown. We always had fun together.</p>

                            <p>Another memory I have is that after school sometimes, my friends and I would go to somewhere in Chinatown to eat or drink something and either do homework or just talk. It was really fun and things like that made Chinatown a great place. It is where parents feel assured when their kids are here. It is a place where people of all ages have fun. That makes me want to grow old here.</p>

                            <p>I go to school in Chinatown too, which means I’m in Chinatown 24/7. Every day when I walk to school, I see a lot of kids going to school too. There are more than 3 schools in Chinatown and that means that there are many kids. It’s such an amazing atmosphere filled with the new generation. Chinatown has people all ages. We always make each feel welcome here. All the loved ones are surrounding me in this wonderful place I call home is the best thing ever.</p>

                            <p>In Chinatown, there’s basically everything. There are many great restaurants, beautiful sights, and a huge community. We have many great restaurants and shops, a library, many iconic attractions, schools, churches, and many homes. There are around 1,500 people living in Chinatown. There is always groups of tourist because Chinatown is truly an amazing place to visit.</p>

                            <p>My parents actually own a business in Chinatown. Knowing that there are other places that I can go to except my home, makes Chinatown feels safer. My parents basically know everyone in Chinatown. It really makes a difference when everyone is known here. Everyone who has lived in Chinatown has basically been here their whole lives. Everyone has different experiences and stories and that’s what makes Chinatown so great. Everyone has a different perspective of Chinatown, but they all lead to Chinatown being a home.</p>

                            <p>We have a lot of respect for our elders. Many of them are first-generation immigrants that set up this amazing place for us to live. I am a third generation American Chinese in the family. I thank my grandparents and others for making this place my home. Many people may not know the history of how Chinatown came to be, but many of our grandparents or even great-grandparents built the town the surrounds us. They wanted to make a community that would honor our culture, and that certainly happened. Chinatown has an authentic Chinese culture in it. Although over the years, some things have changed, the thing that will never change is how many of us call Chinatown our homes ,neighborhoods, people would go their own lives. But it’s different here. We care about each other and hope for the best for everyone.</p>
                            
                            <p>My experiences in Chinatown have been the best memories in my life. Chinatown is my home and forever will be.</p>
                        </div>
                        <div class="zh_HANS">
                            <!-- <audio src="/audio/zh_HANS/Hailan-Yu.mp3" controls>
                                 Recording of Hailan Yu Story
                                 </audio> -->
                            <p>我一直把唐人街当成是我的家。从我出生那天起，我的第一个家就在唐人街。在之后的整整13年中，我和家人一起住在这里。虽然这期间我搬家了一两次，但我仍然住在同一个街区。我所有的回忆都在这里。这里的氛围真是太好了，因为这里的每个人都互相认识。</p>

                            <p>当我小的时候，我每天都去堂兄的家里，那里离我家只有一个街区。我和我的表兄弟们生活在同一屋檐下使我们变得更加紧密。我记得我和其他朋友一起踩单车，这是将永远保存下去的记忆。曾经我从单车上摔下来，所有的朋友都帮助我，这是心动的感觉。事实上，我们没有血缘关系，但他们仍然肯帮助我，感觉像家人一样。我会永远记得唐人街给我的温暖。</p>

                            <p>晚餐后，我会和我的邻居一起去玩。我们都会去附近的公园。我们每天至少在那里玩四个钟头。在夏天，我们整天都在那里。这是夏天最好的事情。在冬天，我们会堆雪人，制作雪天使，并一起喝热巧克力，我与我邻居玩得很开心。</p>

                            <p>我的另一个记忆是，放学后，我和朋友会去唐人街的某个地方吃或喝东西，或做功课或者聊天。这真的很有趣，像这样的东西使唐人街成为一个好地方。当孩子们来到这里时，父母会感到放心。这是一个让所有年龄段的人都玩得开心的地方。这是一个让我想在这里变老的原因。</p>

                            <p>我在唐人街上学，也就是说我24小时不离开唐人街。唐人街有三所学校，因此每天上学都能看到很多年纪相仿的同学，因此唐人街充满了年轻的活力。</p>

                            <p>所有的亲人都围绕着我，所以我觉得唐人街是我的家。在唐人街，基本上什么都有。有很多好餐馆，很美丽的景点。我们有许多很好的餐馆和商店，一个图书馆，许多标志性的景点、学校、教堂。大约有1500人住在唐人街。平常有很多旅游团来参观，因为唐人街是一个令人惊叹的地方。</p>

                            <p>我父母在唐人街开了一家公司。除了我的家，我可以去他们的公司，所以这让我感觉唐人街更像一个家。</p>

                            <p>每个在唐人街住过的人基本上都在这里度过了一生。每个人都有不同的经历和故事，这就是唐人街如此伟大的原因。</p>

                            <p>我们很尊重长辈。他们中的许多人都是第一代移民，为我们创造一个美好的生活环境。我感谢我的祖父母和其他人把这个地方作为我的家。很多人可能不知道唐人街是怎么发展起来的，但我们的祖父母为唐人街也奉献了一份力。他们想建立一个包含中国文化的社区。因此唐人街有着真正的中国文化。</p>

                            <p>很多人把唐人街当成家，虽然在其他社区，人们会过自己的生活。但这里，我们关心每一个人。我在唐人街的经历是我一生中最美好的回忆。唐人街永远都是我的家。</p>
                        </div>
                        <div class="zh_HANT">
                            <audio src="/audio/zh_HANT/Hailan-Yu.mp3" controls>
                                Recording of Hailan Yu Story
                            </audio>
                            <p>我一直把唐人街當成是我的家。從我出生那天起，我的第一個家就在唐人街。在之後的整整13年中，我和家人一起住在這裡。雖然這期間我搬家了一兩次，但我仍然住在同一個街區。我所有的回憶都在這裡。這裡的氛圍真是太好了，因為這裡的每個人都互相認識。</p>

                            <p>當我小的時候，我每天都去堂兄的家裡，那裡離我家只有一個街區。我和我的表兄弟們生活在同一屋簷下使我們變得更加緊密。我記得我和其他朋友一起踩單車，這是將永遠保存下去的記憶。曾經我從單車上摔下來，所有的朋友都幫助我，這是心動的感覺。事實上，我們沒有血緣關係，但他們仍然肯幫助我，感覺像家人一樣。我會永遠記得唐人街給我的溫暖。</p>

                            <p>晚餐後，我會和我的鄰居一起去玩。我們都會去附近的公園。我們每天至少在那裡玩四個鐘頭。在夏天，我們整天都在那裡。這是夏天最好的事情。在冬天，我們會堆雪人，製作雪天使，並一起喝熱巧克力，我與我鄰居玩得很開心。</p>

                            <p>我的另一個記憶是，放學後，我和朋友會去唐人街的某個地方吃或喝東西，或做功課或者聊天。這真的很有趣，像這樣的東西使唐人街成為一個好地方。當孩子們來到這裡時，父母會感到放心。這是一個讓所有年齡段的人都玩得開心的地方。這是一個讓我想在這裡變老的原因。</p>

                            <p>我在唐人街上學，也就是說我24小時不離開唐人街。唐人街有三所學校，囙此每天上學都能看到很多年紀相仿的同學，囙此唐人街充滿了年輕的活力。</p>

                            <p>所有的親人都圍繞著我，所以我覺得唐人街是我的家。在唐人街，基本上什麼都有。有很多好餐館，很美麗的景點。我們有許多很好的餐館和商店，一個圖書館，許多標誌性的景點、學校、教堂。大約有1500人住在唐人街。平常有很多旅遊團來參觀，因為唐人街是一個令人驚歎的地方。</p>

                            <p>我父母在唐人街開了一家公司。</p>

                            <p>除了我的家，我可以去他們的公司，所以這讓我感覺唐人街更像一個家。</p>

                            <p>每個在唐人街住過的人基本上都在這裡度過了一生。每個人都有不同的經歷和故事，這就是唐人街如此偉大的原因。</p>

                            <p>我們很尊重長輩。他們中的許多人都是第一代移民，為我們創造一個美好的生活環境。我感謝我的祖父母和其他人把這個地方作為我的家。很多人可能不知道唐人街是怎麼發展起來的，但我們的祖父母為唐人街也奉獻了一份力。他們想建立一個包含中國文化的社區。囙此唐人街有著真正的中國文化。</p>

                            <p>很多人把唐人街當成家，雖然在其他社區，人們會過自己的生活。但這裡，我們關心每一個人。我在唐人街的經歷是我一生中最美好的回憶。唐人街永遠都是我的家。</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
