<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-100">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <div class="en">
                            <h1>Madison Chan 11 Years old</h1>
                            <p>My name is Madison Chan. I live in Chicago, near Chinatown, and I will tell you about my experience in Chinatown. Ever since I was little, my grandparents have been always taking me to Chinatown. During summer time, my grandpa took my siblings and me to Chinatown. We did a lot of great things. We always went to a restaurant called My Place, we were introduced to a lot of delicious food like Char Ciu which is a Chinese BBQ Pork, a very popular dish that most Chinese people order. Dim Sum was my second favorite meal as well. Dim Sum is Siu Mai which is a ground pork dumpling with a lot of tasty ingredients!</p>

                            <p>Walking around Chinatown and exploring the buildings was very entertaining. We visited a lot of places in Chinatown like Ping Tom Park and Sun Yet Park. But my favorite thing to do in Chinatown was going to the Chinatown library. The Chinatown library is a great gathering place where lots of young and old people go to hang out, read and check out books. Since the new library was built much more people are able to go there so I usually ran into someone we know.</p>

                            <p>There are great events that happen in Chinatown every year. Chinatown summer fair is one of them. Once every year you can come to the Chinatown summer fair, Chinese New Year parade and many more. </p>

                            <p>Chinatown to me is my second home. It has been a part of my life ever since I was little. So, I want it to be in my life as I grow older. When I get older, I would like to stay in Chinatown.</p>
                        </div>
                        <div class="zh_HANS">
                            <h1>陈家蔚，11岁</h1>
                            <audio src="/audio/zh_HANS/Madison-Chan.mp3" controls>
                                Recording of Madison Chan Story
                            </audio>
                            <p>我叫陈家蔚，我住在芝加哥中国城附近。让我来讲讲我在唐人街的经历。小的时候，我的祖父母经常会带我去唐人街。在夏天，我的爷爷也会带着我和我的兄弟姐妹们一起去唐人街玩。我们会做很多事情。我们总是去一家名为大城小聚的餐馆品尝许多美味的食物，比如叉烧，这是一种中国烧猪肉，并且这是一道大多数中国人都会选择的菜肴。点心也是我喜欢的，其中我最喜欢的就是烧卖了！</p>

                            <p>我很喜欢在中国城里散步，探索建筑物。我们参观了中国城的许多地方，比如谭继平纪念公园（Ping Tom Park）和孙中山公园（Sun Yet Park）。但我在中国城最喜欢做的事情就是去唐人街图书馆。唐人街图书馆是一个很好的聚会场所，许多年轻人和老年人都会去那里闲逛，阅读和看书。自新图书馆建成以来，有更多的人愿意去那里，我在那儿经常遇到我认识的人。</p>
                            <p>每年唐人街都会举办重大的活动，例如唐人街夏季博览会。每年一次的唐人街夏季交易会和中国新年游行等等这些活动都会有许多人来参加。</p>

                            <p>对我来说唐人街是我的第二故乡。从我小的时候开始，唐人街就成为我生命中不可或缺的一部分，因此，我想继续留在唐人街。</p>
                        </div>
                        <div class="zh_HANT">
                            <h1>陳家蔚，11歲</h1>
                            <audio src="/audio/zh_HANT/Madison-Chan.mp3" controls>
                                Recording of Madison Chan Story
                            </audio>
                            <p>我叫陳家蔚，住在芝加哥的中國城附近。我將會講述我在唐人街的經歷。從我小的時候起我的祖父母就一直帶我去唐人街。在夏天，我的爺爺也會帶著我和我的兄弟姐妹去唐人街。我們做了很多的事情。我們總是去一家名為My Place的餐館，我們品嚐了許多美味的食物，如叉燒，這是一種中國燒烤豬肉，這是一道大多數中國人訂購的非常受歡迎的菜餚。點心是我第二喜歡的，其中燒賣是最美味的！</p>

                            <p>我很喜歡在中國城裡散步，探索建築物。我們參觀了中國城的許多地方，如Ping Tom Park和Sun Yet Park。但我在中國城最喜歡做的事情是去唐人街圖書館。唐人街圖書館是一個很好的聚會場所，許多年輕人和老年人都會去那裡閒逛，閱讀和看書。自新圖書館建成以來，更多的人願意去那裡，我在那兒經常遇到我認識的人。</p>
                            <p>每年中國城都會舉辦重大活動。唐人街夏季博覽會就是其中之一。唐人街夏季交易會，中國新年遊行等等這些活動每年一次歡迎參加。</p>

                            <p>唐人街對我來說是我的第二故鄉。從小就開始，它一直是我生活的一部分，所以我希望它隨著年齡的增長而成為我的生命的一部分。當我長大後，我想留在唐人街。</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
