<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-100">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <div class="en">
                            <h1>Michael Zhao St. Therese My Chinatown, my story... Grade 8</h1>

                            <p>I was amazed by the buildings’ styles the first time I visited Chinatown. Many of the buildings are made of tan or rufous bricks. On top of these buildings, there are spires which look like the tops of pavilions. Since many buildings are architecturally similar to each other, they create a visual beauty to me. </p>

<p>During the weekends, I usually visit Chinatown with my friends for fun. From my perspective, the heart of Chinatown is around Cermak Road, Wentworth Avenue, and Archer Avenue. In that area, you can not only find cafe, teahouses, and dim sum spots but also you can find stores for shopping Chinese stuff such as teapot, mooncake, and Chinese lantern. </p>

<p>Restaurants in Chinatown are really good. Every restaurant in Chinatown has its unique characteristics. Sze Chuan Cuisine, for example, has spicy dishes which come from Sichuan, southwest of China. Sichuan also is well-known for its usage of hot pepper, so all the dishes always have a common ingredient, hot pepper. Since I like to eat spicy food, I love many of the restaurants in Chinatown. The ice cream in Legend Tasty House also tastes amazing. Finally, Strings Ramen Shop is also one of my favorite restaurants in Chinatown. This restaurant is decorated by lanterns. The wall, tables, benches are all made of wood. Whenever I go to Strings Ramen Shop, I instantly feel cozy. All this restaurant’s noodle dishes are delicious. I love Miso ramen noodle the most because of its nice salty soup and flavored meat.</p>

<p>In conclusion, although I have only lived in Chicago Chinatown for one and a half years, I consider Chinatown to be a vital / crucial part of my life. I have made so many memories and gone to a lot of unforgettable events at this place. It has become such an important part of my US experience.</p>
                        </div>
                        <div class="zh_HANS">
                            <h1>赵博涵 八年级 
                                我的唐人街,我的故事......</h1>
                            <p>当我第一次来到唐人街的时候,我就被它的建筑⻛格震惊到了。大多数的建筑是由棕褐色或红褐色的砖块所构成的, 在这些建筑物的顶部, 都有看起来像亭子顶部的尖顶。由于许多建筑看起来彼此相同,它们带给了我一种视觉上的美感。</p>

                            <p>周末,我经常和朋友一起去唐人街。在我来看，唐人街生机勃勃的商业中心位于Cermak路,Wentworth大道和Archer大道附近,因为在那里，你不仅可以找到咖啡馆,茶馆和甜品店，还可以找到出售中国商品，如茶壶，月饼和中国灯笼的商店。</p>

                            <p>唐人街的每家餐馆都非常好，每家餐厅各 具其特色。例如，Sze Chuan Cuisine有来自中国四川的菜肴。四川是一个以辣椒而闻名的城市，所以菜肴里总是有一个共同的⻝材，辣椒。我喜欢吃辛辣的食物，所以这家餐厅我情有独钟。Legend Tasty House的冰淇淋味道也非常棒。Strings Ramen Shop是我在唐人街最喜欢的餐馆之一。这家餐厅用灯笼作为屋顶的装饰，墙壁，桌子和⻓凳都是用木头做的。当我进入Strings Ramen Shop时，我会感觉非常舒适。Strings Ramen Shop的所有种类的面条都很美味但是我最喜欢的还是味噌拉面，因为味增拉面有好喝的汤和好吃的肉。</p>

                            <p>总而言之,虽然我仅仅在芝加哥唐人街住了一年半的时间，但它对我来说很重要， 因为这里承载了我很多难忘的记忆。</p>
                        </div>
                        <div class="zh_HANT">
                            <h1>趙博涵 八年級
                                我的唐人街,我的故事......</h1>
                            <p>當我第一次來到唐人街的時候,我被它的建築⻛格震驚到了。大多數的建築是由棕褐色或紅褐色的磚塊所構成的, 在這些建築物的頂部, 都有看起來像亭子頂部的尖頂。由於許多建築看起來彼此相同,它們帶給了我一種視覺上的美感。</p>

                            <p>週末,我經常和朋友一起去唐人街。從我的⻆度來看，唐人街生機勃勃的商業中心位於Cermak路,Wentworth大道和Archer大道附近,因為在那裡，你不僅可以找到咖啡館,茶館和甜品店，還可以找到出售中國商品，如茶壺，月餅和中國燈籠的商店。</p>

                            <p>唐人街的每家餐館都非常好，每家餐廳各 具其特色。例如，Sze Chuan Cuisine有來自中國四川的菜餚。四川是一個以辣椒而聞名的城市，所以菜餚裡總是有一個共同的⻝材，辣椒。我喜歡吃辛辣的食物，所以這家餐廳我情有獨鍾。 Legend Tasty House的冰淇淋味道也非常棒。 Strings Ramen Shop是我在唐人街最喜歡的餐館之一。這家餐廳用燈籠作為屋頂的裝飾，牆壁，桌子和⻓凳都是用木頭做的。當我進入Strings Ramen Shop時，我會感覺很舒適。 Strings Ramen Shop的所有種類的麵條都很美味但是我最喜歡的還是味噌拉麵，因為微增拉麵有好喝的湯和好吃的肉。</p>

                            <p>總而言之,雖然我僅僅在芝加哥唐人街住了一年半的時間，但它對我來說至關重要， 因為這裡承載了我的難忘的記憶。唐人街对我而言不僅僅只是一個居住了一年半的一個地方,它還帶給我了難忘的記憶。</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
