<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-200">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <div class="en">
                            <h1>Preston Yuen 20 10/27/18 STCCS Grade 7
                                My Chinatown, My story...</h1>
                            <audio src="/audio/en/Preston-Yuen.mp3" controls>
                                Recording of Preston Yuen Story
                            </audio>
                            <p>My name is Preston Yuen; I am twelve years old and from the Bridgeport neighborhood. In this essay, I am going to talk about my experiences of Chinatown and what Chinatown means to me.</p>

                            <p>I have been going to Chinatown since I was little. My parents grew up in Chinatown and my grandparents live in Chinatown. My grandparents live in Chinatown and thus my parents grew up there. Since I was a baby, my grandfather used to always take me to the Sun Yat Sen Park. I remember being on the swings while watching elderly people play Chinese chess and exercise Tai Chi .</p>

                            <p>Once I was old enough to start preschool, my parents sent me to St.Therese Chinese Catholic School in Chinatown. I am now in seventh grade and I have been there ever since I was three years old. Both of my parents also went to St.Therese School, so this is a special place to me. </p>

                            <p>My grandmother owns a Chinese herbal shop in Chinatown, and that is where I always go to afterschool. I’ve been always amazed by the different types of Chinese herbs. Whenever I got sick, my grandmother would make me some Chinese tea to drink. Although it tastes really bitter, it always made me feel better. </p>

                            <p>My favorite thing to do in china town is to eat since they have a lot of amazing restaurants. Chinese restaurants are always a place to go to if there is a family event or special gathering. It is a place where I can spend time with my family and relatives. I also like to eat Vietnamese noodles, and Korean BBQ there.</p>

                            <p>Additionally, there are a lot of bakeries in Chinatown with a lot of different Chinese buns. Every weekend, my grandmother would buy me a box of fresh Chinese buns for breakfast. My favorite Chinese bun is the “pineapple bun” which has a crispy, sweet, cookie texture on the top of it. There are also a lot of dessert shops, one of my favorite dessert is the hand-rolled ice cream. You can choose different flavors, toppings and watch them make the ice cream in front of you.</p>

                            <p>In Chinatown, I get to experience and learn a lot about my culture. It is a very active community and has a lot of different events. In the summer, there are a lot of parades and summer fairs. Mostly, my whole childhood, I have been living and visiting Chinatown. I like being around there to experience my culture. Chinatown feels like a second home to me.</p>
                        </div>
                        <div class="zh_HANS">
                            <h1>我的唐人街，我的故事......</h1>
                            <audio src="/audio/zh_HANS/Preston-Yuen.mp3" controls>
                                Recording of Preston Yuen Story
                            </audio>
                            <p>我的名字是Preston Yuen;我十二岁，来自Bridgeport社区。我将讲讲我在唐人街的经历还有唐人街对我的意义。</p>

                            <p>我在很小的时候就去过唐人街。我的祖父母就住在唐人街，然后我的父母也在唐人街长大。在我小时候，我的祖父经常带我去Sun  Yat Sen公园。我记得那时候我一边荡秋千一边观看老人下中国象棋，练习太极拳。</p>

                            <p>在我三岁的时候，我的父母就把我送到唐人街的St.Therese中国天主教学校去上学前班。因为我的父母之前也是在这个学校，所以这对我来说是个特别的地方。我现在已经七年级了。</p>

                            <p>我的祖母在唐人街拥有一家中药店，我经常放学后去那儿。我一直对不同种类的中草药很好奇。每当我生病，祖母都会给我一些中药喝。虽然味道真的很苦，但它总能让我感觉好一些。</p>

                            <p>我最喜欢在中国城吃饭，因为那儿有很多很棒的餐馆。如果有家庭活动或特别聚会，首选便是中餐馆。我与家人和亲戚经常去聚餐。当然我也喜欢吃越南粉和韩国烧烤。</p>

                            <p>此外，唐人街有很多面包店，有很多不同的点心。每到周末，祖母都会给我买一盒新鲜的中式面包作为早餐。我最喜欢的中式面包是“菠萝包”，它的表皮酥脆，味道甜美。这里有很多甜品店，我最喜欢的甜点之一是炒冰淇淋。您可以选择不同的口味，配料，并观看他们现场制作冰淇淋。</p>

                            <p>在唐人街，我可以体验和学习很多关于中国的文化。这是一个非常活跃的社区，有很多活动。在夏天，有很多游行和夏季交易会。我的大部分童年，一直在唐人街。我喜欢在那儿体验文化。唐人街感觉就像是我的第二个家。</p>
                        </div>
                        <div class="zh_HANT">
                            <h1>我的唐人街，我的故事......</h1>
                            <audio src="/audio/zh_HANT/Preston-Yuen.mp3" controls>
                                Recording of Preston Yuen Story
                            </audio>
                            <p>我的名字是Preston Yuen;我十二歲，來自桥港Bridgeport社區。我將講述我在唐人街的經歷以及唐人街對我的意義。</p>

                            <p>我在很小的時候就去過唐人街。因为我爷爷奶奶就住在唐人街，我父母也在唐人街長大。在我仲细的時候，我的爷爷就經常帶我去中山公园Sun Yat Sen公園。我記得那時候我边玩边看老人玩中國象棋，打太極拳。</p>

                            <p>系我三歲的時候，我的父母就将我送到唐人街的中國天主教學校去上學前班。因為我的父母之前也是在这所學校返學，所以ni间学校對于我來讲是個特別的地方。我宜家已經是七年級了。</p>

                            <p>我的奶奶在唐人街有一家中藥店，我經常放學之後去那兒。我一直對不同種類的药材好好奇。每次我病左，奶奶都會煲一些中藥给我喝。雖然味道真的好苦，但喝完感覺好了很多。</p>

                            <p>我好钟意系唐人街吃飯，因為系这里有很多很整的餐厅。如果有家庭活動或特別聚會，我们会选择去中餐厅。我同屋企人和親戚經常去聚餐。同時我又喜歡吃越南粉和韓國燒烤。</p>

                            <p>此外，唐人街有好多麵包店，有好多不同的點心。每到星期六日，奶奶都會給我買一盒新鮮的中式麵包作為早餐。我最喜歡的中式麵包是“菠蘿包”，它表皮酥脆。唐人街還有很多甜品店，我最喜歡的甜品是手卷雪糕。您可以選擇不同的口味，配料，并觀看他們現場整雪糕。</p>

                            <p>在唐人街，我可以體驗并學習更多關於中國的文化。這是一個非常活躍的社區，有很多活動在这里举办。在夏天，有很多遊行同埋交易會。我大部分童年，一直在唐人街。我喜歡在果道體驗文化。唐人街感覺就系我嗰第二個家。</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
