<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-100">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <div class="en">
                            <h1>Renee Zhao, Age 14</h1>
                            <p>Chinatown means a lot to me, and I don’t even know how to start. I guess I should start with my history. I was in Chinatown when I was little. I guess this is why Chinatown means so much to me--I was already involved with it when I was young. Unfortunately, I moved out and I currently reside fifteen minutes away.</p>

                            <p>At first glance, Chinatown might just seem like a place for tourists; you see all of these shops and restaurants just scattered around. But that is not the case. Chinatown is home to many families and is a second home to many others. I consider Chinatown as my second home because I am always there. I go to school there and can be seen eating out with my family or friends there on a daily basis.</p>

                            <p>Chinatown is a place where you can do anything. As I mentioned before, you can find many shops and restaurants there. Chinatown has many markets that sell food that can not commonly found in other places  Food such as bitter melon, lotus root, and salted plum are common items sold there. There are restaurants for all different types of Chinese food, Japanese, Korean, Mandarin, Thai, Asian fusions, and Vietnamese. Or you can grab a bao or an egg tart for a quick snack. Chinatown is also expanding. You can now even find a French bakery there.</p>

                            <p>Aside from shops and bakeries, you can also find resources there. There is a library, a post office, a medical center, many orthodontic centers, and salons. It is a community. The library is built just last year. You can find people reading books, getting homework help, doing school projects, and just hanging out there. The library has two floors full of computers and books. There is both Chinese and English books and that is what makes the Chinatown library different from the other libraries. There are two different languages.</p>

                            <p>Chinatown is always bustling, day and time. There are people who walk to and from work, students who go to school, and people who have lunch across the street during lunch break. Breakfast and brunch can be purchased from the bakery. Lunch can be eaten anywhere; the convenience of Chinatown makes it simple. Dinner is usually eaten at the restaurant. Sometimes, restaurants become so crowded that they can only wait in line. There are many restaurants in Chinatown, so people don't crowd around a restaurant, which is a good thing.</p>

                            <p>The busiest time of Chinatown in the year is the Chinese New Year. Chinese New Year has a parade every year. This is the moment of gratitude, family and friends. People can see groceries and festive sweets for kids. Chinatown is a place for everyone. We always see people stopping at the store or restaurant to greet each other. This is because Chinatown is considered to be the home of most of us and it will be our home. Many visitors to Chinatown are immediately attracted to their beauty and friendliness, including myself. This is why Chinatown is of great significance to me.</p>
                        </div>
                        <div class="zh_HANS">
                            <h1>Renee Zhao, 14岁</h1>
                            <audio src="/audio/zh_HANS/Renee-Zhao.mp3" controls>
                                Recording of Renee Zhao Story
                            </audio>
                            <p>不知何时起，唐人街对我来说变得非常重要。我小的时候就住在唐人街，大概这就是唐人街对我如此重要的原因。但遗憾的是我在后来搬出了唐人街，现在我住在距离唐人街15分钟路程以外的地方。</p>

                            <p>唐人街给人们的第一印象可能只是一个旅游景点;因为那里到处都是商店和餐馆。但事实并非如此，唐人街是许多家庭共同的家园，也是许多人的第二故乡。我把唐人街当作我的第二个家，因为它和我的生活息息相关。我在那里上学，我每天和家人或朋友在那里吃饭。</p>

                            <p>正如我之前提到的那样，你可以在那里找到很多商店和餐馆。唐人街的市场会售卖许多在其他地方不常见的食物，比如苦瓜、莲藕和蜜饯等。唐人街的餐馆有来自不同国家的食物，中国菜、日本菜、韩国菜、泰国菜、和越南菜应有尽有。你也可以买一个面包或是蛋挞当作快餐，现在你甚至可以在那里
                                找到一家法国面包店。</p>

                            <p>除了商店和面包店，你也可以在中国城的社区找到各种各样的公共服务。这里有图书馆，邮局，医疗中心，许多牙齿矫正中心，和美发沙龙。这里的图书馆很新，你可以看到人们在那里读书、做作业、做学校项目，或者是在外面逛街。图书馆有两层，里面放满着好多电脑和书。那里不仅有英文的书，还有大量中文书籍，这就是唐人街图书馆不同于芝加哥其他图书馆的原因。</p>

                            <p> 唐人街无论何时何地总是很多人的。有走路去上班的人，有上学的学生，也有在午休吃午饭的人。你可以在面包店买到美味的面包，也可以在唐人街的任何地方吃到丰盛的午餐;唐人街令这一切变得简单方便。人们通常选择在餐馆吃晚餐，但有的时侯餐馆实在太多人了，他们只能排队。但是因为唐人街有很多美味的餐馆供人们选择，所以人们不会挤在同一家餐馆附近。</p>

                            <p> 新年是唐人街一年中最繁忙的时候，因为那个时候有新年游行活动。这是一个感恩家人和朋友的时刻。在这里，你可以看到为小朋友们准备的食品和糖果。唐人街是一个温暖的地方，他属于这里的每一个人。我们总是可以看到这里的人们停下来互相打招呼。这个是因为唐人街被视为是我们所有人共同的家园，它将成为我们永远的家。许多来到唐人街的游客会被唐人街的美好所吸引，包括我自己。这就是为什么唐人街对我来说很重要的原因。</p>
                        </div>
                        <div class="zh_HANT">
                            <h1>Renee Zhao, 14岁</h1>
                            <audio src="/audio/zh_HANT/Renee-Zhao.mp3" controls>
                                Recording of Renee Zhao Story
                            </audio>
                            <p>唐人街对我来说意义重大，我甚至不知道如何开始。我想我应该从我的历史开始。我小的时候在唐人街。我想这就是唐人街对我如此重要的原因——我小的时候就已经参与其中了。不幸的是，我搬出去了，现在住在15分钟路程之外。</p>

                            <p>乍一看，唐人街可能只是一個適合旅遊的地方;你可以看到這些商店和餐館到處都是。但事實並非如此。唐人街是許多家庭的家園，也是許多人的第二故鄉。我把唐人街當作我的第二個家，因為我總是在那裡。我在那裡上學，我每天可以和家人或朋友出去吃飯。</p>

                            <p>唐人街是一個你可以做任何事情的地方。正如我之前提到的，你可以在那裡找到很多商店和餐館。唐人街有許多市場出售在其他地方不常見的食物，如苦瓜、蓮藕和鹽漬李子等，在那裡很常見。如果你不想買任何食物，那麼你可以試試那裡的餐館或麵包店。唐人街到處都有這樣的商店。餐館裡有各種各樣的中國菜:日本菜、韓菜、普通話、泰國菜、亞洲菜和越南菜。或者你也可以拿一個麵包或蛋撻作為快餐。唐人街也在擴張。現在你甚至可以在那裡找到一家法國麵包店</p>

                            <p>除了商店和麵包店，你也可以在那裡找到各種資源。有圖書館，郵局，醫療中心，許多牙齒矯正中心，和沙龍。這是一個社區。這個圖書館仍然很新，是去年剛建的。你可以看到人們在讀書、做作業、做學校項目，或者只是在外面閒逛。圖書館有兩層，裡面擺滿了電腦和書。有中文和英文的書，這就是唐人街圖書館不同於其他圖書館的地方。那裡有兩種不同的語言。</p>

                            <p>唐人街無論何時何地總是熙熙攘攘的。有步行上下班的人，有上學的學生，也有在午休時間在街對面吃午飯的人。早餐和早午餐可以在麵包店買到。午餐可以在任何地方吃;唐人街的便利使它變得簡單。晚餐通常在餐館吃。有時候，餐館太擁擠了，他們只能排隊。唐人街有很多餐館，所以人們不會擠在餐館周圍，這是一件好事。</p>

                            <p>一年中唐人街最繁忙的時候是中國新年。中國新年每年都有遊行。這是一個感恩家人和朋友的時刻。人們可以看到為孩子們提供的食品和節日糖果。唐人街是每個人的地方。我們總能是看到人們在商店或餐廳停下來互相問候。這是因為唐人街被認為是我們大多數人的家，它將成為我們的家。許多來到唐人街的遊客會立即被他們的美麗和友好所吸引，包括我自己。這就是為什麼唐人街對我來說很重要。</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
