<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-100">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <div class="en">
                            <h1>Ryan Daly
                                13 years old</h1>
                            <audio src="/audio/en/Ryan-Daly.mp3" controls>
                                Recording of Ryan Daly Story
                            </audio>
                            <p>The neighborhood of Chinatown means a lot to my family and I. My whole life revolves around Chinatown in a sense. My elementary school, St. Therese Chinese Catholic School, is in Chinatown, along with my Po Po’s (grandma) house. Every day after school, I go to my Po Po’s house to visit. Po Po cooks a meal for me every day after school so I am not hungry. I do my homework and study there before I leave for the extracurricular activity I have planned for that day.</p>

                            <p>My grandparents come from Hong Kong. My great-grandfather and grandfather came here firstly, and once they settled and saved enough money, they were able to send for my Po Po and Uncle Bill. Before Po Po arrived in Chicago, she learned English for two years in preparation for her move to America. When she came over to the United States, a girl that worked for her helped her to improve her English. Po Po told me that when she came to Chicago, there were no highways other than Lake Shore Drive, but there were more railroad tracks, and there were not ANY restaurants, grocery stores, or bakeries. Many of the future streets were empty prairieland, and the houses that are here now didn’t exist. The boundaries of Chinatown at the time were Cermak Rd. to the north, 23rd St. to the south, Wentworth Ave. to the east, and Princeton Ave. to the west.</p>

                            <p>My mother, her three sisters and brother grew up in Chinatown as well. The boundaries of Chinatown were then Cermak Rd. to the north, 24th Place to the south, Wentworth Ave. to the east, and Princeton Ave. to the west. My mom said that when she was a child, the population of Chinatown was mostly of Italian and Irish descent, and there was a very small Chinese population. Over the years, more Chinese people had started to move in. My aunts remember their favorite candy store, Joe Store, that all of the kids went to buy candy, hang out, and have fun with their friends. As my aunt remembers, there was one grocery store on Wentworth Ave.: Sun Cheong Loong. Sun Cheong Loong had roasted ducks and pork, vegetables, and gifts to buy. Aunt Joann remembers the huge siu mai and fried egg puffs served at Golden Gate, coffee (they added egg shells to their coffee grounds before brewing the coffee), buttered toast, and fried eggs at Kee Kee Cafe, and the enormous cupcakes at Dong Kee. Po Po says the cupcakes were tiny, but huge to my aunt because she was so tiny.</p>

                            <p>I have seen a lot of things changed over the years in the Chinatown neighborhood. The boundaries of Chinatown are now 16th St. to the north, 24th Place to the south, Wentworth Ave. to the east, and Princeton Ave. to the west. There have always been a lot of restaurants, but the the type of food served has changed. Recently, there have been more styles of Chinese cuisine coming into Chinatown (Szechuan, Hunan), and the Cantonese restaurants have closed. There have also been a lot more noodle shops, hot pot restaurants, and different Asian cuisine (Korean, Japanese) that have opened. There was even a Kentucky Fried Chicken in Chinatown Square but it is closed now. Who would want Kentucky Fried Chicken, if I could get roast pork and dumplings! I remember walking around Chinatown, shopping with my grandma, staring at the roasted duck and pork. I remember the live animals, like fish, frogs, crabs, shrimp, and lobsters. My grandma would always buy me a bao from one of the many bakeries. I begged to go into every gift shop, knowing I would find the same toys, but still wanting see if anything had changed. The size of Chinatown has increased greatly since my grandma first came over to the United States.</p>

                            <p>My family has a lot of history in Chinatown, and we have lived in the community for three generations now. We have become attached to the community and the people of Chinatown, and we have no plans of ever leaving this great neighborhood!</p>
                        </div>
                        <div class="zh_HANS">
                            <h1>Ryan Daly
                                13岁</h1>
                            <audio src="/audio/zh_HANS/Ryan-Daly.mp3" controls>
                                Recording of Ryan Daly Story
                            </audio>
                            <p>唐人街对我和我的家人来说意义重大。我的全部生活在某种意义上是围绕着唐人街的。我的小学离我奶奶家很近，是唐人街的圣泰瑞斯中国天主教学校。每一天放学后，我都会去我奶奶家。奶奶每天放学后给我做饭。在我离开前，我会在奶奶家学习，做我的作业，然后再做我计划那天要做的课外活动。</p>

                            <p>我的祖父母来自香港。我的曾祖父和祖父首先来到这里，在他们定居下来并存够了钱后，他们就把我的奶奶和叔叔比尔叫来。在奶奶来到芝加哥之前，为搬到美国做准备，她学了两年英语。当她来到美国后，一个为她工作的女孩帮助她提高了英语水平。奶奶告诉我，当她来芝加哥的时候，除了Lake Shore Drive没有别的高速公路，但是有很多的铁轨，也没有任何餐馆，杂货店或面包店。许多现在的街道在当时都是空荡荡的草原。现在这里的房子以前并不存在。当时唐人街的边界是北面的Cermak Rd，南面的23街，东边的Wentworth Ave，西边的Princeton Ave。</p>

                            <p>我的母亲和她的三个兄弟姐妹也在唐人街长大。当时唐人街的边界是北边的Cermak Rd.，南边是24街，东边是Wentworth Ave，西边是Princeton Ave。我妈妈说在她小时候，唐人街主要是意大利人和爱尔兰人的后裔，中国人非常少。渐渐的越来越多的中国人开始搬进来。我的姑姑们记得他们最喜欢的糖果店，乔商店（Joe Store）所有的孩子都去那儿买糖果，闲逛，和他们的朋友玩得很开心。我姑姑记得在Cermak Rd.有一家杂货店:孙长龙（Sun Cheong Loong）。孙长龙（Sun Cheong Loong）有烤鸭、猪肉、蔬菜和礼物。Joann阿姨还记得金门的烧麦和泡芙、咖啡(他们在煮咖啡之前先把蛋壳加到咖啡里)、奶油吐司、Kee Cafe的煎蛋，还有Dong Kee的大杯蛋糕。奶奶说蛋糕很小，但是对我阿姨来说很大，因为她太小了。</p>

                            <p>多年来，我看到唐人街附近发生了很多变化。唐人街的边界现在北至16街，南至24处（24th Place），东至Wentworth Ave，西至Princeton Ave。一直以来都有很多餐馆，但是服务的类型已经改变了。最近，有更多的风格的中国菜进入唐人街(四川，湖南)，广东餐馆已经关闭，也有更多的面条店，火锅餐厅，以及不同的亚洲菜(韩国，日本)已经开放。在唐人街广场甚至有一家肯德基，但现在已经关门了。如果我能得到烤猪和饺子，谁会想吃肯德基呢?我记得我在唐人街散步，和我的奶奶一起购物，我一直盯着烤鸭和烤猪。我记得一些动物，例如鱼、青蛙、螃蟹、虾和龙虾。我奶奶总是从许多面包店给我买一个面包。我恳求去每家礼品店，虽然我知道我会找到同样的玩具，但我还是想看看是否有什么变化。自从我奶奶第一次来到美国，唐人街的规模已经大大增加了。</p>

                            <p>我们家在唐人街有很长的历史，我们已经在这儿住了三代了。我们已经与这个社区和唐人街的居民建立了联系，我们永远不会离开这个伟大社区!</p>
                        </div>
                        <div class="zh_HANT">
                            <h1>Ryan Daly
                                13歲</h1>
                            <!-- <audio src="/audio/zh_HANT/Ryan-Daly.mp3" controls>
                                 Recording of Ryan Daly Story
                                 </audio> -->
                            <p>唐人街的街區對我和我的家人來說意義重大。我的一生在某種意義上圍繞著唐人街。我的奶奶家和我的小學，聖泰瑞斯中國天主教學校，都在唐人街。每一天放學後，我去我的奶奶家參觀。奶奶每天放學後給我做飯，所以我不餓。在我離開之去做我計劃那條要做的課外活動，我會先做我的家庭作業和以及學習。</p>

                            <p>我的祖父母來自香港。我的曾祖父和祖父首先來到這裡，一旦他們定居下來並存夠了錢，他們就能把我的奶奶和叔叔比爾叫來。在奶奶來到芝加哥之前，她學了兩年英語，為搬到美國做準備。當她來到美國時，一個為她工作的女孩幫助她提高了英語水平。奶奶告訴我，當她來芝加哥的時候，除了湖濱大道（Lake Shore Drive），沒有別的高速公路，但是有更多的鐵軌，也沒有任何餐館，雜貨店或麵包店。許多未來的街道都是空蕩蕩的大草原，而且現在這裡的房子以前並不存在。當時唐人街的邊界是北面的澤馬克路（Cermak Rd.），南至的23街，東面的溫特沃斯大道（Wentworth Ave.），西面的普林斯頓大道（Princeton Ave.）。</p>

                            <p>我的母親和她的三個兄弟姐妹也在唐人街長大。當時唐人街的邊界是北邊的塞爾馬克路（Cermak Rd.），南邊是24號（24th），東邊是溫特沃斯大道（Wentworth Ave.），西邊是普林斯頓大道（Princeton Ave.）。我媽媽說當她還是個孩子的時候，唐人街的人口主要是意大利人和愛爾蘭人的後裔，中國人口非常少。多年來，越來越多的中國人開始搬進來。我的姑姑們記得他們最喜歡的糖果店，喬商店（Joe Store），所有的孩子都去買糖果，閒逛，和他們的朋友玩得很開心。我姑姑記得，在溫特沃斯大街（Cermak Rd.）有一家雜貨店:孫長龍（Sun Cheong Loong）。孫
                                長龍（Sun Cheong Loong）有烤鴨、豬肉、蔬菜和禮物。 Joann阿姨還記得金門的燒麥和泡芙、咖啡(他們在煮咖啡之前先把蛋殼加到咖啡裡)、奶油吐司、Kee Cafe的煎蛋，還有Dong Kee的大杯蛋糕。奶奶說蛋糕很小，但是對我阿姨來說很大，因為她太小了。</p>

                            <p>多年來，我看到唐人街附近發生了很多變化。唐人街的邊界現在北至16街，南至24處（24th Place），東至溫特沃斯大道（Wentworth Ave.），西至普林斯頓大道（Princeton Ave.）。一直以來都有很多餐館，但是服務的類型已經改變了。最近，有更多的風格的中國菜進入唐人街(四川，湖南)，廣東餐館已經關閉，也有更多的麵條店，火鍋餐廳，以及不同的亞洲菜(韓國，日本)已經開放。在唐人街廣場甚至有一家肯德基，但現在已經關門了。如果我能得到烤豬和餃子，誰會想吃肯德基呢?我記得我在唐人街散步，和我的奶奶一起購物，我一直盯著烤鴨和烤豬。我記得一些動物，例如魚、青蛙、螃蟹、蝦和龍蝦。我奶奶總是從許多麵包店給我買一個麵包。我懇求去每家禮品店，雖然我知道我會找到同樣的玩具，但我還是想看看是否有什麼變化。自從我奶奶第一次來到美國，唐人街的規模已經大大增加了。</p>

                            <p>我們家在唐人街有很長的歷史，我們已經在這個社區住了三代了。我們已經與這個社區和唐人街的居民建立了聯繫，我們永遠不會離開這個偉大社區!</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
