<!DOCTYPE html>
<html>
    <% include ../partials/head %>

    <body class="text-black base-font-size">
        <div class="wrapper mx-auto h-100">
            <% include ../partials/nav %>
            <div class="container h-100">
                <div class="row align-items-center h-50">
                    <div class="col-12 col-lg-9 mx-auto ml-lg-auto mr-lg-0 text-center">
                        <h1>(Xiao)Lynn Zhen 17 Years Old October 2018
                            Homeland Chinatown</h1>
                        <div class="en">
                            <p>In the bustling and prosperous metropolis of Chicago, there is a place filled with history and ancient architectures - Chinatown. There are four landmark buildings in Chinatown, including the tianxia plaque, the Kowloon wall, the Pui Tak Center building, and the twelve Chinese zodiac Chinatown square. These buildings, carved beams, and painted buildings are brightly colored, fully reflecting the characteristics of Chinese architecture. The residents of Chinatown come from all parts of the country and have their own local dialect. Mandarin and Cantonese are the most representative languages in Chinatown.  Chinatown is a warm haven, it can let us oversea travelers together feel the warmth of home, and I am one of the beneficiaries.</p>

                            <p>My hometown is Taishan, Guangdong, China. I remember when I first came to the country, Chinatown was so foreign to me, whether it was the environment, the language, or the local customs that would make me feel new and uncomfortable. One of the things that frustrate me the most is the language barrier. My English foundation is not very good. Whenever the English teacher gives us homework, I find it very difficult. I have to translate what I think into English again, and it is a challenge for me. At that time, I did not understand many English vocabularies, and I used mobile translation software to help me. However, the translations from the software weren’t exactly right. I can only write down the general meaning, but the English teacher could not understand what I wrote. He pointed out a lot of mistakes and asked me to revise them and turned in again. I was very frustrated and get stressed out.</p>

                            <p>Fortunately, under a coincidence, I learned that the Pui Tak center could provide after-school tutoring classes for new youth immigrants. I was holding my expectation and walked into the Pui Tak Center. At first, I felt very strange in this new environment, and I was also very introverted. But the teachers in Pui Tak Center are very approachable and kind. They are passionate and dedicated to education. They are respectful and attentive to the suggestions given by the students, and they will try their best to give the students a perfect answer. They are like a group of good teachers and helpful friends, under their guidance, my personality became more cheerful, and gradually get along with my classmates. I have also made progress in learning. Every time when I asked questions about English homework that I did not understand, they patiently taught me and carefully listed the steps to solve the problems, and then taught me step by step until I learned it. As I learned more English vocabularies, I no longer felt distressed when my English teacher assigned homework. Ultimately, I found the right direction and could write out my own ideas. Gradually, I got rid of the help of mobile translation software.</p>

                            <p>Chinatown is like a home, and it makes me feel comfortable and safe. It brought me a lot of unforgettable and beautiful memories, deep in my head, in a place that's important to me.</p>
                        </div>
                        <div class="zh_HANS">
                            <audio src="/audio/zh_HANS/Xiaolynn-Zhen.mp3" controls>
                                Recording of Xiaolynn Zhen Story
                            </audio>
                            <p>唐人街是一个充满历史气息和古老建筑的地方。唐人街有四座标志性建筑：天下牌匾，九龙墙，培德中心大楼和十二生肖唐人街广场。这些建筑，雕梁和彩绘建筑的色彩大多都很鲜艳，充分体现了中国建筑的特色。唐人街的居民来自全国各地，都会说不同的方言。不过，普通话和广东话是唐人街最具代表性的语言。唐人街对于我们和很多海外游客来说，是一个温暖的避风港，可以让我们感受到家的温暖。</p>

                            <p>我的家乡是中国广东省台山市。我记得当我第一次来到这个国家时，唐人街对我来说是如此陌生，无论是环境，语言还是当地习俗都会让我感到新奇和不舒服。最令我难过的是语言障碍。我的英语基础不是很好。每当英语老师布置作业给我们，我都会觉得难。我必须再把我的想法翻译成英语，这对我来说是无疑是种挑战。那个时候，大部分的英语词汇我都看不懂，大多数时候，我都需要翻译软件的帮助。但是，软件的翻译并不完全正确。我只能写出大概的意思，但英语老师无法理解我写的内容。他从作业中指出了我的很多错误，并要求我修改它们并再次上交。所以，刚来到这个国家的时候，我非常难过并且感到压力很大。</p>

                            <p>幸运的是，在一次巧合之下，我了解到培德中心可以为新的青年移民提供课后辅导课程。我抱着期望，走进了培德中心。起初，我觉得这个并不适应新的环境，而且我也非常内向。但是贝德中心的老师非常平易近人，他们热心于教育。他们尊重学生的建议并关注学生的情况，他们会尽力给学生一个完美的答案。他们就像一群乐于助人的朋友，在他们的指导下，我的性格变得更加开朗，并逐渐能够与同学友好相处。我在学习上也取得了进步。每</p>

<p>当我询问不理解的英语作业时，他们耐心地教我并仔细列出解决问题的步骤，直到我学会了。我学到的英语词汇越来越多，因此当我的英语老师分配作业时，我也不会再感到苦恼。最终，我找到了正确的方向，可以写出我自己的想法。渐渐地，我摆脱了翻译软件的帮助。</p>

                            <p>唐人街就像一个家，它让我感到舒适和安全，会从各个方面帮助我们适应美国，它给我带来了许多令人难忘和美好的回忆，深藏在我的脑海里。</p>
                        </div>
                        <div class="zh_HANT">
                            <audio src="/audio/zh_HANT/Xiaolynn-Zhen.mp3" controls>
                                Recording of Xiaolynn Zhen Story
                            </audio>
                            <p>在繁華的芝加哥大都市，有一個充滿歷史氣息和古老建築的地方 - 唐人街。唐人街有四座標誌性建築：天下牌匾，九龍牆，貝德中心大樓和十二生肖唐人街廣場。這些建築，雕樑和彩繪建築的色彩大多都很鮮豔，充分體現了中國建築的特色。唐人街的居民來自全國各地，都會說不同的方言。不過，普通話和廣東話是唐人街最具代表性的語言。唐人街對於我們和很多海外遊客來說，是一個溫暖的避風港，可以讓我們感受到家的溫暖。</p>

                            <p>我的家鄉是中國廣東省台山市。我記得當我第一次來到這個國家時，唐人街對我來說是如此陌生，無論是環境，語言還是當地習俗都會讓我感到新奇和不舒服。最令我沮喪的是語言障礙。我的英語基礎不是很好。每當英語老師給​​我們佈置作業時，我都會覺得難。我必須再把我的想法翻譯成英語，這對我來說是無疑是種挑戰。那時，我看不懂很多的英語詞彙，大多數時候，我都需要翻譯軟件的幫助。但是，軟件的翻譯並不完全正確。我只能寫出大概的意思，但英語老師無法理解我寫的內容。很多次作業，他都會指出了我很多的錯誤，並要求我修改它們並再次上交。所以，剛來到這個國家的時候，我非常沮喪並且感到壓力很大。</p>

                            <p>幸運的是，在一次巧合之下，我了解到貝德中心可以為新的青年移民提供課後輔導課程。我抱著期望，走進了貝德中心。起初，我覺得這個並不適應新的環境，而且我也非常內向。但是貝德中心的老師非常平易近人。他們熱情並致力於教育。他們尊重並關注學生的建議，他們會盡力給學生一個完美的答案。他們就像一群好老師和樂於助人的朋友，在他們的指導下，我的性格變得更加開朗，並逐漸與同學相處融洽。我在學習上也取得了進步。每次當我詢問我不理解的英語作業問題時，他們耐心地教我並仔細列出解決問題的步驟，直到我學會了。當我學到更多的英語詞彙時，當我的英語老師分配作業時，我也不再感到苦惱。最終，我找到了正確的方向，可以寫出我自己的想法。漸漸地，我擺脫了翻譯軟件的幫助。</p>

                            <p>唐人街就像一個家，它讓我感到舒適和安全，會從各個方面幫助我們適應美國，它給我帶來了許多令人難忘和美好的回憶，深藏在我的腦海裡，在一個對我來說很重要的地方。</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
            <% include ../partials/scripts %>
        </div>
    </body>

</html>
