<h1 class="xxl-font-size font-weight__700 text-black text-right mb-0 py-3">
  This website is a tour of the locations and culture of Chinatown presented by the Chinese-American Museum, through a partnership with the Illinois Institute of Technology.
</h1>
