<div class="en">
<h1>Buddhist Friendship Association/ Chicago Zhengjue Temple</h1>
<p>The Zhengjue Temple is the only Buddhist temple in Chinatown, developed in 2004 by the Buddhist Friendship Association. The original temple was on the northside of Chicago and formed by Vietnamese Chinese Buddhists in 1992. The location of the temple was challenging for the Chinese Buddhist immigrants residing in Chinatown because of the inconvenient transportation system and lengthy travel time. Up until the development of the temple in Chinatown, the believers within the community had difficulties in practicing their devotion. They needed one in their own community. The original temple was sold, and the current location was established. The temple, founded by Vietnamese Chinese believers, is now supported and respected by the majority of Chinese.</p>
<p>Today, the Buddhist Friendship Association has 300 members and with the inclusion of Dharam in Chinese and English, the practice of Buddhism is rising. The association plays an important role in the community. In addition to Buddhist lecture and practice guidance, they offer services such as disaster relief, blessing, funeral arrangements and vending auspicious items like incense, wooden fish, charms, ashes and more. Furthermore, the association participates in improvements and growth of the Chinatown community, in hopes to persevere the safety in the community. As Chicago’s Chinatown grows, the temple plans to grow with the community by developing an exhibit in the near future, where Chinese Buddhist culture can be available to all.</p>

<h2>Household Shrines</h2>
<p>In Buddhism, a shrine refers to a place where worshiping is focused on the Buddha or one of the bodhisattvas. On the shrine, you may find candles, flowers, purified water, food or incense. These items are offerings brought by Monks, nuns, and laypeople placed to create good fortune and strong mind. Often the offering performed are in preparation for mediation. It is said that the shrine reminds us to surrender the negatives in our lives so that we can feel peace, serenity, freedom and light.</p>

<h2>Joss Papers</h2>
<p>In the Buddhist mythology, the dead must pass the judgment by Yanluo, a wrathful god, a King of Hell.  The joss paper, also known as ‘spirit’ money, is burned or buried at the funeral as an offering. It has been noted that the offering can be used to bribe Yanluo, in hopes to shorten the imprisonment sentence or to purchase luxuries and necessities needed for a comfortable afterlife. The joss paper is about supporting and helping ancestors to have all they will need in the afterlife. Besides funerals, the paper is burned on the special holidays during traditional Chinese deity or ancestor worship ceremonies.</p>
<p>The spirit money is traditionally made from coarse bamboo paper, but rice paper is commonly used today.  The paper is cut into squares or rectangles, each have a thin piece of square foil or a traditional red Chinese seal in the center. The paper is white to represent the mourning of the deceased, and the square foils are either silver or gold, representing the wealth or money. Another appearance form of joss paper is "gold paper", shaped like ingots or towers. The spirit money and objects are used as a symbol of transformation, by burning it, it increases its value and serves as a payment of spiritual debts.</p>
</div>
<div class="zh_HANS">
<h1>芝加哥正觉寺</h1>
<p>正觉寺是唐人街唯一的一座佛教寺院，是由佛教协会在2004年成立的。最初的寺庙位于芝加哥北部，1992年由越南华人佛教徒组成。这座寺庙的位置对居住在唐人街的中国佛教移民来说是一个挑战，因为交通不便，行驶时间长。在唐人街的寺庙发展之前，社区内的信徒们很难实践他们的奉献。他们需要一座在他们自己的社区。原来的寺庙被卖掉了，现在的位置也建好了。这座寺庙由越南华人信徒建立，现在得到了大多数中国人的支持和尊重。</p>
<p>如今，佛教友谊协会已有300名会员，在中英两种语言中加入了达摩，佛教实践正在兴起。协会在社区中发挥了重要作用。除了佛教讲座和实践指导外，他们还提供救灾、祈福、葬礼安排和售卖吉祥物品，如香、木鱼、护身符、骨灰等。此外，协会也参与了唐人街社区的改善和发展，希望能保持社区的安全。随着芝加哥唐人街的发展，寺庙计划在不久的将来与社区一起呈现一个展览，让大家对中国佛教文化有更多的认识。</p>

<h1>家庭神龛</h1>
<p>在佛教中，神龛是指供奉佛或菩萨的地方。在神龛上，你可以找到蜡烛、鲜花、纯净水、食物或香。这些贡品为人们带来了好运。神龛提醒我们放弃生活中的消极，这样我们就能感受到和平、宁静、自由和光明。</p>

<h1>纸钱</h1>
<p>在佛教神话中，死者必须通过阎罗王的审判。纸钱,也被称为神钱,焚烧或掩埋在葬礼上为祭。该祭品可以用来贿赂阎罗王，希望缩短刑期，或者用来购买奢侈品和生活必需品，以获得一个舒适的来世。纸钱是关于支持和帮助祖先们拥有他们在来世所需要的一切。除了葬礼，纸钱是在中国传统的神祇或祭祖仪式的特殊节日焚烧。</p>
<p>传统的纸钱是用粗竹纸做的，但目前常用的是米纸。纸被切成正方形或长方形，每张都有一个薄薄的方形箔片或传统的红色中国印在中心。纸为白色，代表死者的哀悼，正方形箔是银或金，代表财富或金钱。另一种纸的外观形式是“金纸”，形状像锭或塔。纸钱和物品被用作转化的象征，通过燃烧它，它会增加它的价值并作为精神债务的偿还。</p>
</div>