<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body class="text-black base-font-size wrapper mx-auto h-100">
		<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
			<% include ../partials/nav %>
			<div class="en container pages-center-div">
				<div class="row">
					<div class="col py-4">
						<div class="show-hide-text">
							<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
							<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
						<h1>Chinese Zodiac Square</h1>
                            <audio src="/audio/en/chineseZodiac.mp3" controls>
                            Recording of Chinese Zodiac Square article
                            </audio>
								<p><br>Chinese Zodiac Square, located in the new district of Chinatown, is a square with Chinese Zodiac sculptures.<br> <br />
									The zodiac is part of traditional Chinese culture. The thoughts of using animals to match the year of birth of people are derived from ancient Chinese worship of animals. The animals represented in the zodiac are the rat, bull, tiger, rabbit, dragon, snake, horse, ram, monkey, rooster, dog, pig. Every Zodiac animal has their own unique stories and legends.<br> <br />
									As part of ancient Chinese culture, there are many poems and paintings depicting the zodiac in history.<br> <br />
									As time goes on, the zodiac nowadays is more associated with the Spring Festival instead of the belief. Many countries in the world have issued zodiac stamps during the Spring Festival to express their wishes for the Chinese New Year.<br> <br />
									Traditionally, the zodiac reflects and prescribes a balanced relationship among individuals, nature, and society. It comprehensively reflects the customs, thinking patterns, ethics, values, and aesthetics of traditional Chinese belief. </p>
							</div>
						</div>
						<div class="col py-5">
								<!-- <img src="" class="img-fluid" alt="Picture of Chinese Zodiac"> -->
						</div>
				</div>
			</div>
			<div class="zh_HANS container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
							<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
							<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
							<!-- <audio src="/audio/zh_HANS/chineseZodiac.mp3" controls>
                 Recording of Chinese Zodiac Square article
                 </audio> -->
				 <h1>十二生肖广场</h1>
								<p>十二生肖广场位于中国城新区，是一个有中国生肖雕塑的广场。<br>
								生肖是中国的一种传统文化，包含十二种用来匹配人出生年份的动物，它来源于古代人类对动物的一种崇拜和信仰。十二生肖包括鼠、牛、虎、兔、龙、蛇、马、羊、猴、鸡、狗、猪。每一个生肖动物都有自己独特的来历和传说。<br>
								作为悠久的文化的一部分，历史上留下了许多大量描绘生肖的诗歌，绘画等。<br>
								随着历史的发展，生肖在当今社会中更多的被当作是春节的吉祥物和娱乐文化的一种象征。世界多国在春节期间发行生肖邮票，以此来表达对中国新年的祝福。<br>
								生肖文化涉及人与自身、人与自然、人与人、人与社会等关系层面，深含思想观念，又密切联系实际，全面反映各民族的风俗习惯、思维模式、伦理道德、价值观念、审美情趣等。</p>
						</div>
					</div>
					<div class="col py-5">
							<img src="" class="img-fluid" alt="十二生肖广场的照片">
					</div>
				</div>
			</div>
			<div class="zh_HANT container ">
				<div class="row">
					<div class="col py-5">
						<div class="show-hide-text">
								<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
								<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>		
								<h1>		十二生肖廣場</h1>	
								<p>十二生肖廣場位於中國城新區，是一個有中國生肖雕塑的廣場。<br>
								生肖是中國的一種傳統文化，包含十二種用來匹配人出生年份的動物，它來源於古代人類對動物的一種崇拜和信仰。十二生肖包括鼠、牛、虎、兔、龍、蛇、馬、羊、猴、雞、狗、豬。每一個生肖動物都有自己獨特的來歷和傳說。<br>
								作為悠久的文化的一部分，歷史上留下了許多大量描繪生肖的詩歌，繪畫等。<br>
								隨著歷史的發展，生肖在當今社會中更多的被當作是春節的吉祥物和娛樂文化的一種象徵。世界多國在春節期間發行生肖郵票，以此來表達對中國新年的祝福。<br>
								生肖文化涉及人與自身、人與自然、人與人、人與社會等關係層面，深含思想觀念，又密切聯繫實際，全面反映各民族的風俗習慣、思維模式、倫理道德、價值觀念、審美情趣等。</p>
						</div>
					</div>
					<div class="col py-5">
							<！-- <img src="" class="img-fluid" alt="十二生肖廣場的照片"> -->
					</div>
				</div>
			</div>
			<% include ../partials/footer %>
			<% include ../partials/scripts %>
	</body>
</html>