<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body class="text-black base-font-size wrapper mx-auto h-100">
	<a href="javascript:scrollToTop();" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<% include ../partials/nav %>
	<div class="en container pages-center-div">
	    <div class="row">
		<div class="col py-4">
		    <div class="show-hide-text">
			<a  id="show-more-en" class="show-less-en" href="#show-less-en">Show less</a>
			<a  id="show-less-en" class="show-more-en" href="#show-more-en">Show more</a>
			<h1>Herbalist</h1>
                <audio src="/audio/en/medicine.mp3" controls>
                Recording of Kent Young Health Products article
                </audio>
			<p><br>Traditional medicine has been a part of Chinese culture for thousands of years. Some Chinese-Americans still use traditional medicine to a variety of degrees.<br> <br />
			    In Kent Young Health Products, customers can buy a wide range of herbs imported from China to treat their health issues. From basic ailments like the common cold or a traditional diagnosis like a “Yin-deficiency”, customers can discuss symptoms and receive the best treatment for them. <br> <br />
			    The treatments can come in the form of pre-packaged supplements and loose herbs depending on customer preference. Loose herbs are frequently used in more traditional treatments, like brewing teas at home. Visitors can find a wide variety of supplements and teas throughout the store.<br> <br />
			    Some Traditional Chinese Medicine stores also provide acupuncture and other alternative-medicine services. While treatments like acupuncture were originally part of Traditional Chinese Medicine, westerners have begun to embrace them as well. </p>
		    </div>
		</div>
		<div class="col py-5">
		    <img src="/images/locations/medicine.jpg" class="img-fluid" alt="Image of various boxes of herbal remedies">
		</div>
	    </div>
	</div>
	<div class="zh_HANS container ">
	    <div class="row">
		<div class="col py-5">
		    <div class="show-hide-text">
			<a  id="show-more-zhs" class="show-less-zhs" href="#show-less-zhs">收起</a>
			<a  id="show-less-zhs" class="show-more-zhs" href="#show-more-zhs">展开</a>
			<h1>中医简介</h1>
            <audio src="/audio/en/medicine.mp3" controls>
                Recording of Kent Young Health Products article
            </audio>
			<p>几千年来，传统医学一直是中国文化的一部分。一些华裔美国人仍然在不同程度上使用传统医学。在Kent Young Health Products公司，客户可以购买从中国进口的各种草药来治疗他们的健康问题。从普通感冒等基本疾病或“阴虚”等传统诊断中，顾客可以讨论症状并获得最佳治疗效果。根据客户的喜好，治疗方法可以是预包装的补充剂和松散的草药。松散的草药经常用于更传统的治疗，如在家酿造茶。游客可以在整个商店找到各种各样的补品和茶<br>
			    一些传统中药店也提供针灸和其他替代医学服务。虽然针灸等治疗原本是传统中医的一部分，但西方人也开始接受它们。杨博士是Kent Young Health Products Inc的老板。<br>
			    他曾在中国广州的中山医学院学习。起初，他研究西医，然后他研究了一些针灸，最终研究了中医。在芝加哥，它需要获得执照才能进行针灸，但是没有执业草药的许可结构。加州需要草药许可证，以及纽约。然而，在芝加哥，草药被视为食物，而不是药物。因此，任何人都可以出售草药，即使他们没有学位或经验。杨医生指出，某些州合法的草药在其他州是非法的。例如，长期以来一直治疗哮喘的麻黄在芝加哥是非法的，但在印第安纳州可能是合法的。像任何药物一样，浓度错误或混合不当的草药会产生不良影响。杨医生带我们了解了一个人如何解决问题并离开草药的整个过程。当有人走向他的办公桌时，他开始观察他们。他看着他们走路的方式，皮肤的颜色和眼睛。他倾听他们谈话的方式，并注意到任何问题。然后他抓住他们的脉搏，倾听他们认为他们有的问题。</p>
		    </div>
		</div>
		<div class="col py-5">
		    <img src="/images/locations/medicine.jpg" class="img-fluid" alt="中草药的照片">
		</div>
	    </div>
	</div>
	<div class="zh_HANT container ">
	    <div class="row">
			<div class="col py-5">
				<div class="show-hide-text">
				<a  id="show-more-zht" class="show-less-zht" href="#show-less-zht">收起</a>
				<a  id="show-less-zht" class="show-more-zht" href="#show-more-zht">展開</a>
				<h1>中医简介</h1>
					<p>幾千年來，傳統醫學一直是中國文化的一部分。一些華裔美國人仍然在不同程度上使用傳統醫學。在Kent Young Health Products公司，客戶可以購買從中國進口的各種草藥來治療他們的健康問題。從普通感冒等基本疾病或“陰虛”等傳統診斷中，顧客可以討論症狀並獲得最佳治療效果。根據客戶的喜好，治療方法可以是預包裝的補充劑和鬆散的草藥。鬆散的草藥經常用於更傳統的治療，如在家釀造茶。遊客可以在整個商店找到各種各樣的補品和茶<br>
						一些傳統中藥店也提供針灸和其他替代醫學服務。雖然針灸等治療原本是傳統中醫的一部分，但西方人也開始接受它們。楊博士是Kent Young Health Products Inc的老闆。<br>
						他曾在中國廣州的中山醫學院學習。起初，他研究西醫，然後他研究了一些針灸，最終研究了中醫。在芝加哥，它需要獲得執照才能進行針灸，但是沒有執業草藥的許可結構。加州需要草藥許可證，以及紐約。然而，在芝加哥，草藥被視為食物，而不是藥物。因此，任何人都可以出售草藥，即使他們沒有學位或經驗。楊醫生指出，某些州合法的草藥在其他州是非法的。例如，長期以來一直治療哮喘的麻黃在芝加哥是非法的，但在印第安納州可能是合法的。像任何藥物一樣，濃度錯誤或混合不當的草藥會產生不良影響。楊醫生帶我們了解了一個人如何解決問題並離開草藥的整個過程。當有人走向他的辦公桌時，他開始觀察他們。他看著他們走路的方式，皮膚的顏色和眼睛。他傾聽他們談話的方式，並註意到任何問題。然後他抓住他們的脈搏，傾聽他們認為他們有的問題。</p>
				</div>
			</div>
			<div class="col py-5">
				<img src="/images/locations/medicine.jpg" class="img-fluid" alt="中草药的照片">
			</div>
	    </div>
	</div>
    </body>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
</html>
